<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">search</i>
                <strong>{{modalTitle}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel panel-danger" is-open="true">

                    <uib-accordion-heading>
                        <i class="fa fa-search fa-lg"></i>
                        <span>خيارات البحث - بيانات الطالب</span>
                    </uib-accordion-heading>

                    <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="branch" class="control-label">[رقم الفرع] اسم الفرع</label>
                        <select id="branch"
                                data-placeholder="ابحث عن الفرع"
                                no-results-text="'لا توجد فروع توافق بحثك'"
                                placeholder-text-single="'اختر الفرع'"
                                class="form-control text-right"
                                chosen=""
                                focus-autofocus="1"
                                ng-model="buffer.branch"
                                ng-options="(' [ ' + branch.code + ' ] ' + ' ' + branch.name) for branch in branches | orderBy:'code' track by branch.id">
                        </select>
                    </div>

                    <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="master" class="control-label">[رقم التخصص] اسم التخصص</label>
                        <select id="master"
                                data-placeholder="ابحث عن التخصص"
                                no-results-text="'لا توجد تخصصات توافق بحثك'"
                                placeholder-text-single="'اختر التخصص'"
                                class="form-control text-right"
                                chosen=""
                                ng-model="buffer.master"
                                ng-options="(' [ ' + master.code + ' ] ' + ' ' + master.name) for master in buffer.branch.masters | orderBy:'code' track by master.id">
                        </select>
                    </div>

                    <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="course" class="control-label">رقم الدورة</label>
                        <select id="course"
                                data-placeholder="ابحث عن رقم الدورة"
                                no-results-text="'لا توجد ارقام توافق بحثك'"
                                placeholder-text-single="'اختر الرقم'"
                                class="form-control text-right"
                                chosen=""
                                ng-model="buffer.course"
                                ng-options="(' [ ' + course.code + ' ] ' + course.instructor) for course in buffer.master.courses | orderBy:'code' track by course.id">
                        </select>
                    </div>

                    <div class="form-group row">

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="firstName" class="control-label">الاسم الأول (يحتوى على) </label>
                            <input id="firstName"
                                   type="text"
                                   class="form-control text-right"
                                   placeholder="ادخل الاسم الأول او جزءاً منه"
                                   ng-model="buffer.firstName">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="secondName" class="control-label">الاسم الثاني (يحتوى على) </label>
                            <input id="secondName"
                                   type="text"
                                   class="form-control text-right"
                                   placeholder="ادخل الاسم الثاني او جزءاً منه"
                                   ng-model="buffer.secondName">
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="thirdName" class="control-label">الاسم الثالث (يحتوى على) </label>
                            <input id="thirdName"
                                   type="text"
                                   class="form-control text-right"
                                   placeholder="ادخل الاسم الثالث او جزءاً منه"
                                   ng-model="buffer.thirdName">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="forthName" class="control-label">الاسم الرابع (يحتوى على) </label>
                            <input id="forthName"
                                   type="text"
                                   class="form-control text-right"
                                   placeholder="ادخل الاسم الرابع او جزءاً منه"
                                   ng-model="buffer.forthName">
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="dateFrom" class="control-label">تاريخ التسجيل من</label>
                            <div dir="ltr" class="input-group">
                                <input dir="rtl"
                                       id="dateFrom"
                                       type="text"
                                       class="form-control text-right is-calendarPicker"
                                       ng-model="buffer.dateFrom"
                                       calendarType="ummalqura"
                                       language="en"
                                       dateFormat="yyyy/mm/dd"
                                       showOnFocus="false"
                                       readonly="readonly"
                                       kdatepicker>
                            </div>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="dateTo" class="control-label">تاريخ التسجيل إلى</label>
                            <div dir="ltr" class="input-group">
                                <input dir="rtl"
                                       id="dateTo"
                                       type="text"
                                       class="form-control text-right is-calendarPicker"
                                       ng-model="buffer.dateTo"
                                       calendarType="ummalqura"
                                       language="en"
                                       dateFormat="yyyy/mm/dd"
                                       showOnFocus="false"
                                       readonly="readonly"
                                       kdatepicker>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="identityNumber" class="control-label">رقم البطاقة (يحتوى
                                على)</label>
                            <input id="identityNumber"
                                   type="text"
                                   class="form-control text-right "
                                   placeholder="ادخل رقم البطاقة كاملاً او جزءاً منه"
                                   ng-model="buffer.studentIdentityNumber">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="mobile" class="control-label">رقم الجوال (يحتوى على)</label>
                            <input id="mobile"
                                   type="text"
                                   class="form-control text-right "
                                   placeholder="ادخل رقم الجوال كاملاً او جزءاً منه"
                                   ng-model="buffer.studentMobile">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="coursePriceFrom" class="control-label">المبلغ نقداً من </label>
                            <input id="coursePriceFrom"
                                   type="number"
                                   min="1"
                                   class="form-control text-right"
                                   placeholder="ادخل المبلغ من"
                                   ng-model="buffer.coursePriceFrom">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label for="coursePriceTo" class="control-label">المبلغ نقداً إلى </label>
                            <input id="coursePriceTo"
                                   type="number"
                                   min="1"
                                   class="form-control text-right"
                                   placeholder="ادخل المبلغ إلى"
                                   ng-model="buffer.coursePriceTo">
                        </div>
                    </div>

                </div>
                <div uib-accordion-group class="panel panel-primary" is-open="false">
                    <uib-accordion-heading>
                        <i class="fa fa-search fa-lg"></i>
                        <span>خيارات البحث - بيانات سند القبض</span>
                    </uib-accordion-heading>

                    <div class="form-group row">
                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="paymentCodeFrom" class="control-label">رقم السند من</label>
                            <input id="paymentCodeFrom"
                                   type="number"
                                   min="1"
                                   class="form-control text-right"
                                   placeholder="ادخل الرقم من"
                                   ng-model="buffer.paymentCodeFrom">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="paymentCodeTo" class="control-label">رقم السند إلى</label>
                            <input id="paymentCodeTo"
                                   type="number"
                                   min="1"
                                   class="form-control text-right"
                                   placeholder="ادخل الرقم إلى"
                                   ng-model="buffer.paymentCodeTo">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="paymentDateFrom" class="control-label">تاريخ السند من</label>
                            <div dir="ltr" class="input-group">
                                <input dir="rtl"
                                       id="paymentDateFrom"
                                       type="text"
                                       class="form-control text-right is-calendarPicker"
                                       ng-model="buffer.paymentDateFrom"
                                       calendarType="ummalqura"
                                       language="en"
                                       dateFormat="yyyy/mm/dd"
                                       showOnFocus="false"
                                       readonly="readonly"
                                       kdatepicker>
                            </div>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="paymentDateTo" class="control-label">تاريخ السند إلى</label>
                            <div dir="ltr" class="input-group">
                                <input dir="rtl"
                                       id="paymentDateTo"
                                       type="text"
                                       class="form-control text-right is-calendarPicker"
                                       ng-model="buffer.paymentDateTo"
                                       calendarType="ummalqura"
                                       language="en"
                                       dateFormat="yyyy/mm/dd"
                                       showOnFocus="false"
                                       readonly="readonly"
                                       kdatepicker>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="amountFrom" class="control-label">قيمة السند من </label>
                            <input id="amountFrom"
                                   type="number"
                                   min="1"
                                   class="form-control text-right"
                                   placeholder="ادخل القيمة من"
                                   ng-model="buffer.amountFrom">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="amountTo" class="control-label">قيمة السند إلى </label>
                            <input id="amountTo"
                                   type="number"
                                   min="1"
                                   class="form-control text-right"
                                   placeholder="ادخل القيمة إلى"
                                   ng-model="buffer.amountTo">
                        </div>
                    </div>

                    <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="type" class="control-label">نوع السند</label>
                        <select id="type"
                                style="height: 40px"
                                class="form-control text-right"
                                ng-model="buffer.type">
                            <option>ايرادات اساسية</option>
                            <option>ايرادات اضافية</option>
                        </select>
                    </div>

                </div>
            </uib-accordion>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="بحث"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">search</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine();"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>