<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">edit</i>
                <strong>نقل مجموعة من السندات إلى دفتر</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="paymentBook" class="control-label">دفتر السندات</label>
                <ui-select id="paymentBook"
                           ng-model="paymentWrapper.paymentBook"
                           required="required"
                           disable-validation-message=""
                           theme="bootstrap">
                    <ui-select-match placeholder="اختر دفتر السندات">
                        {{$select.selected.code}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="paymentBook in paymentBooks | filter: $select.search | orderBy:'code' track by paymentBook.id">
                        <div ng-bind-html="paymentBook.code | highlight: $select.search"></div>
                        <small>
                            <span>من رقم : </span>
                            <span ng-bind-html="''+paymentBook.fromCode | highlight: $select.search"></span>
                            <br/>
                            <span>إلى رقم : </span>
                            <span ng-bind-html="''+paymentBook.toCode | highlight: $select.search"></span>
                            <br/>
                            <span>الفرع : </span>
                            <span ng-bind-html="''+paymentBook.branch.name | highlight: $select.search"></span>
                            <br/>
                            <span>آخر رقم حالياً : </span>
                            <span ng-bind-html="''+paymentBook.maxCode | highlight: $select.search"></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="تعديل"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>