<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.contact.photo + ')'}"></span>
                        <span>{{me.contact.firstName}} {{me.contact.forthName}}</span>
                        <span class="mdl-list__item-sub-title">{{me.email}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span>المساعدة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span>عن البرنامج</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span>الملف الشخصي</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span>تسجيل الخروج</span>
                    </span>
                </li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div class="row">
                    <ul dir="rtl" class="breadcrumb">
                        <li ng-repeat="item in items | orderBy:'id' track by item.id">
                            <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                            <span ng-if="item.type==='title'" style="{{item.style}}">{{item.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                        <button id="branch-menu-lower-right" style="width: 100%;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <span>العمليات</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="branch-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="filter();">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">search</i>
                                    <span>عرض بيانات السندات</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openPaymentCreateModel()"
                                ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE'])">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">monetization_on</i>
                                    <span>انشاء سند قبض</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openPaymentHeavyWorkModel()"
                                ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE'])">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">build</i>
                                    <span>انشاء دفعة من السندات</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item" ng-click="delete(selected)"
                                ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_DELETE'])"
                                ng-hide="!payments || payments.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">delete</i>
                                    <span>حذف السند</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                        <button style="width:100%" id="report-menu-lower-right" style="width: 100%;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <span>التقارير</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="report-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportPaymentByBranchModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>السندات حسب الفرع</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportPaymentByMasterModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>السندات حسب التخصص</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportPaymentByCourseModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>السندات حسب الدورة</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportPaymentByAccountInModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>السندات حسب رقم الطالب</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div dir="rtl" class="row" style="margin-top: 10px">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="filter()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="تصفية البيانات">
                                    <span class="fa fa-filter"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE'])"
                                   ng-click="newPayment()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="انشاء سند جديد">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>قائمة سندات القبض</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection" st-safe-src="payments"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-right">
                                        <span>م</span>
                                    </th>

                                    <th st-sort="code" class="text-right">
                                        <span>رقم السند</span>
                                    </th>

                                    <th st-sort="date" class="text-right">
                                        <span>تاريخ السند</span>
                                    </th>

                                    <th st-sort="amountNumber" class="text-right">
                                        <span>قيمة السند</span>
                                    </th>

                                    <th st-sort="type" class="text-right">
                                        <span>نوع السند</span>
                                    </th>

                                    <th st-sort="account.id" class="text-right">
                                        <span>رقم الطالب</span>
                                    </th>

                                    <th st-sort="account.student.contact.firstName" class="text-right">
                                        <span>اسم الطالب</span>
                                    </th>

                                    <th st-sort="note" class="text-right">
                                        <span>بيان السند</span>
                                    </th>

                                    <th st-sort="lastPerson.contact.firstName" class="text-right">
                                        <span>مدخل السند</span>
                                    </th>

                                </tr>
                                <tr>
                                    <th colspan="9">
                                        <input st-search=""
                                               class="form-control"
                                               placeholder="بحث شامل وسريع..."
                                               type="text"/>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-right"
                                    ng-repeat="payment in collection"
                                    st-select-mode="single"
                                    context-menu="rowMenu"
                                    ng-click="setSelected(payment)"
                                    ng-right-click="setSelected(payment)"
                                    ng-class="{'mdl-color--brown-100':payment.isSelected}">
                                    <td st-select-row-custom="payment">{{$index+1}}</td>
                                    <td st-select-row-custom="payment">{{payment.code}}</td>
                                    <td st-select-row-custom="payment">
                                        {{payment.date | kdate: 'yyyy-mm-dd' : 'ar' :'ummalqura'}}
                                    </td>
                                    <td st-select-row-custom="payment">{{payment.amountNumber}}</td>
                                    <td st-select-row-custom="payment">{{payment.type}}</td>
                                    <td st-select-row-custom="payment">
                                        {{payment.account.code}}
                                        -
                                        {{payment.account.course.code}}
                                        -
                                        {{payment.account.course.master.code}}
                                        -
                                        {{payment.account.course.master.branch.code}}
                                        -
                                        {{payment.account.registerDate | kdate: 'yy' : 'ar' : 'ummalqura'}}
                                    </td>
                                    <td st-select-row-custom="payment">
                                        {{payment.account.student.contact.firstName}}
                                        {{payment.account.student.contact.secondName}}
                                        {{payment.account.student.contact.thirdName}}
                                        {{payment.account.student.contact.forthName}}
                                    </td>
                                    <td st-select-row-custom="payment">{{payment.note}}</td>
                                    <td st-select-row-custom="payment">
                                        {{payment.lastPerson.contact.firstName}}
                                        {{payment.lastPerson.contact.forthName}}
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection || collection.length ==0">
                                    <td colspan="9">لا توجد بيانات</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="9">
                                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </main>

</div>