<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="">

    <div class="modal-header">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="panel-title mdl-list__item pull-right">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">add</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-right">
                            <h3>البيانات الاساسية</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>رقم الطالب</td>
                                <td>
                                    {{payment.account.code}}
                                    -
                                    {{payment.account.course.code}}
                                    -
                                    {{payment.account.course.master.code}}
                                    -
                                    {{payment.account.course.master.branch.code}}
                                    -
                                    {{payment.account.registerDate | kdate: 'yy' : 'ar' : 'ummalqura'}}
                                </td>
                            </tr>
                            <tr>
                                <td>اسم الطالب</td>
                                <td>
                                    {{payment.account.student.contact.firstName}}
                                    {{payment.account.student.contact.secondName}}
                                    {{payment.account.student.contact.thirdName}}
                                    {{payment.account.student.contact.forthName}}
                                </td>
                            </tr>
                            <tr>
                                <td>رقم البطاقة</td>
                                <td>{{payment.account.student.contact.identityNumber}}</td>
                            </tr>
                            <tr>
                                <td>رقم الجوال</td>
                                <td>{{payment.account.student.contact.mobile}}</td>
                            </tr>
                            <tr>
                                <td>تاريخ التسجيل</td>
                                <td>{{payment.account.registerDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</td>
                            </tr>
                            <tr>
                                <td>المبلغ المطلوب</td>
                                <td>{{buffer.requiredPrice | currency:'SAR':0}}</td>
                            </tr>
                            <tr>
                                <td>المبلغ المدفوع</td>
                                <td>{{buffer.paidPrice | currency:'SAR':0}}</td>
                            </tr>
                            <tr>
                                <td>المبلغ المتبقي</td>
                                <td>{{buffer.remainPrice | currency:'SAR':0}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-right">
                            <h3>البيانات المطلوبة</h3>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="type" class="control-label">نوع السند</label>
                            <select id="type"
                                    style="height: 40px"
                                    class="form-control text-right"
                                    ng-model="payment.type"
                                    required="required"
                                    disable-validation-message="">
                                <option>ايرادات اساسية</option>
                                <option>ايرادات اضافية</option>
                            </select>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="dateFrom" class="control-label">التاريخ</label>
                            <div dir="ltr" class="input-group">
                                <input dir="rtl"
                                       id="dateFrom"
                                       type="text"
                                       class="form-control text-right is-calendarPicker"
                                       ng-model="payment.date"
                                       calendarType="ummalqura"
                                       language="en"
                                       dateFormat="yyyy/mm/dd"
                                       showOnFocus="false"
                                       readonly="readonly"
                                       kdatepicker>
                            </div>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label> رقم السند </label>
                            <input id="code"
                                   type="number"
                                   min="1"
                                   class="form-control text-right "
                                   required="required"
                                   disable-validation-message=""
                                   ng-model="payment.code">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label> قيمة السند </label>
                            <div dir="ltr" class="input-group">
                                <span class="input-group-addon">ريال</span>
                                <input dir="rtl"
                                       type="number"
                                       min="1"
                                       ng-max="(payment.type=='ايرادات اساسية' && buffer.remainPrice)"
                                       class="form-control text-right "
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="payment.amountNumber">
                            </div>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="note" class="control-label"> البيان </label>
                            <textarea id="note"
                                      type="text"
                                      msd-elastic="\n"
                                      class="form-control text-right"
                                      placeholder="الملاحظات"
                                      ng-model="payment.note">
                            </textarea>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>