<style>
    #filter .chosen-container.chosen-with-drop .chosen-drop {
        right: 0 !important;
        left: auto !important;
    }

    #filter .chosen-container .chosen-drop {
        right: -9999px !important;
        left: auto !important;
    }
</style>

<div dir="rtl" id="filter"
     ng-init="showFilter=false"
     ps-open="showFilter"
     pageslide=""
     ng-style="{'opacity':sideOpacity}"
     ps-side="left"
     ps-click-outside="false"
     ps-size="50%">

    <div class="panel panel-info" focus-group="" focus-stack=""
         focus-group-head="loop" focus-group-tail="loop">

        <div class="panel-heading">
            <a class="pull-left" href="" ng-click="showFilter=false"><span class="fa fa-close fa-2x"></span></a>
            <h3 class="panel-title pull-right">
                <span class="fa fa-database"></span>
                <span>بحث وطباعة</span>
            </h3>
        </div>

        <div class="panel-body"
             style="overflow-y: auto; overflow-x: hidden;"
             ng-style="resizeWithOffset(130)"
             resize="">

            <div class="row">

                <div class="col-md-12">
                    <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel panel-primary" is-open="true">
                            <uib-accordion-heading>
                                <i class="fa fa-search fa-lg"></i>
                                <span>خيارات البحث - بيانات سند القبض</span>
                            </uib-accordion-heading>

                            <div class="row">
                                <div class="form-group text-right col-sm-6">
                                    <label for="paymentCodeFrom" class="control-label">رقم السند من</label>
                                    <input id="paymentCodeFrom"
                                           type="number"
                                           min="1"
                                           focus-index="2"
                                           class="form-control text-right"
                                           placeholder="ادخل الرقم من"
                                           ng-model="buffer.paymentCodeFrom">
                                </div>

                                <div class="form-group text-right col-sm-6">
                                    <label for="paymentCodeTo" class="control-label">رقم السند إلى</label>
                                    <input id="paymentCodeTo"
                                           type="number"
                                           min="1"
                                           focus-index="2"
                                           class="form-control text-right"
                                           placeholder="ادخل الرقم إلى"
                                           ng-model="buffer.paymentCodeTo">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group text-right col-sm-6">
                                    <label for="paymentDateFrom" class="control-label">تاريخ السند من</label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="paymentDateFrom"
                                               type="text"
                                               focus-index="3"
                                               class="form-control text-right is-calendarPicker"
                                               ng-model="buffer.paymentDateFrom"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group text-right col-sm-6">
                                    <label for="paymentDateTo" class="control-label">تاريخ السند إلى</label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="paymentDateTo"
                                               type="text"
                                               focus-index="3"
                                               class="form-control text-right is-calendarPicker"
                                               ng-model="buffer.paymentDateTo"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group text-right col-md-6">
                                    <label for="amountFrom" class="control-label">قيمة السند من </label>
                                    <input id="amountFrom"
                                           type="number"
                                           min="1"
                                           focus-index="2"
                                           class="form-control text-right"
                                           placeholder="ادخل القيمة من"
                                           ng-model="buffer.amountFrom">
                                </div>

                                <div class="form-group text-right col-md-6">
                                    <label for="amountTo" class="control-label">قيمة السند إلى </label>
                                    <input id="amountTo"
                                           type="number"
                                           min="1"
                                           focus-index="2"
                                           class="form-control text-right"
                                           placeholder="ادخل القيمة إلى"
                                           ng-model="buffer.amountTo">
                                </div>
                            </div>

                            <div class="form-group text-right col-md-12">
                                <label for="type" class="control-label">نوع السند</label>
                                <select id="type"
                                        style="height: 40px"
                                        class="form-control text-right"
                                        ng-model="buffer.type"
                                        focus-index="2">
                                    <option>ايرادات اساسية</option>
                                    <option>ايرادات اضافية</option>
                                </select>
                            </div>

                        </div>
                        <div uib-accordion-group class="panel panel-danger" is-open="false">

                            <uib-accordion-heading>
                                <i class="fa fa-search fa-lg"></i>
                                <span>خيارات البحث - بيانات الطالب</span>
                            </uib-accordion-heading>

                            <div class="row">
                                <div class="form-group text-right col-md-6">
                                    <label for="firstName" class="control-label">الاسم الأول (يحتوى على) </label>
                                    <input id="firstName"
                                           type="text"
                                           focus-index="3"
                                           class="form-control text-right"
                                           focus-index="5"
                                           placeholder="ادخل الاسم الأول او جزءاً منه"
                                           ng-model="buffer.firstName">
                                </div>

                                <div class="form-group text-right col-md-6">
                                    <label for="secondName" class="control-label">الاسم الثاني (يحتوى على) </label>
                                    <input id="secondName"
                                           type="text"
                                           focus-index="3"
                                           class="form-control text-right"
                                           focus-index="5"
                                           placeholder="ادخل الاسم الثاني او جزءاً منه"
                                           ng-model="buffer.secondName">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group text-right col-md-6">
                                    <label for="thirdName" class="control-label">الاسم الثالث (يحتوى على) </label>
                                    <input id="thirdName"
                                           type="text"
                                           focus-index="3"
                                           class="form-control text-right"
                                           focus-index="5"
                                           placeholder="ادخل الاسم الثالث او جزءاً منه"
                                           ng-model="buffer.thirdName">
                                </div>

                                <div class="form-group text-right col-md-6">
                                    <label for="forthName" class="control-label">الاسم الرابع (يحتوى على) </label>
                                    <input id="forthName"
                                           type="text"
                                           focus-index="3"
                                           class="form-control text-right"
                                           focus-index="5"
                                           placeholder="ادخل الاسم الرابع او جزءاً منه"
                                           ng-model="buffer.forthName">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group text-right col-sm-6">
                                    <label for="dateFrom" class="control-label">تاريخ التسجيل من</label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="dateFrom"
                                               type="text"
                                               focus-index="3"
                                               class="form-control text-right is-calendarPicker"
                                               ng-model="buffer.dateFrom"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group text-right col-sm-6">
                                    <label for="dateTo" class="control-label">تاريخ التسجيل إلى</label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="dateTo"
                                               type="text"
                                               focus-index="3"
                                               class="form-control text-right is-calendarPicker"
                                               ng-model="buffer.dateTo"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group text-right col-md-6">
                                    <label for="identityNumber" class="control-label">رقم البطاقة (يحتوى
                                        على)</label>
                                    <input id="identityNumber"
                                           type="text"
                                           focus-index="6"
                                           class="form-control text-right "
                                           placeholder="ادخل رقم البطاقة كاملاً او جزءاً منه"
                                           ng-model="buffer.studentIdentityNumber">
                                </div>

                                <div class="form-group text-right col-md-6">
                                    <label for="mobile" class="control-label">رقم الجوال (يحتوى على)</label>
                                    <input id="mobile"
                                           type="text"
                                           focus-index="6"
                                           class="form-control text-right "
                                           placeholder="ادخل رقم الجوال كاملاً او جزءاً منه"
                                           ng-model="buffer.studentMobile">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group text-right col-md-6">
                                    <label for="coursePriceFrom" class="control-label">المبلغ نقداً من </label>
                                    <input id="coursePriceFrom"
                                           type="number"
                                           min="1"
                                           focus-index="2"
                                           class="form-control text-right"
                                           placeholder="ادخل المبلغ من"
                                           ng-model="buffer.coursePriceFrom">
                                </div>

                                <div class="form-group text-right col-md-6">
                                    <label for="coursePriceTo" class="control-label">المبلغ نقداً إلى </label>
                                    <input id="coursePriceTo"
                                           type="number"
                                           min="1"
                                           focus-index="2"
                                           class="form-control text-right"
                                           placeholder="ادخل المبلغ إلى"
                                           ng-model="buffer.coursePriceTo">
                                </div>
                            </div>

                            <div class="form-group text-right col-md-12">
                                <label for="branch" class="control-label">[رقم الفرع] اسم الفرع</label>
                                <select id="branch"
                                        data-placeholder="ابحث عن الفرع"
                                        no-results-text="'لا توجد فروع توافق بحثك'"
                                        placeholder-text-single="'اختر الفرع'"
                                        class="form-control text-right"
                                        chosen=""
                                        ng-model="buffer.branch"
                                        ng-options="(' [ ' + branch.code + ' ] ' + ' ' + branch.name) for branch in branches | orderBy:'code' track by branch.id">
                                </select>
                            </div>

                            <div class="form-group text-right col-md-12">
                                <label for="master" class="control-label">[رقم التخصص] اسم التخصص</label>
                                <select id="master"
                                        data-placeholder="ابحث عن التخصص"
                                        no-results-text="'لا توجد تخصصات توافق بحثك'"
                                        placeholder-text-single="'اختر التخصص'"
                                        class="form-control text-right"
                                        chosen=""
                                        ng-model="buffer.master"
                                        ng-options="(' [ ' + master.code + ' ] ' + ' ' + master.name) for master in buffer.branch.masters | orderBy:'code' track by master.id">
                                </select>
                            </div>

                            <div class="form-group text-right col-md-12">
                                <label for="course" class="control-label">رقم الدورة</label>
                                <select id="course"
                                        data-placeholder="ابحث عن رقم الدورة"
                                        no-results-text="'لا توجد ارقام توافق بحثك'"
                                        placeholder-text-single="'اختر الرقم'"
                                        class="form-control text-right"
                                        chosen=""
                                        ng-model="buffer.course"
                                        ng-options="course.code for course in buffer.master.courses track by course.id">
                                </select>
                            </div>

                        </div>
                        <div uib-accordion-group class="panel panel-danger" is-open="false">

                            <uib-accordion-heading>
                                <i class="fa fa-print fa-lg"></i>
                                <span>خيارات الطباعة</span>
                            </uib-accordion-heading>

                            <div class="row">

                                <div class="form-group text-right col-md-6">
                                    <label for="exportType" class="control-label">نوع الملف المستخرج</label>
                                    <select id="exportType"
                                            style="height: 40px"
                                            class="form-control text-right"
                                            ng-model="buffer.exportType"
                                            focus-index="2">
                                        <option value="PDF">
                                            <span>ملف من نوع PDF</span>
                                        </option>
                                        <option value="HTML">
                                            <span>ملف من نوع HTML</span>
                                        </option>
                                        <option value="RTF">
                                            <span>ملف من نوع RTF</span>
                                        </option>
                                        <option value="XHTML">
                                            <span>ملف من نوع XHTML</span>
                                        </option>
                                        <option value="XLSX">
                                            <span>ملف من نوع XLSX</span>
                                        </option>
                                        <option value="CSV">
                                            <span>ملف من نوع CSV</span>
                                        </option>
                                        <option value="PPTX">
                                            <span>ملف من نوع PPTX</span>
                                        </option>
                                        <option value="DOCX">
                                            <span>ملف من نوع DOCX</span>
                                        </option>
                                        <option value="ODS">
                                            <span>ملف من نوع ODS</span>
                                        </option>
                                        <option value="ODT">
                                            <span>ملف من نوع ODT</span>
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group text-right col-md-6">
                                    <label for="orientation" class="control-label">إتجاة الطباعة</label>
                                    <select id="orientation"
                                            style="height: 40px"
                                            class="form-control text-right"
                                            ng-model="buffer.orientation"
                                            focus-index="2">
                                        <option value="Landscape">
                                            <span>افقي Landscape</span>
                                        </option>
                                        <option value="Portrait">
                                            <span>عمودي Portrait</span>
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group text-right col-sm-12">
                                    <label for="reportTitle" class="control-label">عنوان التقرير</label>
                                    <input id="reportTitle"
                                           type="text"
                                           focus-index="2"
                                           class="form-control text-right"
                                           placeholder="ادخل عنوان التقرير"
                                           ng-model="buffer.reportTitle">
                                </div>

                                <div class="form-group text-right col-sm-12">

                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>

                                                <th></th>

                                                <th class="text-center">
                                                    <span>اسم العمود</span>
                                                </th>

                                                <th class="text-center fit">
                                                    <span>عرض</span>
                                                </th>

                                                <th class="text-center fit">
                                                    <span>تجميع</span>
                                                </th>

                                                <th class="text-center fit">
                                                    <span>ترتيب</span>
                                                </th>

                                            </tr>
                                            </thead>
                                            <tbody ui-sortable="{ 'ui-floating': true, handle: '> .myHandle' }"
                                                   ng-model="columns">
                                            <tr class="text-right"
                                                ng-repeat="column in columns">
                                                <td class="myHandle fit" style="cursor: move"><i
                                                        class="fa fa-arrows"></i></td>
                                                <td>{{column.name}}</td>
                                                <td class="fit"><input type="checkbox" style="height: 15px !important;"
                                                                       ng-model="column.view"></td>
                                                <td class="fit"><input type="checkbox" style="height: 15px !important;"
                                                                       ng-model="column.groupBy"></td>
                                                <td class="fit"><input type="checkbox" style="height: 15px !important;"
                                                                       ng-model="column.sortBy"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                                <div class="form-group text-right col-md-12">
                                    <label for="groupVariables" class="control-label">المعروض فى ذيل كل مجموعة</label>
                                    <select id="groupVariables"
                                            data-placeholder="اختر"
                                            no-results-text="'لا توجد اختيارات توافق بحثك'"
                                            placeholder-text-multiple="'اختر'"
                                            class="form-control text-right"
                                            chosen=""
                                            multiple=""
                                            ng-model="buffer.groupVariables"
                                            focus-index="1"
                                            ng-options="variable.name for variable in variables">
                                    </select>
                                </div>

                                <div class="form-group text-right col-md-12">
                                    <label for="tableVariables" class="control-label">المعروض فى ذيل الجدول</label>
                                    <select id="tableVariables"
                                            data-placeholder="اختر"
                                            no-results-text="'لا توجد اختيارات توافق بحثك'"
                                            placeholder-text-multiple="'اختر'"
                                            class="form-control text-right"
                                            chosen=""
                                            multiple=""
                                            ng-model="buffer.tableVariables"
                                            focus-index="1"
                                            ng-options="variable.name for variable in variables">
                                    </select>
                                </div>


                            </div>

                        </div>
                    </uib-accordion>
                </div>

            </div>

        </div>

        <div class="panel-footer">

            <div class="row">

                <div class="form-group col-md-4 pull-left">
                    <button type="button"
                            focus-index="5"
                            style="width: 100%"
                            ng-click="filter()"
                            class="btn btn-success">
                        <span>عرض وتصفية</span>
                        <i class="fa fa-filter fa-lg"></i>
                    </button>
                </div>
                <div class="form-group col-md-4 pull-left">
                    <button type="button"
                            focus-index="5"
                            style="width: 100%"
                            ng-click="print()"
                            class="btn btn-warning">
                        <span>طباعة</span>
                        <i class="fa fa-print fa-lg"></i>
                    </button>
                </div>
                <div class="form-group col-md-4 pull-left">
                    <button type="button"
                            ng-click="clear()"
                            focus-index="13"
                            style="width: 100%"
                            class="btn btn-primary">
                        <span>مسح الحقول</span>
                        <i class="fa fa-recycle  fa-lg"></i>
                    </button>
                </div>

            </div>

        </div>

    </div>


</div>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
                <li class="mdl-menu__item">
                    <span>المساعدة</span>
                </li>
                <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">
                    <span>الملف الشخصي</span>
                </li>
                <li class="mdl-menu__item" ng-click="logout()">
                    <span>تسجيل الخروج</span>
                </li>
            </ul>
            <nav class="mdl-navigation">
                <button id="report-offer-menu-lower-left" style="width: 100%;"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    <span>التقارير</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                    for="report-offer-menu-lower-left">
                    <li class="mdl-menu__item"
                        ng-click="ReportModelProvider.openReportPaymentByBranchModel()">
                        <span>السندات حسب الفرع</span>
                    </li>
                    <li class="mdl-menu__item"
                        ng-click="ReportModelProvider.openReportPaymentByMasterModel()">
                        <span>السندات حسب التخصص</span>
                    </li>
                    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"
                        ng-click="ReportModelProvider.openReportPaymentByCourseModel()">
                        <span>السندات حسب الدورة</span>
                    </li>
                    <li class="mdl-menu__item"
                        ng-click="ReportModelProvider.openReportPaymentByAccountInModel()">
                        <span>السندات حسب رقم الطالب</span>
                    </li>
                </ul>
            </nav>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div class="form-group col-md-2 pull-right">
                    <button id="offer-menu-lower-right" style="width: 100%;"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                        <span>العمليات</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="offer-menu-lower-right">
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" ng-click="reload()">
                            <span>تحديث</span>
                        </li>
                        <li class="mdl-menu__item" ng-click="showFilter=true">
                            <span>تصفية وعرض البيانات</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div dir="rtl" style="margin-top: 10px">

            <div class="col-md-12">
                <div class="panel panel-body">

                    <div class="table-responsive">
                        <table st-table="collection" st-safe-src="payments" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>
                                <th class="text-right">
                                    <span>م</span>
                                    <a href="" ng-click="showFilter=true">
                                        <span style="font-size: 25px" class="fa fa-filter fa-lg"></span>
                                    </a>
                                </th>

                                <th st-sort="code" class="text-right">
                                    <span>رقم السند</span>
                                </th>

                                <th st-sort="date" class="text-right">
                                    <span>تاريخ السند</span>
                                </th>

                                <th st-sort="amountNumber" class="text-right">
                                    <span>قيمة السند</span>
                                </th>

                                <th st-sort="type" class="text-right">
                                    <span>نوع السند</span>
                                </th>

                                <th st-sort="account.id" class="text-right">
                                    <span>رقم الطالب</span>
                                </th>

                                <th st-sort="lastPerson.contact.firstName" class="text-right">
                                    <span>مدخل السند</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-right"
                                ng-repeat="payment in collection"
                                st-select-mode="single"
                                ng-click="setSelected(payment)"
                                ng-right-click="setSelected(payment)"
                                ng-class="{'mdl-color--brown-100':payment.isSelected}">
                                <td st-select-row-custom="payment">{{$index+1}}</td>
                                <td st-select-row-custom="payment">
                                    {{payment.code}}
                                    <span class="fa fa-info-circle" tooltip-append-to-body="true" uib-tooltip="{{payment.note}}"></span>
                                </td>
                                <td st-select-row-custom="payment">{{payment.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                                </td>
                                <td st-select-row-custom="payment">{{payment.amountNumber}}</td>
                                <td st-select-row-custom="payment">{{payment.type}}</td>
                                <td st-select-row-custom="payment">
                                    {{payment.account.student.code}}
                                    -
                                    {{payment.account.course.code}}
                                    -
                                    {{payment.account.course.master.code}}
                                    -
                                    {{payment.account.course.master.branch.code}}
                                    -
                                    {{payment.account.registerDate | kdate: 'yy' : 'ar' : 'ummalqura'}}
                                </td>
                                <td st-select-row-custom="payment">
                                    {{payment.lastPerson.contact.firstName}}
                                    {{payment.lastPerson.contact.forthName}}
                                    <span class="label label-default">فرع / {{payment.lastPerson.branch.name}}</span>
                                </td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!collection || collection.length ==0">
                                <td colspan="7">لا توجد بيانات</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

    </main>

</div>