<style>
    #filter .chosen-container.chosen-with-drop .chosen-drop {
        right: 0 !important;
        left: auto !important;
    }

    #filter .chosen-container .chosen-drop {
        right: -9999px !important;
        left: auto !important;
    }
</style>

<div dir="rtl" id="filter"
     ng-init="showFilter=false"
     ps-open="showFilter"
     pageslide=""
     ng-style="{'opacity':sideOpacity}"
     ps-side="left"
     ps-click-outside="false"
     ps-size="50%">

    <div class="panel panel-info" focus-group="" focus-stack=""
         focus-group-head="loop" focus-group-tail="loop">

        <div class="panel-heading">
            <a class="pull-left" href="" ng-click="showFilter=false"><span class="fa fa-close fa-2x"></span></a>
            <h3 class="panel-title pull-right">
                <span class="fa fa-database"></span>
                <span>تصفية متعددة من قاعدة البيانات</span>
            </h3>
        </div>

        <div class="panel-body"
             style="overflow-y: auto; overflow-x: hidden;"
             ng-style="resizeWithOffset(130)"
             resize="">

            <div class="row">

                <div class="form-group text-right col-md-12">
                    <label for="branch" class="control-label">[رقم الفرع] اسم الفرع</label>
                    <select id="branch"
                            data-placeholder="ابحث عن الفرع"
                            no-results-text="'لا توجد فروع توافق بحثك'"
                            placeholder-text-single="'اختر الفرع'"
                            class="form-control text-right"
                            chosen=""
                            ng-model="buffer.branch"
                            ng-options="(' [ ' + branch.code + ' ] ' + ' ' + branch.name) for branch in branches | orderBy:'code' track by branch.id">
                    </select>
                </div>

                <div class="row">
                    <div class="form-group text-right col-sm-6">
                        <label for="paymentCodeFrom" class="control-label">رقم السند من</label>
                        <input id="paymentCodeFrom"
                               type="number"
                               min="1"
                               class="form-control text-right"
                               placeholder="ادخل الرقم من"
                               ng-model="buffer.paymentCodeFrom">
                    </div>

                    <div class="form-group text-right col-sm-6">
                        <label for="paymentCodeTo" class="control-label">رقم السند إلى</label>
                        <input id="paymentCodeTo"
                               type="number"
                               min="1"
                               class="form-control text-right"
                               placeholder="ادخل الرقم إلى"
                               ng-model="buffer.paymentCodeTo">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group text-right col-sm-6">
                        <label for="paymentDateFrom" class="control-label">تاريخ السند من</label>
                        <div dir="ltr" class="input-group">
                            <input dir="rtl"
                                   id="paymentDateFrom"
                                   type="text"
                                   class="form-control text-right is-calendarPicker"
                                   ng-model="buffer.paymentDateFrom"
                                   calendarType="ummalqura"
                                   language="en"
                                   dateFormat="yyyy/mm/dd"
                                   showOnFocus="false"
                                   readonly="readonly"
                                   kdatepicker>
                        </div>
                    </div>

                    <div class="form-group text-right col-sm-6">
                        <label for="paymentDateTo" class="control-label">تاريخ السند إلى</label>
                        <div dir="ltr" class="input-group">
                            <input dir="rtl"
                                   id="paymentDateTo"
                                   type="text"
                                   class="form-control text-right is-calendarPicker"
                                   ng-model="buffer.paymentDateTo"
                                   calendarType="ummalqura"
                                   language="en"
                                   dateFormat="yyyy/mm/dd"
                                   showOnFocus="false"
                                   readonly="readonly"
                                   kdatepicker>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group text-right col-md-6">
                        <label for="amountFrom" class="control-label">قيمة السند من </label>
                        <input id="amountFrom"
                               type="number"
                               min="1"
                               class="form-control text-right"
                               placeholder="ادخل القيمة من"
                               ng-model="buffer.amountFrom">
                    </div>

                    <div class="form-group text-right col-md-6">
                        <label for="amountTo" class="control-label">قيمة السند إلى </label>
                        <input id="amountTo"
                               type="number"
                               min="1"
                               class="form-control text-right"
                               placeholder="ادخل القيمة إلى"
                               ng-model="buffer.amountTo">
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-footer">

            <div class="row">
                <button uib-tooltip="بحث"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="filter()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <i class="material-icons">search</i>
                </button>
                <button uib-tooltip="مسح الحقول"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="clear()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <i class="material-icons">delete</i>
                </button>
                <button uib-tooltip="خروج"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="showFilter=false"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <i class="material-icons">power_settings_new</i>
                </button>
            </div>

        </div>

    </div>

</div>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.contact.photo + ')'}"></span>
                        <span>{{me.contact.firstName}} {{me.contact.forthName}}</span>
                        <span class="mdl-list__item-sub-title">{{me.email}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span>المساعدة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span>عن البرنامج</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span>الملف الشخصي</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span>تسجيل الخروج</span>
                    </span>
                </li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div class="row">
                    <ul dir="rtl" class="breadcrumb">
                        <li ng-repeat="item in items | orderBy:'id' track by item.id">
                            <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                            <span ng-if="item.type==='title'" style="{{item.style}}">{{item.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 pull-right">
                        <button id="branch-menu-lower-right" style="width: 100%;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <span>العمليات</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="branch-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="showFilter=true">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">visibility</i>
                                <span>عرض بيانات السندات</span>
                            </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openPaymentOutCreateModel()"
                                ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE'])">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">add</i>
                                    <span>انشاء سند جديد</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item" ng-click="delete(selected)"
                                ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_DELETE'])"
                                ng-hide="!accounts || accounts.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">delete</i>
                                    <span>حذف السند</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div dir="rtl" class="row" style="margin-top: 10px">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-body">

                    <div class="table-responsive">
                        <table st-table="collection" st-safe-src="payments"
                               class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>
                                <th class="text-right">
                                    <span>م</span>
                                </th>

                                <th st-sort="code" class="text-right">
                                    <span>رقم السند</span>
                                </th>

                                <th st-sort="date" class="text-right">
                                    <span>تاريخ السند</span>
                                </th>

                                <th st-sort="amountNumber" class="text-right">
                                    <span>قيمة السند</span>
                                </th>

                                <th st-sort="toName" class="text-right">
                                    <span>وجهة الصرف</span>
                                </th>

                                <th st-sort="note" class="text-right">
                                    <span>بيان الصرف</span>
                                </th>

                                <th st-sort="lastPerson.contact.firstName" class="text-right">
                                    <span>مدخل السند</span>
                                </th>

                            </tr>
                            <tr>
                                <th colspan="7"><input st-search="" class="form-control" placeholder="بحث شامل وسريع..."
                                                       type="text"/></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-right"
                                ng-repeat="payment in collection"
                                st-select-mode="single"
                                ng-click="setSelected(payment)"
                                ng-right-click="setSelected(payment)"
                                ng-class="{'mdl-color--brown-100':payment.isSelected}">
                                <td st-select-row-custom="payment">{{$index+1}}</td>
                                <td st-select-row-custom="payment">{{payment.code}}</td>
                                <td st-select-row-custom="payment">{{payment.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                                </td>
                                <td st-select-row-custom="payment">{{payment.amountNumber}}</td>
                                <td st-select-row-custom="payment">{{payment.toName}}</td>
                                <td st-select-row-custom="payment">{{payment.note}}</td>
                                <td st-select-row-custom="payment">
                                    {{payment.lastPerson.contact.firstName}}
                                    {{payment.lastPerson.contact.forthName}}
                                </td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!collection || collection.length ==0">
                                <td colspan="7">لا توجد بيانات</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

    </main>

</div>