<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="mdl-layout-spacer"></div>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span>خيارات البرنامج</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="goFullscreen()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">aspect_ratio</i>
                        <span>تطبيق وضع ملء الشاشة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='G'">تطبيق التاريخ الهجري</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span>المزيد من الخيارات</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.contact.photo + ')'}"></span>
                        <span>{{me.contact.firstName}} {{me.contact.forthName}}</span>
                        <span class="mdl-list__item-sub-title">{{me.email}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span>المساعدة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span>عن البرنامج</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span>الملف الشخصي</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span>تسجيل الخروج</span>
                    </span>
                </li>
            </ul>

        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div class="row">
                    <ul dir="rtl" class="breadcrumb">
                        <li ng-repeat="item in items | orderBy:'id' track by item.id">
                            <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                            <span ng-if="item.type==='title'" style="{{item.style}}">{{item.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                        <button id="branch-menu-lower-right" style="width: 100%;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <span>العمليات</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="branch-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="filter();">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">search</i>
                                    <span>عرض بيانات السندات</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="newPaymentOut()"
                                ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_OUT_CREATE'])">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">add</i>
                                    <span>انشاء سند جديد</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="delete(selected)"
                                ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_OUT_DELETE'])"
                                ng-hide="!accounts || accounts.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">delete</i>
                                    <span>حذف السند</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                        <button style="width:100%" id="report-menu-lower-right" style="width: 100%;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <span>التقارير</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="report-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportPaymentOutByBranchModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>السندات حسب الفرع</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportPaymentOutByPersonModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>السندات حسب المستخدم</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="mdl-layout__drawer" style="padding-top: 175px !important;">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToMenu()">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">dashboard</i>
                    <span>الرئيسية</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToCompany()"
               ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">business</i>
                    <span>الشركة</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToBranch()"
               ng-if="contains(me.team.authorities, ['ROLE_BRANCH_CREATE', 'ROLE_BRANCH_UPDATE', 'ROLE_BRANCH_DELETE', 'ROLE_BRANCH_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">layers</i>
                    <span>الفروع</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToMaster()"
               ng-if="contains(me.team.authorities, ['ROLE_MASTER_CREATE', 'ROLE_MASTER_UPDATE', 'ROLE_MASTER_DELETE', 'ROLE_MASTER_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">import_contacts</i>
                    <span>التخصصات</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToOffer()"
               ng-if="contains(me.team.authorities, ['ROLE_OFFER_CREATE', 'ROLE_OFFER_UPDATE', 'ROLE_OFFER_DELETE', 'ROLE_OFFER_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">collections_bookmark</i>
                    <span>العروض</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToCourse()"
               ng-if="contains(me.team.authorities, ['ROLE_COURSE_CREATE', 'ROLE_COURSE_UPDATE', 'ROLE_COURSE_DELETE', 'ROLE_COURSE_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">card_travel</i>
                    <span>الدورات</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToAccount()"
               ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE', 'ROLE_ACCOUNT_UPDATE', 'ROLE_ACCOUNT_DELETE', 'ROLE_ACCOUNT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">local_library</i>
                    <span>تسجيل الطلاب</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToPayment()"
               ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE', 'ROLE_PAYMENT_UPDATE', 'ROLE_PAYMENT_DELETE', 'ROLE_PAYMENT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">monetization_on</i>
                    <span>سندات القبض</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToBillBuyType()"
               ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_TYPE_CREATE', 'ROLE_BILL_BUY_TYPE_UPDATE', 'ROLE_BILL_BUY_TYPE_DELETE', 'ROLE_BILL_BUY_TYPE_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">subtitles</i>
                    <span>حسابات فواتير الشراء</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToBillBuy()"
               ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE', 'ROLE_BILL_BUY_UPDATE', 'ROLE_BILL_BUY_DELETE', 'ROLE_BILL_BUY_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">shopping_cart</i>
                    <span>فواتير الشراء</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToBank()"
               ng-if="contains(me.team.authorities, ['ROLE_BANK_CREATE', 'ROLE_BANK_UPDATE', 'ROLE_BANK_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">account_balance</i>
                    <span>الحسابات البنكية</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToDeposit()"
               ng-if="contains(me.team.authorities, ['ROLE_DEPOSIT_CREATE', 'ROLE_DEPOSIT_UPDATE', 'ROLE_DEPOSIT_DELETE', 'ROLE_DEPOSIT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">archive</i>
                    <span>الايداع البنكي</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToWithdraw()"
               ng-if="contains(me.team.authorities, ['ROLE_WITHDRAW_CREATE', 'ROLE_WITHDRAW_UPDATE', 'ROLE_WITHDRAW_DELETE', 'ROLE_WITHDRAW_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">unarchive</i>
                    <span>السحب البنكي</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToTeam()"
               ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">security</i>
                    <span>الصلاحيات</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToPerson()"
               ng-if="contains(me.team.authorities, ['ROLE_PERSON_CREATE', 'ROLE_PERSON_UPDATE', 'ROLE_PERSON_DELETE', 'ROLE_PERSON_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">lock</i>
                    <span>المستخدمون</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToReport()">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">assignment</i>
                    <span>التقارير</span>
                </span>
            </a>
        </nav>
    </div>

    <main class="mdl-layout__content">

        <div dir="rtl" class="row" style="margin-top: 10px">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="filter()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="تصفية البيانات">
                                    <span class="fa fa-filter"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_OUT_CREATE'])"
                                   ng-click="newPaymentOut()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="انشاء سند جديد">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>قائمة سندات الصرف</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection" st-safe-src="paymentOuts"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-right">
                                        <span>م</span>
                                    </th>

                                    <th st-sort="code" class="text-right">
                                        <span>رقم السند</span>
                                    </th>

                                    <th st-sort="date" class="text-right">
                                        <span>تاريخ السند</span>
                                    </th>

                                    <th st-sort="amountNumber" class="text-right">
                                        <span>قيمة السند</span>
                                    </th>

                                    <th st-sort="toName" class="text-right">
                                        <span>وجهة الصرف</span>
                                    </th>

                                    <th st-sort="note" class="text-right">
                                        <span>بيان الصرف</span>
                                    </th>

                                    <th st-sort="person.contact.firstName" class="text-right">
                                        <span>مدخل السند</span>
                                    </th>

                                </tr>
                                <tr>
                                    <th colspan="7">
                                        <input st-search=""
                                               class="form-control"
                                               placeholder="بحث شامل وسريع..."
                                               type="text"/>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-right"
                                    ng-repeat="paymentOut in collection"
                                    st-select-mode="single"
                                    context-menu="rowMenu"
                                    ng-click="setSelected(paymentOut)"
                                    ng-right-click="setSelected(paymentOut)"
                                    ng-class="{'mdl-color--brown-100':paymentOut.isSelected}">
                                    <td st-select-row-custom="paymentOut">{{$index+1}}</td>
                                    <td st-select-row-custom="paymentOut">{{paymentOut.code}}</td>
                                    <td st-select-row-custom="paymentOut">{{paymentOut.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</td>
                                    <td st-select-row-custom="paymentOut">{{paymentOut.amountNumber}}</td>
                                    <td st-select-row-custom="paymentOut">{{paymentOut.toName}}</td>
                                    <td st-select-row-custom="paymentOut">{{paymentOut.note}}</td>
                                    <td st-select-row-custom="paymentOut">
                                        {{paymentOut.person.contact.firstName}}
                                        {{paymentOut.person.contact.forthName}}
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection || collection.length ==0">
                                    <td colspan="7">لا توجد بيانات</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </main>

</div>