<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <h3 class="modal-title text-center" id="modal-title">{{title}}</h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group row">
                <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label for="branch" class="control-label">[رقم الفرع] الفرع</label>
                    <select id="branch"
                            data-placeholder="ابحث عن الفروع"
                            no-results-text="'لا توجد فروع توافق بحثك'"
                            placeholder-text-single="'اختر الفروع'"
                            class="form-control text-right"
                            chosen=""
                            focus-autofocus="1"
                            ng-model="master.branch"
                            required="required"
                            disable-validation-message=""
                            ng-options="(' [ ' + branch.code + ' ] ' + ' ' + branch.name) for branch in branches | orderBy:'code' track by branch.id">
                    </select>
                </div>

                <div class="form-group text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label for="masterCategory" class="control-label">[رقم التصنيف] التصنيف</label>
                <select id="masterCategory"
                        data-placeholder="ابحث عن التصنيفات"
                        no-results-text="'لا توجد بيانات توافق بحثك'"
                        placeholder-text-single="'اختر التصنيفات'"
                        class="form-control text-right"
                        chosen=""
                        ng-model="master.masterCategory"
                        required="required"
                        disable-validation-message=""
                        ng-options="(' [ ' + masterCategory.code + ' ] ' + ' ' + masterCategory.name) for masterCategory in masterCategories | orderBy:'code' track by masterCategory.id">
                </select>
            </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="action==='update'">
                <label for="code" class="control-label">رقم التخصص</label>
                <input id="code"
                       type="text"
                       ng-required="action==='update'"
                       disable-validation-message=""
                       class="form-control text-right"
                       placeholder="رقم التخصص الغير مكرر على مستوي الفرع"
                       ng-model="master.code">
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="name" class="control-label">اسم التخصص</label>
                <input id="name"
                       type="text"
                       required="required"
                       disable-validation-message=""
                       class="form-control text-right"
                       placeholder="اسم التخصص"
                       ng-model="master.name">
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="period" class="control-label">مدة التخصص</label>
                <input id="period"
                       type="text"
                       required="required"
                       disable-validation-message=""
                       class="form-control text-right"
                       placeholder="مدة التخصص"
                       ng-model="master.period">
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="تعديل"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>