<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-color-text--white mdl-list__item pull-right">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
                <strong>البحث المتقدم فى بيانات المستثمرين</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="form-group row">

            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                <div class="mdl-tabs__tab-bar">
                    <a href="#panel-1-task-filter" class="mdl-tabs__tab col-xs-6 col-sm-6 col-md-6 col-lg-6 is-active">
                        <span>البيانات الأساسية</span>
                    </a>
                    <a href="#panel-2-task-filter" class="mdl-tabs__tab col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span>خيارات</span>
                    </a>
                </div>

                <div class="mdl-tabs__panel is-active" id="panel-1-task-filter">

                    <div class="form-group row">

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="codeFrom" class="control-label">رقم المستثمر من</label>
                            <input id="codeFrom"
                                   type="number"
                                   min="1"
                                   class="form-control"
                                   placeholder="اختياري"
                                   ng-model="paramSeller.codeFrom">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="codeTo" class="control-label">رقم المستثمر إلى</label>
                            <input id="codeTo"
                                   type="number"
                                   min="1"
                                   class="form-control"
                                   placeholder="اختياري"
                                   ng-model="paramSeller.codeTo">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="importance" class="control-label">
                                <span>حالة المستثمر</span>
                            </label>
                            <select id="importance"
                                    placeholder="اختياري"
                                    class="form-control"
                                    ng-model="paramSeller.enabled">
                                <option value="true">فعال</option>
                                <option value="false">غير فعال</option>
                            </select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-init="paramSeller.calendar='H'">
                            <label for="calendar" class="control-label">نوع التقويم</label>
                            <select id="calendar"
                                    style="height: 40px"
                                    class="form-control"
                                    ng-model="paramSeller.calendar"
                                    required="required"
                                    disable-validation-message="">
                                <option value="H">تقويم هجري</option>
                                <option value="G">تقويم ميلادي</option>
                            </select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="paramSeller.calendar==='H'">
                            <label for="registerDateFrom" class="control-label">تاريخ التسجيل من</label>
                            <div dir="ltr" class="input-group">
                                <input dir="rtl"
                                       id="registerDateFrom"
                                       type="text"
                                       class="form-control is-calendarPicker"
                                       ng-model="paramSeller.registerDateFrom"
                                       calendarType="ummalqura"
                                       language="en"
                                       dateFormat="yyyy/mm/dd"
                                       showOnFocus="false"
                                       readonly="readonly"
                                       kdatepicker>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="paramSeller.calendar==='H'">
                            <label for="registerDateTo" class="control-label">تاريخ التسجيل إلى</label>
                            <div dir="ltr" class="input-group">
                                <input dir="rtl"
                                       id="registerDateTo"
                                       type="text"
                                       class="form-control is-calendarPicker"
                                       ng-model="paramSeller.registerDateTo"
                                       calendarType="ummalqura"
                                       language="en"
                                       dateFormat="yyyy/mm/dd"
                                       showOnFocus="false"
                                       readonly="readonly"
                                       kdatepicker>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="paramSeller.calendar==='G'">
                            <label for="G-registerDateFrom" class="control-label">تاريخ التسجيل من</label>
                            <input id="G-registerDateFrom"
                                   class="form-control"
                                   dir="ltr"
                                   type="text"
                                   name="input"
                                   ng-model="paramSeller.registerDateFrom"
                                   datetime="yyyy-MM-dd"/>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="paramSeller.calendar==='G'">
                            <label for="G-registerDateTo" class="control-label">تاريخ التسجيل إلى</label>
                            <input id="G-registerDateTo"
                                   class="form-control"
                                   dir="ltr"
                                   type="text"
                                   name="input"
                                   ng-model="paramSeller.registerDateTo"
                                   datetime="yyyy-MM-dd"/>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="name" class="control-label">اسم المستثمر</label>
                            <input id="name"
                                   type="text"
                                   class="form-control"
                                   placeholder="اختياري"
                                   ng-model="paramSeller.name">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="mobile" class="control-label">رقم الجوال</label>
                            <input id="mobile"
                                   type="text"
                                   class="form-control"
                                   placeholder="اختياري"
                                   ng-model="paramSeller.mobile">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="phone" class="control-label">رقم الهاتف</label>
                            <input id="phone"
                                   type="text"
                                   class="form-control"
                                   placeholder="اختياري"
                                   ng-model="paramSeller.phone">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="identityNumber" class="control-label">رقم السجل المدني</label>
                            <input id="identityNumber"
                                   type="text"
                                   class="form-control"
                                   placeholder="اختياري"
                                   ng-model="paramSeller.identityNumber">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="qualification" class="control-label">جهة العمل</label>
                            <input id="qualification"
                                   type="text"
                                   class="form-control"
                                   placeholder="اختياري"
                                   ng-model="paramSeller.qualification">
                        </div>

                    </div>

                </div>

                <div class="mdl-tabs__panel" id="panel-2-task-filter">

                    <div class="form-group row">

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="currentPage" class="control-label">رقم الصفحة </label>
                            <input id="currentPage"
                                   type="number"
                                   min="1"
                                   class="form-control"
                                   ng-model="pageSeller.currentPage">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="page" class="control-label">عدد الصفوف بالصفحة الواحدة </label>
                            <input id="page"
                                   type="number"
                                   min="1"
                                   class="form-control"
                                   ng-model="pageSeller.size">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <table class="table table-bordered table-hover">
                                <thead>
                                <th class="info" colspan="4">
                                    <span>ترتيب المستثمرين حسب : </span>
                                    <a href="" ng-click="addSortBy()">اضافة...</a>
                                </th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="sortBy in pageSeller.sorts">
                                    <td>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <label for="sortBy" class="control-label">ترتيب حسب</label>
                                            <select id="sortBy" class="form-control" ng-model="sortBy.name">
                                                <option value="code">رقم المستثمر</option>
                                                <option value="registerDate">تاريخ التسجيل</option>
                                                <option value="contact.name">اسم المستثمر</option>
                                                <option value="contact.mobile">رقم الجوال</option>
                                                <option value="contact.phone">رقم الهاتف</option>
                                                <option value="contact.nationality">الجنسية</option>
                                                <option value="contact.identityNumber">رقم السجل المدني</option>
                                                <option value="contact.qualification">جهة العمل</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <label for="sortDirection" class="control-label">اتجاة الترتيب</label>
                                            <select id="sortDirection" class="form-control" ng-model="sortBy.direction">
                                                <option value="asc">تصاعدي</option>
                                                <option value="desc">تنازلي</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="" ng-click="pageSeller.sorts.splice($index, 1)">حذف</a>
                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="بحث"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="paramSeller={};form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>