<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp" for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.contact.firstName}} {{me.contact.forthName}}</span>
                        <span class="mdl-list__item-sub-title">{{me.email}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span>المساعدة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span>الملف الشخصي</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span>تسجيل الخروج</span>
                    </span>
                </li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div class="row" dir="rtl" style="margin-top: 10px">

            <div class="container">

                <div class="form-group row">

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_COMPANY_CREATE', 'ROLE_COMPANY_UPDATE', 'ROLE_COMPANY_DELETE', 'ROLE_COMPANY_REPORT'])">
                        <a href="" ng-click="goToCompany()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">account_balance</i>
                            <p>الشركات</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_BRANCH_CREATE', 'ROLE_BRANCH_UPDATE', 'ROLE_BRANCH_DELETE', 'ROLE_BRANCH_REPORT'])">
                        <a href="" ng-click="goToBranch()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">layers</i>
                            <p>الفروع</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_MASTER_CREATE', 'ROLE_MASTER_UPDATE', 'ROLE_MASTER_DELETE', 'ROLE_MASTER_REPORT'])">
                        <a href="" ng-click="goToMaster()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">import_contacts</i>
                            <p>التخصصات</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_OFFER_CREATE', 'ROLE_OFFER_UPDATE', 'ROLE_OFFER_DELETE', 'ROLE_OFFER_REPORT'])">
                        <a href="" ng-click="goToOffer()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">collections_bookmark</i>
                            <p>العروض</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_COURSE_CREATE', 'ROLE_COURSE_UPDATE', 'ROLE_COURSE_DELETE', 'ROLE_COURSE_REPORT'])">
                        <a href="" ng-click="goToCourse()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">card_travel</i>
                            <p>الدورات</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_ACCOUNT_CREATE', 'ROLE_ACCOUNT_UPDATE', 'ROLE_ACCOUNT_DELETE', 'ROLE_ACCOUNT_REPORT'])">
                        <a href="" ng-click="goToAccount()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">local_library</i>
                            <p>تسجيل الطلاب</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_PAYMENT_CREATE', 'ROLE_PAYMENT_UPDATE', 'ROLE_PAYMENT_DELETE', 'ROLE_PAYMENT_REPORT'])">
                        <a href="" ng-click="goToPayment()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">monetization_on</i>
                            <p>سندات القبض</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_PAYMENT_CREATE', 'ROLE_PAYMENT_UPDATE', 'ROLE_PAYMENT_DELETE', 'ROLE_PAYMENT_REPORT'])">
                        <a href="" ng-click="goToPaymentOut()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">money_off</i>
                            <p>سندات الصرف</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_BILL_BUY_TYPE_CREATE', 'ROLE_BILL_BUY_TYPE_UPDATE', 'ROLE_BILL_BUY_TYPE_DELETE', 'ROLE_BILL_BUY_TYPE_REPORT'])">
                        <a href="" ng-click="goToBillBuyType()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">subtitles</i>
                            <p>حسابات فواتير الشراء</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_BILL_BUY_CREATE', 'ROLE_BILL_BUY_UPDATE', 'ROLE_BILL_BUY_DELETE', 'ROLE_BILL_BUY_REPORT'])">
                        <a href="" ng-click="goToBillBuy()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">shopping_cart</i>
                            <p>فواتير الشراء</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_BANK_CREATE', 'ROLE_BANK_UPDATE', 'ROLE_BANK_DELETE', 'ROLE_BANK_REPORT'])">
                        <a href="" ng-click="goToBank()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">account_balance</i>
                            <p>الحسابات البنكية</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_DEPOSIT_CREATE', 'ROLE_DEPOSIT_UPDATE', 'ROLE_DEPOSIT_DELETE', 'ROLE_DEPOSIT_REPORT'])">
                        <a href="" ng-click="goToDeposit()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">archive</i>
                            <p>الايداع البنكي</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_WITHDRAW_CREATE', 'ROLE_WITHDRAW_UPDATE', 'ROLE_WITHDRAW_DELETE', 'ROLE_WITHDRAW_REPORT'])">
                        <a href="" ng-click="goToWithdraw()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">unarchive</i>
                            <p>السحب البنكي</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE', 'ROLE_TEAM_REPORT'])">
                        <a href="" ng-click="goToTeam()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">settings_input_composite</i>
                            <p>الصلاحيات</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(authorities, ['ROLE_PERSON_CREATE', 'ROLE_PERSON_UPDATE', 'ROLE_PERSON_DELETE', 'ROLE_PERSON_REPORT'])">
                        <a href="" ng-click="goToPerson()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-120">lock</i>
                            <p>المستخدمون</p>
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </main>

</div>
