<div ng-if="toggleReport==='mainReportFrame'" class="form-group row">

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="openReportCashBalance()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>السيولة النقدية</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="openReportWithdrawCash()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>تقرير المصروفات</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="openReportSellerBalance()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>أرصدة المستثمرين</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="openReportContracts()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>تقرير العقود</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="openReportBankTransactions()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>حركة العمليات اليومية</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="openReportSellerStatement()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>كشف حساب مستثمر</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="openReportContractPremiums()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>تقرير التحصيل والسداد</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="openReportContractPaymentsProfit()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>أرباح التحصيل</span>
            </a>
        </div>
    </div>

</div>

<div ng-if="toggleReport==='cashBalance'" class="form-group row">

    <div ng-include="'ui/partials/report/cashBalance.html'"></div>

</div>

<div ng-if="toggleReport==='withdrawCash'" class="form-group row">

    <div ng-include="'ui/partials/report/withdrawCash.html'"></div>

</div>

<div ng-if="toggleReport==='sellerBalance'" class="form-group row">

    <div ng-include="'ui/partials/report/sellerBalance.html'"></div>

</div>

<div ng-if="toggleReport==='contracts'" class="form-group row">

    <div ng-include="'ui/partials/report/contracts.html'"></div>

</div>

<div ng-if="toggleReport==='bankTransactions'" class="form-group row">

    <div ng-include="'ui/partials/report/bankTransactions.html'"></div>

</div>

<div ng-if="toggleReport==='sellerStatement'" class="form-group row">

    <div ng-include="'ui/partials/report/sellerStatement.html'"></div>

</div>

<div ng-if="toggleReport==='contractPremiums'" class="form-group row">

    <div ng-include="'ui/partials/report/contractPremiums.html'"></div>

</div>

<div ng-if="toggleReport==='contractPaymentsProfit'" class="form-group row">

    <div ng-include="'ui/partials/report/contractPaymentsProfit.html'"></div>

</div>