<div class="container" style="margin-top: 10px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <img ng-src="/ui/img/favicon/apple-icon.png" height="200px%"/>
                    <h1>مؤسسة المدار للتقسيط | Madar Institution</h1>
                    <h3>Version 0.1 &copy; <a href="http://www.ararhni.com" target="_blank">Ararhni.com</a></h3>
                    <hr>
                    <h2>Project Manager & System Analyst</h2>
                    <a href="mailto:w.abukhader@ararhni.com"><h3>Eng. WESSAM ABU KHADER</h3></a>
                    <hr>
                    <h2>Web Developer</h2>
                    <a href="mailto:islamhaker@gmail.com"><h3>Eng. BASSAM ALMAHDY</h3></a>
                </div>
            </div>
        </div>
    </div>
</div>