<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-body">

        <div class="row">
            <ul dir="rtl" class="breadcrumb">
                <li>
                    <a href="" ng-click="openStateMenu()">الرئيسية</a>
                </li>
                <li>
                    <span>سجل التصنيفات</span>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 pull-right">
                <button id="master-category-menu-lower-right" style="width: 100%;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    <span>العمليات</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="master-category-menu-lower-right">
                    <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                        ng-click="readMasterCategories()">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
                            <span>عرض البانات</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item" ng-click="newMasterCategory()"
                        ng-if="contains(me.team.authorities, ['ROLE_MASTER_CATEGORY_CREATE'])">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                            <span>تصنيف جديد</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="pull-left" ng-init="toggleList=1">
                <div class="btn-toolbar">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=1"
                                ng-class="{'mdl-color--primary-dark':toggleList===1}">
                            <input type="radio" name="options"/>
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/reorder.{{iconSetType}}" width="24" height="24">
                        </button>
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=2"
                                ng-class="{'mdl-color--primary-dark':toggleList===2}">
                            <input type="radio" name="options"/>
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/module.{{iconSetType}}" width="24" height="24">
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            <ul class="panel-controls pull-left"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="readMasterCategories()"
                       tooltip-append-to-body="true"
                       uib-tooltip="تحديث البيانات">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}" width="24" height="24">
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_MASTER_CATEGORY_CREATE'])"
                       ng-click="newMasterCategory()"
                       tooltip-append-to-body="true"
                       uib-tooltip="تصنيف جديد">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                    </a>
                </li>
            </ul>
            <div class="panel-title-box pull-right">
                <h3>قائمة التصنيفات</h3>
            </div>
        </div>
        <div class="panel-body panel-body-table">
            <div class="table-responsive">
                <table st-table="collection1" st-safe-src="masterCategories"
                       class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">
                            <span>#</span>
                        </th>

                        <th st-sort="code">
                            <span> رقم التصنيف</span>
                        </th>

                        <th st-sort="name">
                            <span> اسم التصنيف</span>
                        </th>

                        <th st-sort="description">
                            <span>وصف مختصر</span>
                        </th>

                        <th st-sort="masters.length">
                            <span>عدد التخصصات</span>
                        </th>

                        <th st-sort="person.contact.firstName">
                            <span>مدخل التصنيف</span>
                        </th>

                        <th>
                            <span>العمليات</span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr
                        ng-repeat="masterCategory in collection1">
                        <td>{{$index+1}}</td>
                        <td>{{masterCategory.code}}</td>
                        <td>{{masterCategory.name}}</td>
                        <td>{{masterCategory.description}}</td>
                        <td>{{masterCategory.masters.length}}</td>
                        <td>
                            {{masterCategory.person.contact.firstName}}
                            {{masterCategory.person.contact.forthName}}
                        </td>
                        <td>
                            <a href=""
                               class="btn btn-danger"
                               ng-if="contains(me.team.authorities, ['ROLE_MASTER_CATEGORY_DELETE'])"
                               ng-click="deleteMasterCategory(masterCategory)">
                                <span class="fa fa-trash"></span>
                                <strong>حذف</strong>
                            </a>
                            <a href=""
                               class="btn btn-warning"
                               ng-if="contains(me.team.authorities, ['ROLE_MASTER_CATEGORY_UPDATE'])"
                               ng-click="ModalProvider.openMasterCategoryUpdateModel(masterCategory)">
                                <span class="fa fa-edit"></span>
                                <strong>تعديل</strong>
                            </a>
                        </td>
                    </tr>
                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                        ng-show="!collection1 || collection1.length ==0">
                        <td colspan="7">لا توجد بيانات</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
    <div st-table="collection3" st-safe-src="masters">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="master in collection3">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img width="100" height="100"
                             ng-src="/ui/img/{{iconSet}}/master.{{iconSetType}}"
                             alt="{{master.name}}"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">{{master.name}}</div>
                    </div>
                    <div class="profile-controls">
                        <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                        <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <div class="contact-info">
                        <p>
                            <strong>رقم التخصص</strong>
                            {{master.code}}
                        </p>
                        <hr>
                        <p>
                            <strong>مدة التخصص</strong>
                            {{master.period}}
                        </p>
                        <hr>
                        <p>
                            <strong>بواسطة</strong>
                            {{master.lastPerson.contact.firstName}} {{master.lastPerson.contact.forthName}}
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <button uib-tooltip="تخصص جديد"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_MASTER_CREATE'])"
                                ng-click="newMaster();"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                        </button>
                        <button uib-tooltip="تعديل"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_MASTER_UPDATE'])"
                                ng-click="ModalProvider.openMasterUpdateModel(master)"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/edit.{{iconSetType}}" width="24" height="24">
                        </button>
                        <button uib-tooltip="حذف"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_MASTER_DELETE'])"
                                ng-click="deleteMaster(master)"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
                        </button>
                    </div>
                </div>
            </div>
            <!-- END CONTACT ITEM -->
        </div>
    </div>
</div>