<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-body">
        <div class="row">
            <ul dir="rtl" class="breadcrumb">
                <li ng-repeat="item in itemsBank | orderBy:'id' track by item.id">
                    <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                    <span ng-if="item.type==='title'" style="{{item.style}}">{{item.name}}</span>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 pull-right">
                <button id="bank-menu-lower-right" style="width: 100%;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    <span>العمليات</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="bank-menu-lower-right">
                    <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                        ng-click="filterBank()">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
                            <span>بحث</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item" ng-click="newBank();"
                        ng-if="contains(me.team.authorities, ['ROLE_BANK_CREATE'])">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                            <span>حساب جديد</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="pull-left" ng-init="toggleList=1">
                <div class="btn-toolbar">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=1"
                                ng-class="{'mdl-color--primary-dark':toggleList===1}">
                            <input type="radio" name="options"/>
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/reorder.{{iconSetType}}" width="24" height="24">
                        </button>
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=2"
                                ng-class="{'mdl-color--primary-dark':toggleList===2}">
                            <input type="radio" name="options"/>
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/module.{{iconSetType}}" width="24" height="24">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

    <div class="panel panel-info">
        <div class="panel-heading">
            <ul class="panel-controls pull-left"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="filterBank()"
                       tooltip-append-to-body="true"
                       uib-tooltip="بحث">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_BANK_CREATE'])"
                       ng-click="newBank()"
                       tooltip-append-to-body="true"
                       uib-tooltip="حساب بنكي جديد">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                    </a>
                </li>
            </ul>
            <div class="panel-title-box pull-right">
                <h3>قائمة الحسابات البنكية</h3>
            </div>
        </div>
        <div class="panel-body panel-body-table">
            <div class="table-responsive">
                <table st-table="collection1" st-safe-src="banks"
                       class="table table-bordered table-hover">
                    <thead>
                    <tr>

                        <th class="text-right">
                            <span>#</span>
                        </th>

                        <th st-sort="code" class="text-right">
                            <span> رقم الحساب</span>
                        </th>

                        <th st-sort="name" class="text-right">
                            <span> اسم البنك</span>
                        </th>

                        <th st-sort="branchName" class="text-right">
                            <span> فرع البنك</span>
                        </th>

                        <th st-sort="startAmount" class="text-right">
                            <span>الرصيد الافتتاحي</span>
                        </th>

                        <th st-sort="startAmountDate" class="text-right">
                            <span> تاريخ الرصيد الافتتاحي</span>
                        </th>

                        <th st-sort="stock" class="text-right">
                            <span>الرصيد الحالي</span>
                        </th>

                        <th st-sort="branch.name" class="text-right">
                            <span>الفرع</span>
                        </th>

                        <th st-sort="lastPerson.contact.firstName" class="text-right">
                            <span>مدخل الحساب</span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-right"
                        ng-repeat="bank in collection1"
                        context-menu="rowMenuBank"
                        st-select-mode="multiple">
                        <td st-select-row-multi="bank">{{$index+1}}</td>
                        <td st-select-row-multi="bank">{{bank.code}}</td>
                        <td st-select-row-multi="bank">{{bank.name}}</td>
                        <td st-select-row-multi="bank">{{bank.branchName}}</td>
                        <td st-select-row-multi="bank">{{bank.startAmount| currency:' SAR ':2}}</td>
                        <td st-select-row-multi="bank">
                            {{bank.startAmountDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                        </td>
                        <td st-select-row-multi="bank">{{bank.stock| currency:' SAR ':2}}</td>
                        <td st-select-row-multi="bank">
                            [ {{bank.branch.code}} ] {{bank.branch.name}}
                        </td>
                        <td st-select-row-multi="bank">
                            {{bank.lastPerson.contact.firstName}}
                            {{bank.lastPerson.contact.forthName}}
                        </td>
                    </tr>
                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                        ng-show="!collection1 || collection1.length ==0">
                        <td colspan="9">لا توجد بيانات</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
    <div st-table="collection2" st-safe-src="banks">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="bank in collection2">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img width="100" height="100" ng-src="/ui/img/{{iconSet}}/bank.{{iconSetType}}" alt="{{bank.name}}"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">{{bank.name}}</div>
                    </div>
                    <div class="profile-controls">
                        <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                        <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <div class="contact-info">
                        <p>
                            <strong>رقم الحساب</strong>
                            {{bank.code}}
                        </p>
                        <hr>
                        <p>
                            <strong>اسم البنك / فرع البنك</strong>
                            {{bank.name}} / {{bank.branchName}}
                        </p>
                        <hr>
                        <p>
                            <strong>بواسطة</strong>
                            {{bank.lastPerson.contact.firstName}} {{bank.lastPerson.contact.forthName}}
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <button uib-tooltip="حساب بنكي جديد"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_BANK_CREATE'])"
                                ng-click="newBank();"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                        </button>
                        <button uib-tooltip="تعديل"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_BANK_UPDATE'])"
                                ng-click="ModalProvider.openBankUpdateModel(bank)"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/edit.{{iconSetType}}" width="24" height="24">
                        </button>
                        <button uib-tooltip="حذف"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_BANK_DELETE'])"
                                ng-click="deleteBank(bank)"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
                        </button>
                    </div>
                </div>
            </div>
            <!-- END CONTACT ITEM -->
        </div>
    </div>
</div>