<div class="container">

    <div class="form-group row">

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
             ng-click="openStateCompany()"
             ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/company.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>المؤسسة</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
             ng-show="contains(me.team.authorities, [
            'ROLE_CUSTOMER_CREATE',
            'ROLE_CUSTOMER_UPDATE',
            'ROLE_CUSTOMER_DELETE',
            'ROLE_CUSTOMER_NOTE_CREATE'
            ])"
             ng-click="openStateCustomer()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/customer.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>العملاء/الكفلاء</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
             ng-show="contains(me.team.authorities, [
            'ROLE_SELLER_CREATE',
            'ROLE_SELLER_UPDATE',
            'ROLE_SELLER_DELETE',
            ])"
             ng-click="openStateSeller()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/seller.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>المستثمرين</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
             ng-show="contains(me.team.authorities, [
            'ROLE_PRODUCT_CREATE',
            'ROLE_PRODUCT_UPDATE',
            'ROLE_PRODUCT_DELETE',
            ])"
             ng-click="openStateProductPurchase()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/productPurchase.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>المخزون</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
             ng-show="contains(me.team.authorities, [
            'ROLE_CONTRACT_CREATE',
            'ROLE_CONTRACT_DELETE',
            ])"
             ng-click="openStateContract()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/contract.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>العقود</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
             ng-click="openStateBankTransaction()"
             ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/bankTransaction.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>المعاملات المالية</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
             ng-click="openStatePerson()"
             ng-if="contains(me.team.authorities, [
             'ROLE_PERSON_CREATE',
             'ROLE_PERSON_UPDATE',
             'ROLE_PERSON_DELETE'
             ])">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/person.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>المستخدمين</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
             ng-click="openStateTeam()"
             ng-if="contains(me.team.authorities, [
             'ROLE_TEAM_CREATE',
             'ROLE_TEAM_UPDATE',
             'ROLE_TEAM_DELETE'
             ])">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/team.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>الصلاحيات</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
             ng-click="openStateReport()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>التقارير</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
             ng-click="openStateProfile()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/profile.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>الملف الشخصي</span>
                </a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
             ng-click="openStateAbout()">
            <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/about.{{iconSetType}}')">
                <div class="mdl-card__title mdl-card--expand"></div>
            </div>
            <div class="mdl-card__actions">
                <a class="card-image__filename">
                    <span>عن البرنامج</span>
                </a>
            </div>
        </div>


    </div>

</div>