<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-body">
        <div class="row">
            <ul dir="rtl" class="breadcrumb">
                <li>
                    <a href="" ng-click="openStateMenu()">الرئيسية</a>
                </li>
                <li ng-repeat="item in itemsPaymentOut | orderBy:'id' track by item.id">
                    <span ng-if="item.type==='title'" style="{{item.style}}">{{item.name}}</span>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                <button id="payment-out-menu-lower-right" style="width: 100%;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    <span>العمليات</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="payment-out-menu-lower-right">
                    <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                        ng-click="openFilterPaymentOut();">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
                            <span>عرض بيانات السندات</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="newPaymentOut()"
                        ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_OUT_CREATE'])">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                            <span>سند جديد</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            <ul class="panel-controls pull-left"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilterPaymentOut()"
                       tooltip-append-to-body="true"
                       uib-tooltip="بحث">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_OUT_CREATE'])"
                       ng-click="newPaymentOut()"
                       tooltip-append-to-body="true"
                       uib-tooltip="سند جديد">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                    </a>
                </li>
            </ul>
            <div class="panel-title-box pull-right">
                <h3>قائمة سندات الصرف</h3>
            </div>
        </div>
        <div class="panel-body panel-body-table">
            <div class="table-responsive">
                <table st-table="collection" st-safe-src="paymentOuts"
                       class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="text-right">
                            <span>#</span>
                        </th>

                        <th st-sort="code" class="text-right">
                            <span>رقم السند</span>
                        </th>

                        <th st-sort="date" class="text-right">
                            <span>تاريخ السند</span>
                        </th>

                        <th st-sort="amountNumber" class="text-right">
                            <span>قيمة السند</span>
                        </th>

                        <th st-sort="toName" class="text-right">
                            <span>وجهة الصرف</span>
                        </th>

                        <th st-sort="note" class="text-right">
                            <span>بيان الصرف</span>
                        </th>

                        <th st-sort="person.contact.firstName" class="text-right">
                            <span>مدخل السند</span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-right"
                        ng-repeat="paymentOut in collection"
                        st-select-mode="multiple"
                        context-menu="rowMenuPaymentOut">
                        <td st-select-row-multi="paymentOut">{{$index+1}}</td>
                        <td st-select-row-multi="paymentOut">{{paymentOut.code}}</td>
                        <td st-select-row-multi="paymentOut">{{paymentOut.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</td>
                        <td st-select-row-multi="paymentOut">{{paymentOut.amountNumber}}</td>
                        <td st-select-row-multi="paymentOut">{{paymentOut.toName}}</td>
                        <td st-select-row-multi="paymentOut">{{paymentOut.note}}</td>
                        <td st-select-row-multi="paymentOut">
                            {{paymentOut.person.contact.firstName}}
                            {{paymentOut.person.contact.forthName}}
                        </td>
                    </tr>
                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                        ng-show="!collection || collection.length ==0">
                        <td colspan="7">لا توجد بيانات</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>