<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-body">
        <div class="row">
            <ul dir="rtl" class="breadcrumb">
                <li ng-repeat="item in itemsAccount | orderBy:'id' track by item.id">
                    <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                    <span ng-if="item.type==='title'" style="{{item.style}}">{{item.name}}</span>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                <button id="account-menu-lower-right" style="width: 100%;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    <span>العمليات</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="account-menu-lower-right">
                    <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                        ng-click="openFilterAccount()">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
                            <span>بحث</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item" ng-click="newAccount()"
                        ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE'])">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                            <span>تسجيل جديد</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="ModalProvider.openAccountHeavyWorkModel()"
                        ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE'])">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/group.{{iconSetType}}" width="24" height="24">
                            <span>تسجيل دفعة من الطلاب</span>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="pull-left" ng-init="toggleList=1">
                <div class="btn-toolbar">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=1"
                                ng-class="{'mdl-color--primary-dark':toggleList===1}">
                            <input type="radio" name="options"/>
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/reorder.{{iconSetType}}" width="24" height="24">
                        </button>
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=2"
                                ng-class="{'mdl-color--primary-dark':toggleList===2}">
                            <input type="radio" name="options"/>
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/module.{{iconSetType}}" width="24" height="24">
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            <ul class="panel-controls pull-left"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilterAccount()"
                       tooltip-append-to-body="true"
                       uib-tooltip="بحث">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
                    </a>
                    <a href=""
                       ng-show="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE'])"
                       ng-click="newAccount()"
                       tooltip-append-to-body="true"
                       uib-tooltip="تسجيل جديد">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                    </a>
                </li>
            </ul>
            <div class="panel-title-box pull-right">
                <h3>قائمة الطلاب</h3>
            </div>
        </div>
        <div class="panel-body">

            <div class="form-group row">
                <button uib-tooltip="طباعة"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="printToCart('printThisElement')"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/print.{{iconSetType}}" width="24" height="24">
                </button>
            </div>

            <div class="form-group row" ng-if="pageAccount.totalElements > 0">

                <div class="btn-toolbar pull-right">

                    <div class="btn-group" data-toggle="buttons">

                        <button uib-tooltip="السابق"
                                tooltip-append-to-body="true"
                                ng-disabled="pageAccount.first"
                                type="button"
                                ng-click="selectPrevAccountsPage()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </button>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-left">
                            <input dir="rtl"
                                   type="text"
                                   readonly
                                   class="form-control"
                                   ng-model="pageAccount.currentPageString">
                        </div>

                        <button uib-tooltip="التالي"
                                tooltip-append-to-body="true"
                                ng-disabled="pageAccount.last"
                                type="button"
                                ng-click="selectNextAccountsPage()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </button>

                    </div>

                </div>

            </div>

            <div class="form-group row" ng-show="toggleList===1" id="printThisElement">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>

                            <th class="fit no-print">
                                <label id ="checkAllAccounts" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-0">
                                    <input type="checkbox" id="checkbox-0" class="mdl-checkbox__input" ng-model="accounts.checkAll" ng-change="checkAllAccounts()">
                                </label>
                            </th>

                            <th>
                                <span>#</span>
                            </th>

                            <th>
                                <span> رقم الطالب</span>
                            </th>

                            <th>
                                <span>تاريخ التسجيل</span>
                            </th>

                            <th>
                                <span>الاسم</span>
                            </th>

                            <th>
                                <span>رقم البطاقة</span>
                            </th>

                            <th>
                                <span>رقم الجوال</span>
                            </th>

                            <th>
                                <span>المبلغ نقداً</span>
                            </th>

                            <th>
                                <span>المدفوع</span>
                            </th>

                            <th>
                                <span>الباقي</span>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="account in accounts"
                            ng-class="{'mdl-color--primary-dark' : account.isSelected, 'mdl-color-text--white' : account.isSelected}"
                            context-menu="rowMenuAccount">
                            <td class="fit no-print">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect check" for="checkbox-account-{{account.id}}">
                                    <input type="checkbox" id="checkbox-account-{{account.id}}" class="mdl-checkbox__input" ng-model="account.isSelected" ng-click="checkAccount()">
                                </label>
                            </td>
                            <td class="fit">{{$index+1}}</td>
                            <td class="fit"><a href="" ng-click="ModalProvider.openAccountDetailsModel(account);">{{account.key}}</a></td>
                            <td class="fit">
                                <span ng-class="{'no-print': dateType==='G'}" ng-show="dateType==='H'">{{account.registerDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                <span ng-class="{'no-print': dateType==='H'}" ng-show="dateType==='G'">{{account.registerDate | date: 'yyyy-MM-dd'}}</span>
                            </td>
                            <td>{{account.name}}</td>
                            <td class="fit">{{account.student.contact.identityNumber}}</td>
                            <td class="fit">{{account.student.contact.mobile}}</td>
                            <td class="fit">{{account.requiredPrice}} SAR</td>
                            <td class="fit">{{account.paidPrice}} SAR</td>
                            <td class="fit">{{account.remainPrice}} SAR</td>
                        </tr>
                        <tr class="blank_row no-print" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-show="!accounts || accounts.length ==0">
                            <td colspan="13">لا توجد بيانات</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="form-group row" ng-show="toggleList===2">

                <div st-table="collection2" st-safe-src="accounts">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="account in collection2">
                        <!-- CONTACT ITEM -->
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img width="100" height="100"
                                         ng-src="/ui/img/{{iconSet}}/account.{{iconSetType}}"
                                         alt="{{account.code}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">
                                        {{account.student.contact.firstName}}
                                        {{account.student.contact.secondName}}
                                        {{account.student.contact.thirdName}}
                                        {{account.student.contact.forthName}}
                                    </div>
                                </div>
                                <div class="profile-controls">
                                    <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                    <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p>
                                        <strong>رقم الطالب</strong>
                                        {{account.code}}
                                        -
                                        {{account.course.code}}
                                        -
                                        {{account.course.master.code}}
                                        -
                                        {{account.course.master.branch.code}}
                                        -
                                        {{account.registerDate | kdate: 'yy' : 'ar' : 'ummalqura'}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong>رقم الجوال</strong>
                                        {{account.student.contact.mobile}}
                                    </p>
                                    <hr>
                                    <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                        <strong>التخصص</strong>
                                        [ {{account.course.master.code}} ]
                                        {{account.course.master.name}}
                                    </p>
                                    <hr>
                                    <p>
                                        <a href="" ng-click="ModalProvider.openAccountDetailsModel(account);"><strong>المزيد...</strong></a>
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button uib-tooltip="تسجيل جديد"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE'])"
                                            ng-click="newAccount();"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                                    </button>
                                    <button uib-tooltip="تعديل"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_UPDATE'])"
                                            ng-click="ModalProvider.openAccountUpdateModel(account)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/edit.{{iconSetType}}" width="24" height="24">
                                    </button>
                                    <button uib-tooltip="حذف"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_DELETE'])"
                                            ng-click="deleteAccount(account)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
                                    </button>
                                    <button uib-tooltip="سند قبض"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE'])"
                                            ng-click="newPayment(account)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/paymentIn.{{iconSetType}}" width="24" height="24">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTACT ITEM -->
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>