<div class="form-group row">

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportOfferByBranchModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>العروض لكل فرع</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportOfferByMasterModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>العروض لكل تخصص</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportOfferByMasterCategoryModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>العروض لكل تصنيف</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportOfferByPersonModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>العروض لكل مستخدم</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportOfferByIdModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>طباعة عرض سعر</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportCallByPersonModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>نتائج الاتصالات لكل مستخدم</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportPrintContractModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>طباعة عقد</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportAccountByBranchModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>الطلاب المسجلين لكل فرع</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportAccountByMasterModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>الطلاب المسجلين لكل تخصص</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportAccountByMasterCategoryModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>الطلاب المسجلين حسب التصنيف</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportAccountByCourseModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>الطلاب المسجلين لكل دورة</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportPaymentByBranchModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>تقرير ايرادات الفرع</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportIncomeAnalysisByBranchModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>تحليل ايرادات الفرع</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportPaymentByMasterModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>تقرير ايرادات التخصص</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportPaymentByMasterCategoryModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>تقرير ايرادات التصنيفات</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportPaymentByCourseModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>تقرير ايرادات الدورة</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="ReportModelProvider.openReportBillBuyByBranchModel()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/{{iconSet}}/report-one.{{iconSetType}}')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>تقرير فواتير شراء الفروع</span>
            </a>
        </div>
    </div>

</div>