<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/contract.{{iconSetType}}" width="24" height="24">
                <strong>عقد جديد</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="row">

            <div class="form-group row" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group row">

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                    <div class="mdl-tabs__tab-bar">

                        <a href="#panel-1-contract" class="mdl-tabs__tab col-xs-4 col-sm-4 col-md-4 col-lg-4 is-active">
                            <span>المعلومات الأساسية</span>
                        </a>

                        <a href="#panel-2-contract" class="mdl-tabs__tab col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <span>تحديد السلع</span>
                        </a>

                        <a href="#panel-3-contract" class="mdl-tabs__tab col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <span>معلومات العقد</span>
                        </a>

                        <a href="#panel-4-contract" class="mdl-tabs__tab col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <span>الأقساط</span>
                        </a>

                    </div>

                    <div class="mdl-tabs__panel is-active" id="panel-1-contract">

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="seller" class="control-label">
                                    <span>المستثمر</span>
                                    <strong>
                                        <a href=""
                                           ng-if="contains(me.team.authorities, ['ROLE_SELLER_CREATE'])"
                                           ng-click="newSeller()">مستثمر جديد</a>
                                    </strong>
                                </label>
                                <ui-select id="seller"
                                           ng-model="contract.seller"
                                           required="required"
                                           disable-validation-message=""
                                           on-select="findProductPurchasesBySeller(contract.seller)"
                                           theme="bootstrap">
                                    <ui-select-match placeholder="الحقل مطلوب">
                                        {{$select.selected.contact.shortName}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            refresh="searchSellers($select)"
                                            refresh-delay="300"
                                            repeat="seller in sellers | filter: $select.search | orderBy:'code' track by $index">

                                        <div class="mdl-menu__item--full-bleed-divider"></div>
                                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                            <span class="mdl-list__item-primary-content">
                                                <span class="material-icons mdl-list__item-avatar"
                                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/seller.{{iconSetType}}')"></span>
                                                <div ng-bind-html="seller.name | highlight: $select.search"></div>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم المستثمر / </span>
                                                    {{seller.code}}
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>الاسم / </span>
                                                    {{seller.contact.shortName}}
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم الجوال / </span>
                                                    {{seller.contact.mobile}}
                                                </span>
                                            </span>
                                        </li>

                                        <div ng-if="$index === $select.items.length-1">
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                                    ng-disabled="buffer.lastSeller"
                                                    style="width: 100%; margin-top: 5px;"
                                                    ng-click="searchSellers($select, $event);">تحميل المزيد
                                            </button>
                                        </div>

                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="customer" class="control-label">
                                    <span>العميل</span>
                                    <strong>
                                        <a href=""
                                           ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])"
                                           ng-click="newCustomer()">عميل جديد</a>
                                    </strong>
                                </label>
                                <ui-select id="customer"
                                           ng-model="contract.customer"
                                           required="required"
                                           disable-validation-message=""
                                           theme="bootstrap">
                                    <ui-select-match placeholder="الحقل مطلوب">
                                        {{$select.selected.contact.shortName}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            refresh="searchCustomers($select)"
                                            refresh-delay="300"
                                            repeat="customer in customers | filter: $select.search | orderBy:'code' track by $index">

                                        <div class="mdl-menu__item--full-bleed-divider"></div>
                                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                            <span class="mdl-list__item-primary-content">
                                                <span class="material-icons mdl-list__item-avatar"
                                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/customer.{{iconSetType}}')"></span>
                                                <div ng-bind-html="customer.name | highlight: $select.search"></div>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم العميل / </span>
                                                    {{customer.code}}
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>الاسم / </span>
                                                    {{customer.contact.shortName}}
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم الجوال / </span>
                                                    {{customer.contact.mobile}}
                                                </span>
                                            </span>
                                        </li>

                                        <div ng-if="$index === $select.items.length-1">
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                                    ng-disabled="buffer.lastCustomer"
                                                    style="width: 100%; margin-top: 5px;"
                                                    ng-click="searchCustomers($select, $event);">تحميل المزيد
                                            </button>
                                        </div>

                                    </ui-select-choices>
                                </ui-select>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="sponsor1" class="control-label">
                                    <span>الكفيل الأول</span>
                                    <strong>
                                        <a href=""
                                           ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])"
                                           ng-click="newCustomer()">كفيل جديد</a>
                                    </strong>
                                </label>
                                <ui-select id="sponsor1"
                                           ng-model="contract.sponsor1"
                                           theme="bootstrap">
                                    <ui-select-match placeholder="الحقل اختياري">
                                        {{$select.selected.contact.shortName}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            refresh="searchCustomers($select)"
                                            refresh-delay="300"
                                            repeat="sponsor1 in customers | filter: $select.search | orderBy:'code' track by $index">

                                        <div class="mdl-menu__item--full-bleed-divider"></div>
                                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                            <span class="mdl-list__item-primary-content">
                                                <span class="material-icons mdl-list__item-avatar"
                                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/customer.{{iconSetType}}')"></span>
                                                <div ng-bind-html="sponsor1.name | highlight: $select.search"></div>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم الحساب / </span>
                                                    {{sponsor1.code}}
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>الاسم / </span>
                                                    {{sponsor1.contact.shortName}}
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم الجوال / </span>
                                                    {{sponsor1.contact.mobile}}
                                                </span>
                                            </span>
                                        </li>

                                        <div ng-if="$index === $select.items.length-1">
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                                    ng-disabled="buffer.lastCustomer"
                                                    style="width: 100%; margin-top: 5px;"
                                                    ng-click="searchCustomers($select, $event);">تحميل المزيد
                                            </button>
                                        </div>

                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="sponsor2" class="control-label">
                                    <span>الكفيل الثاني</span>
                                    <strong>
                                        <a href=""
                                           ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])"
                                           ng-click="newCustomer()">كفيل جديد</a>
                                    </strong>
                                </label>
                                <ui-select id="sponsor2"
                                           ng-model="contract.sponsor2"
                                           theme="bootstrap">
                                    <ui-select-match placeholder="الحقل اختياري">
                                        {{$select.selected.contact.shortName}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            refresh="searchCustomers($select)"
                                            refresh-delay="300"
                                            repeat="sponsor2 in customers | filter: $select.search | orderBy:'code' track by $index">

                                        <div class="mdl-menu__item--full-bleed-divider"></div>
                                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                            <span class="mdl-list__item-primary-content">
                                                <span class="material-icons mdl-list__item-avatar"
                                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/customer.{{iconSetType}}')"></span>
                                                <div ng-bind-html="sponsor2.name | highlight: $select.search"></div>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم الحساب / </span>
                                                    {{sponsor2.code}}
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>الاسم / </span>
                                                    {{sponsor2.contact.shortName}}
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم الجوال / </span>
                                                    {{sponsor2.contact.mobile}}
                                                </span>
                                            </span>
                                        </li>

                                        <div ng-if="$index === $select.items.length-1">
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                                    ng-disabled="buffer.lastCustomer"
                                                    style="width: 100%; margin-top: 5px;"
                                                    ng-click="searchCustomers($select, $event);">تحميل المزيد
                                            </button>
                                        </div>

                                    </ui-select-choices>
                                </ui-select>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="box-info" ng-if="contains(me.team.authorities, ['ROLE_SELLER_CREATE'])">
                                <p>
                                    <span>في حال عدم حصولك على المستثمر المراد، يمكنك إنشاء مستثمر من </span>
                                    <span><a href="" ng-click="newSeller()">هنا</a></span>
                                </p>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="box-info" ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])">
                                <p>
                                    <span>في حال عدم حصولك على العميل أو الكفيل المراد، يمكنك إنشاء عميل أو كفيل من </span>
                                    <span><a href="" ng-click="newCustomer()">هنا</a></span>
                                </p>
                            </div>

                        </div>

                    </div>

                    <div class="mdl-tabs__panel" id="panel-2-contract">

                        <div class="form-group row">
                            <div class="alert alert-info" role="alert">
                                <strong>ملاحظة هامة: يتم احتساب نسبة الأرباح لسعر البيع فقط للأصناف دون اضافة الخصم والقيمة المضافة</strong>
                            </div>
                        </div>

                        <div class="form-group row" ng-if="contract.seller.id">

                            <button uib-tooltip="تحديث"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-click="findProductPurchasesBySeller(contract.seller)"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}" width="24"
                                     height="24">
                            </button>

                        </div>

                        <div class="form-group row">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>

                                        <th>
                                            <span>السلعة</span>
                                        </th>

                                        <th>
                                            <span>المتوفر</span>
                                        </th>

                                        <th>
                                            <span>الكمية المطلوبة</span>
                                        </th>

                                        <th>
                                            <span>سعر الشراء</span>
                                        </th>

                                        <th>
                                            <span>سعر بيع الوحدة</span>
                                        </th>

                                        <th>
                                            <span>القيمة المضافة للوحدة</span>
                                        </th>

                                        <th>
                                            <span>إجمالي البيع قبل القيمة المضافة</span>
                                        </th>

                                        <th>
                                            <span>إجمالي البيع بعد القيمة المضافة</span>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="productPurchase in productPurchases">
                                        <td>{{productPurchase.product.name}}</td>
                                        <td class="fit"
                                            ng-class="{'success': productPurchase.remain > 0, 'danger': productPurchase.remain <=0}">
                                            <span>{{productPurchase.remain}}</span>
                                        </td>
                                        <td>
                                            <input dir="rtl"
                                                   type="number"
                                                   min="0"
                                                   ng-max="productPurchase.remain"
                                                   required="required"
                                                   disable-validation-message=""
                                                   class="form-control"
                                                   ng-change="findProfitPercentage()"
                                                   ng-model="productPurchase.requiredQuantity">
                                        </td>
                                        <td>{{productPurchase.unitPurchasePrice}}</td>
                                        <td>
                                            <input dir="rtl"
                                                   type="number"
                                                   min="0"
                                                   required="required"
                                                   disable-validation-message=""
                                                   class="form-control"
                                                   ng-change="findProfitPercentage()"
                                                   ng-model="productPurchase.unitSellPrice">
                                        </td>
                                        <td>
                                            <input dir="rtl"
                                                   type="text"
                                                   readonly
                                                   class="form-control"
                                                   value="{{productPurchase.unitVat = (productPurchase.unitSellPrice * 5 / 100) | currency:'':2}}">
                                        </td>
                                        <td>
                                            <input dir="rtl"
                                                   type="text"
                                                   readonly
                                                   class="form-control"
                                                   value="{{(productPurchase.requiredQuantity * productPurchase.unitSellPrice) | currency:'':2}}">
                                        </td>
                                        <td>
                                            <input dir="rtl"
                                                   type="text"
                                                   readonly
                                                   class="form-control"
                                                   value="{{(productPurchase.requiredQuantity * productPurchase.unitSellPrice) + (productPurchase.unitVat * productPurchase.requiredQuantity) | currency:'':2}}">
                                        </td>
                                    </tr>
                                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                        ng-show="!productPurchases || productPurchases.length ==0">
                                        <td colspan="8">
                                            <p ng-if="!contract.seller.id">
                                                <span>فضلاً اختر المستثمر أولاً لعرض كافة السلعة الموجودة بحسابه</span>
                                            </p>
                                            <p ng-if="contract.seller.id">
                                                <span>لا توجد سلع حتى الآن في حساب المستثمر / </span>
                                                <span>{{contract.seller.contact.shortName}}</span>
                                                <span ng-if="contains(me.team.authorities, ['ROLE_PRODUCT_PURCHASE_CREATE'])"> - لإضافة سلع جديدة قم بالضغط <a
                                                        href="" ng-click="ModalProvider.openProductPurchaseCreateModel()">هنا</a></span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr ng-if="contract.seller.id && productPurchases.length > 0">
                                        <td colspan="6" class="text-left info">
                                            <span>رأس المال</span>
                                        </td>
                                        <td colspan="2">
                                            <input dir="rtl"
                                                   type="text"
                                                   disabled
                                                   class="form-control"
                                                   value="{{capitalCash | currency:'':2}}">
                                        </td>
                                    </tr>
                                    <tr ng-if="contract.seller.id && productPurchases.length > 0">
                                        <td colspan="6" class="text-left success">
                                            <span>نسبة الربح</span>
                                        </td>
                                        <td colspan="2">
                                            <input dir="rtl"
                                                   type="text"
                                                   disabled
                                                   class="form-control"
                                                   ng-class="{'success': profitPercentage >=0 , 'danger': profitPercentage < 0}"
                                                   value="{{profitPercentage | currency:' % ':2}}">
                                        </td>
                                    </tr>
                                    <tr ng-if="contract.seller.id && productPurchases.length > 0">
                                        <td colspan="6" class="text-left warning">
                                            <span>إجمالي قيمة العقد قبل (الخصم + القيمة المضافة)</span>
                                        </td>
                                        <td colspan="2">
                                            <input dir="rtl"
                                                   type="text"
                                                   disabled
                                                   class="form-control"
                                                   value="{{totalPrice | currency:'':2}}">
                                        </td>
                                    </tr>
                                    <tr ng-if="contract.seller.id && productPurchases.length > 0">
                                        <td colspan="6" class="text-left warning">
                                            <span>إجمالي قيمة العقد بعد (الخصم + القيمة المضافة)</span>
                                        </td>
                                        <td colspan="2">
                                            <input dir="rtl"
                                                   type="text"
                                                   disabled
                                                   class="form-control"
                                                   value="{{totalPriceAfterDiscountAndVat | currency:'':2}}">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                    <div class="mdl-tabs__panel" id="panel-3-contract">

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="code" class="control-label">رقم العقد</label>
                                <div dir="ltr" class="input-group" id="code">
                                    <span class="input-group-addon">غير مكرر</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="1"
                                           class="form-control"
                                           placeholder="اجباري"
                                           required="required"
                                           disable-validation-message=""
                                           ng-model="contract.code">
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                                 ng-init="buffer.calendar='H'">
                                <label for="calendar" class="control-label">نوع التقويم</label>
                                <select id="calendar"
                                        style="height: 40px"
                                        class="form-control"
                                        ng-model="buffer.calendar"
                                        required="required"
                                        disable-validation-message="">
                                    <option value="H">تقويم هجري</option>
                                    <option value="G">تقويم ميلادي</option>
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                                 ng-if="buffer.calendar==='H'">
                                <label for="dateFrom" class="control-label">تاريخ كتابة العقد</label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="dateFrom"
                                           type="text"
                                           class="form-control is-calendarPicker"
                                           ng-model="contract.writtenDate"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                                 ng-if="buffer.calendar==='G'">
                                <label for="G-dateFrom" class="control-label">تاريخ كتابة العقد</label>
                                <input id="G-dateFrom"
                                       class="form-control"
                                       dir="ltr"
                                       type="text"
                                       name="input"
                                       ng-model="contract.writtenDate"
                                       datetime="yyyy-MM-dd"/>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="paperFees" class="control-label">الرسوم الإدارية</label>
                                <div dir="ltr" class="input-group" id="paperFees">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           placeholder="اختياري"
                                           ng-model="contract.paperFees">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="commissionFees" class="control-label">عمولة العقد</label>
                                <div dir="ltr" class="input-group" id="commissionFees">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           placeholder="اختياري"
                                           ng-model="contract.commissionFees">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="lawFees" class="control-label">رسوم المحاماة</label>
                                <div dir="ltr" class="input-group" id="lawFees">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           placeholder="اختياري"
                                           ng-model="contract.lawFees">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="discount" class="control-label">الخصم</label>
                                <div dir="ltr" class="input-group" id="discount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           required="required"
                                           disable-validation-message=""
                                           ng-change="findRemainPrice()"
                                           placeholder="اجباري"
                                           ng-model="contract.discount">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="mdl-tabs__panel" id="panel-4-contract">

                        <div class="form-group row">

                            <div class="box-info">
                                <p>يمكنك إضافة الاقساط لاحقاً عند تسديد الدفعات المالية</p>
                            </div>

                        </div>

                       <div class="form-group row">

                           <div ng-if="!totalPrice" class="box-danger">
                               <p>يجب أن يكون مجموع العقد أكبر من صفر حتى يكون هناك أقساط</p>
                           </div>

                       </div>

                        <div ng-if="totalPrice">

                            <div class="form-group row" ng-show="remainPrice < 0">
                                <div class="alert alert-danger" role="alert">
                                    <strong>تأكد من أن المتبقي فى العقد يساوي صفر</strong>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="table-responsive" ng-init="contractPremiums.calendar='G'">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>

                                            <th>
                                                <span>#</span>
                                            </th>

                                            <th>
                                                <span>تاريخ الاستحقاق</span>
                                                <select style="height: 40px"
                                                        class="form-control"
                                                        ng-model="contractPremiums.calendar"
                                                        required="required"
                                                        disable-validation-message="">
                                                    <option value="H">تقويم هجري</option>
                                                    <option value="G">تقويم ميلادي</option>
                                                </select>
                                            </th>

                                            <th>
                                                <span>المبلغ</span>
                                            </th>

                                            <th>
                                                <span>العمليات</span>
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="contractPremium in contractPremiums">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <div dir="ltr" class="input-group">
                                                    <input dir="rtl"
                                                           type="text"
                                                           ng-if="contractPremiums.calendar==='H'"
                                                           class="form-control is-calendarPicker"
                                                           ng-model="contractPremium.dueDate"
                                                           calendarType="ummalqura"
                                                           language="en"
                                                           dateFormat="yyyy/mm/dd"
                                                           showOnFocus="false"
                                                           readonly="readonly"
                                                           kdatepicker>
                                                </div>
                                                <input ng-if="contractPremiums.calendar==='G'"
                                                       class="form-control"
                                                       dir="ltr"
                                                       type="text"
                                                       name="input"
                                                       ng-model="contractPremium.dueDate"
                                                       datetime="yyyy-MM-dd"/>
                                            </td>
                                            <td>
                                                <input dir="rtl"
                                                       type="number"
                                                       min="1"
                                                       ng-maxlength="6"
                                                       required="required"
                                                       disable-validation-message=""
                                                       ng-change="findRemainPrice()"
                                                       class="form-control"
                                                       ng-model="contractPremium.amount">
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <button uib-tooltip="إضافة قسط"
                                                            tooltip-append-to-body="true"
                                                            type="button"
                                                            ng-hide="remainPrice <= 0"
                                                            ng-click="addContractPremium()"
                                                            class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                                        <img class="material-icons mdl-list__item-icon"
                                                             ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                                                    </button>
                                                    <button uib-tooltip="حذف"
                                                            tooltip-append-to-body="true"
                                                            type="button"
                                                            ng-click="removeContractPremium($index)"
                                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                        <img class="material-icons mdl-list__item-icon"
                                                             ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                            ng-show="!contractPremiums || contractPremiums.length ==0">
                                            <td colspan="4">
                                                <strong>
                                                    <a href="" ng-click="addContractPremium()">اضافة قسط</a>
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr ng-if="contract.seller.id && productPurchases.length > 0">
                                            <td colspan="2" class="text-left info">
                                                <span>المجموع</span>
                                            </td>
                                            <td colspan="2">
                                                <input dir="rtl"
                                                       type="text"
                                                       disabled
                                                       class="form-control"
                                                       value="{{contractPremiumsSum | currency:'':2}}">
                                            </td>
                                        </tr>
                                        <tr ng-if="contract.seller.id && productPurchases.length > 0">
                                            <td colspan="2" class="text-left warning">
                                                <span>إجمالي قيمة العقد بعد (الخصم + القيمة المضافة)</span>
                                            </td>
                                            <td colspan="2">
                                                <input dir="rtl"
                                                       type="text"
                                                       disabled
                                                       class="form-control"
                                                       ng-class="{'success': remainPrice >=0 , 'danger': remainPrice < 0}"
                                                       value="{{totalPriceAfterDiscountAndVat | currency:'':2}}">
                                            </td>
                                        </tr>
                                        <tr ng-if="contract.seller.id && productPurchases.length > 0">
                                            <td colspan="2" class="text-left success">
                                                <span>المتبقي فى العقد</span>
                                            </td>
                                            <td colspan="2">
                                                <input dir="rtl"
                                                       type="text"
                                                       disabled
                                                       class="form-control"
                                                       ng-class="{'success': remainPrice >=0 , 'danger': remainPrice < 0}"
                                                       value="{{ remainPrice | currency:'':2}}">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>