<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="panel-title mdl-list__item pull-right">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">search</i>
                <strong>{{modalTitle}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel panel-primary" is-open="true">
                    <uib-accordion-heading>
                        <i class="fa fa-search fa-lg"></i>
                        <span>خيارات البحث - بيانات الحساب البنكي</span>
                    </uib-accordion-heading>

                    <div class="row">

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="branch" class="control-label">[رقم الفرع] اسم الفرع</label>
                            <select id="branch"
                                    data-placeholder="ابحث عن الفرع"
                                    no-results-text="'لا توجد فروع توافق بحثك'"
                                    placeholder-text-single="'اختر الفرع'"
                                    class="form-control text-right"
                                    chosen=""
                                    ng-model="buffer.branch"
                                    ng-options="(' [ ' + branch.code + ' ] ' + ' ' + branch.name) for branch in branches | orderBy:'code' track by branch.id">
                            </select>
                        </div>

                        <div class="form-group row">

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="bankCode" class="control-label">رقم الحساب (يحتوى علي)</label>
                                <input id="bankCode"
                                       type="number"
                                       min="1"
                                       class="form-control text-right"
                                       placeholder="ادخل رقم الحساب"
                                       ng-model="buffer.bankCode">
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="bankName" class="control-label">اسم البنك (يحتوى علي)</label>
                                <input id="bankName"
                                       type="text"
                                       class="form-control text-right "
                                       placeholder="ادخل اسم البنك كاملاً او جزءاً منه"
                                       ng-model="buffer.bankName">
                            </div>

                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="bankBranchName" class="control-label">فرع البنك (يحتوى على) </label>
                            <input id="bankBranchName"
                                   type="text"
                                   class="form-control text-right"
                                   placeholder="ادخل اسم فرع البنك كاملاً او جزءاً منه"
                                   ng-model="buffer.bankBranchName">
                        </div>

                        <div class="form-group row">

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="bankStockTo" class="control-label">الرصيد الحالي إلى </label>
                                <input id="bankStockTo"
                                       type="number"
                                       class="form-control text-right"
                                       placeholder="ادخل الرصيد الحالي من"
                                       ng-model="buffer.bankStockTo">
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="bankStockFrom" class="control-label">الرصيد الحالي من </label>
                                <input id="bankStockFrom"
                                       type="number"
                                       class="form-control text-right"
                                       placeholder="ادخل الرصيد الحالي إلى"
                                       ng-model="buffer.bankStockFrom">
                            </div>

                        </div>

                    </div>

                </div>
                <div uib-accordion-group class="panel panel-primary" is-open="false">
                    <uib-accordion-heading>
                        <i class="fa fa-search fa-lg"></i>
                        <span>خيارات البحث - بيانات الإيداع</span>
                    </uib-accordion-heading>

                    <div class="row">

                        <div class="row">
                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="code" class="control-label">رقم الإيداع (يحتوى علي)</label>
                                <input id="code"
                                       type="number"
                                       min="1"
                                       class="form-control text-right"
                                       placeholder="ادخل رقم الإيداع"
                                       ng-model="buffer.code">
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="fromName" class="control-label">اسم المودع (يحتوى علي)</label>
                                <input id="fromName"
                                       type="text"
                                       class="form-control text-right "
                                       placeholder="ادخل اسم المودع كاملاً او جزءاً منه"
                                       ng-model="buffer.fromName">
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="amountTo" class="control-label">قيمة الإيداع من </label>
                                <input id="amountTo"
                                       type="number"
                                       class="form-control text-right"
                                       placeholder="ادخل الرصيد الحالي إلى"
                                       ng-model="buffer.amountTo">
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="amountFrom" class="control-label">قيمة الإيداع إلى </label>
                                <input id="amountFrom"
                                       type="number"
                                       class="form-control text-right"
                                       placeholder="ادخل الرصيد الحالي من"
                                       ng-model="buffer.amountFrom">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="dateFrom" class="control-label">تاريخ الإيداع من</label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="dateFrom"
                                           type="text"
                                           class="form-control text-right is-calendarPicker"
                                           ng-model="buffer.dateFrom"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="dateTo" class="control-label">تاريخ الإيداع إلى</label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="dateTo"
                                           type="text"
                                           class="form-control text-right is-calendarPicker"
                                           ng-model="buffer.dateTo"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </uib-accordion>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="بحث"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">search</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine();"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>