<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">add</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="bank" class="control-label">الحساب البنكي [اسم البنك/فرع البنك]</label>
                <select id="bank"
                        data-placeholder="ابحث عن الحساب"
                        no-results-text="'لا توجد حسابات بنكية توافق بحثك'"
                        placeholder-text-single="'اختر الحساب'"
                        class="form-control text-right"
                        chosen=""
                        focus-autofocus="1"
                        ng-model="deposit.bank"
                        required="required"
                        disable-validation-message=""
                        ng-options="(' [ ' + bank.code  + ' / ' + bank.name + ' / ' + bank.branchName + ' ] ') group by bank.branch.name for bank in banks | orderBy:'name' track by bank.id">
                </select>
            </div>

            <div class="row">

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="code" class="control-label">رقم الإيداع </label>
                    <input id="code"
                           type="text"
                           required="required"
                           disable-validation-message=""
                           class="form-control text-right"
                           placeholder="ادخل رقم الإيداع"
                           ng-model="deposit.code">
                </div>

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="masterCreditAmount" class="control-label"> قيمة الإيداع </label>
                    <div dir="ltr" class="input-group" id="masterCreditAmount">
                        <span class="input-group-addon">ريال سعودي</span>
                        <input type="number"
                               min="1"
                               class="form-control text-right "
                               ng-model="deposit.amount"
                               placeholder="ادخل القيمة"
                               required="required"
                               disable-validation-message="">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="fromName" class="control-label">اسم المودع </label>
                    <input id="fromName"
                           type="text"
                           required="required"
                           disable-validation-message=""
                           class="form-control text-right"
                           placeholder="ادخل اسم المودع"
                           ng-model="deposit.fromName">
                </div>

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="date" class="control-label">
                        <span> تاريخ الإيداع</span>
                    </label>
                    <div dir="ltr" class="input-group">
                        <input dir="rtl"
                               id="date"
                               type="text"
                               class="form-control text-right is-calendarPicker"
                               ng-model="deposit.date"
                               calendarType="ummalqura"
                               language="en"
                               dateFormat="yyyy/mm/dd"
                               placeholder="ادخل تاريخ الإيداع"
                               showOnFocus="false"
                               required="required"
                               disable-validation-message=""
                               readonly="readonly"
                               kdatepicker>
                    </div>
                </div>

            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="checkBankName" class="control-label">جهة إصدار الشيك </label>
                <input id="checkBankName"
                       type="text"
                       class="form-control text-right"
                       placeholder="ادخل جهة إصدار الشيك"
                       ng-model="deposit.checkBankName">
            </div>

            <div class="row">

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="checkNumber" class="control-label">رقم الشيك </label>
                    <input id="checkNumber"
                           type="text"
                           class="form-control text-right"
                           placeholder="ادخل رقم الشيك"
                           ng-model="deposit.checkNumber">
                </div>

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="checkDate" class="control-label">
                        <span> تاريخ إصدار الشيك</span>
                    </label>
                    <div dir="ltr" class="input-group">
                        <input dir="rtl"
                               id="checkDate"
                               type="text"
                               class="form-control text-right is-calendarPicker"
                               ng-model="deposit.checkDate"
                               calendarType="ummalqura"
                               language="en"
                               dateFormat="yyyy/mm/dd"
                               placeholder="ادخل تاريخ إصدار الشيك"
                               showOnFocus="false"
                               readonly="readonly"
                               kdatepicker>
                    </div>
                </div>

            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="note" class="control-label">ملاحظات</label>
                <textarea id="note"
                          type="text"
                          msd-elastic="\n"
                          required="required"
                          class="form-control text-right"
                          disable-validation-message=""
                          ng-model="deposit.note">
                </textarea>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>