<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
                <li class="mdl-menu__item">
                    <span>المساعدة</span>
                </li>
                <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">
                    <span>الملف الشخصي</span>
                </li>
                <li class="mdl-menu__item" ng-click="logout()">
                    <span>تسجيل الخروج</span>
                </li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div class="form-group col-md-2 pull-right">
                    <button id="offer-menu-lower-right" style="width: 100%;"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                        <span>العمليات</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="offer-menu-lower-right">
                        <li class="mdl-menu__item" ng-click="reload()">
                            <span>تحديث</span>
                        </li>
                        <li class="mdl-menu__item" ng-click="read()">
                            <span>عرض</span>
                        </li>
                        <li class="mdl-menu__item" ng-click="openCreateModel()"
                            ng-if="contains(authorities, ['ROLE_TEAM_CREATE'])">
                            <span>اضافة</span>
                        </li>
                        <li class="mdl-menu__item" ng-click="openUpdateModel()"
                            ng-if="contains(authorities, ['ROLE_TEAM_UPDATE'])"
                            ng-hide="!teams || teams.length==0">
                            <span>تعديل</span>
                        </li>
                        <li class="mdl-menu__item" ng-click="remove()"
                            ng-if="contains(authorities, ['ROLE_TEAM_DELETE'])"
                            ng-hide="!teams || teams.length==0">
                            <span>حذف</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div dir="rtl" style="margin-top: 10px">

            <div class="col-md-12">
                <div class="panel panel-body">

                    <div class="table-responsive">
                        <table st-table="collection" st-safe-src="teams"
                               class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>
                                <th class="text-center" width="50px">
                                    <span>م</span>
                                </th>

                                <th st-sort="name" class="text-right">
                                    <span> اسم المجموعة</span>
                                </th>

                                <th st-sort="personsCount" class="text-right">
                                    <span>عدد المستخدمين</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-right"
                                ng-repeat="team in collection"
                                st-select-mode="single"
                                ng-click="setSelected(team)"
                                ng-right-click="setSelected(team)"
                                ng-class="{'mdl-color--brown-100':team.isSelected}">
                                <td st-select-row-custom="team">{{$index+1}}</td>
                                <td st-select-row-custom="team">{{team.name}}</td>
                                <td st-select-row-custom="team">{{team.personsCount}}</td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!collection || collection.length ==0">
                                <td colspan="3">لا توجد بيانات</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

    </main>

</div>