<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">

                <div class="form-group col-sm-2">
                    <button ng-if="contains(authorities, ['ROLE_STUDENT_CREATE'])"
                            type="button"
                            style="width: 100%"
                            ng-click="openCreateModel()"
                            class="btn btn-success pull-left">
                        <span>اضافة</span>
                        <i class="fa fa-plus-square fa-lg"></i>
                    </button>
                </div>

                <div class="form-group col-sm-2 col-sm-offset-8">
                    <button type="button"
                            style="width: 100%"
                            ng-click="reload()"
                            class="btn btn-default pull-left">
                        <span>تحديث</span>
                        <i class="fa fa-refresh fa-lg"></i>
                    </button>
                </div>

                <div class="form-group col-md-12">
                    <input type="text"
                           class="form-control text-right"
                           placeholder="بحث شامل ..."
                           ng-model="filterAll"
                    />
                </div>

                <div class="form-group col-md-12">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center" width="50px">م</th>

                                <th class="text-right" width="120px">
                                    <a href="" ng-click="sortBy('code')">
                                    <span>
                                        <i ng-show="propertyName === 'code' && reverse == false"
                                           class="fa fa-sort-amount-asc fa-lg">
                                        </i>
                                        <i ng-show="propertyName === 'code' && reverse == true"
                                           class="fa fa-sort-amount-desc fa-lg">
                                        </i>
                                        <span> رقم الطالب</span>
                                    </span>
                                    </a>
                                </th>

                                <th class="text-right">
                                    <a href="" ng-click="sortBy('contact.name')">
                                    <span>
                                        <i ng-show="propertyName === 'contact.name' && reverse == false"
                                           class="fa fa-sort-amount-asc fa-lg">
                                        </i>
                                        <i ng-show="propertyName === 'contact.name' && reverse == true"
                                           class="fa fa-sort-amount-desc fa-lg">
                                        </i>
                                        <span> اسم الطالب</span>
                                    </span>
                                    </a>
                                </th>

                                <th class="text-right">
                                    <a href="" ng-click="sortBy('contact.nationality')">
                                    <span>
                                        <i ng-show="propertyName === 'contact.nationality' && reverse == false"
                                           class="fa fa-sort-amount-asc fa-lg">
                                        </i>
                                        <i ng-show="propertyName === 'contact.nationality' && reverse == true"
                                           class="fa fa-sort-amount-desc fa-lg">
                                        </i>
                                        <span>الجنسية</span>
                                    </span>
                                    </a>
                                </th>

                                <th class="text-right">
                                    <a href="" ng-click="sortBy('contact.mobile')">
                                    <span>
                                        <i ng-show="propertyName === 'contact.mobile' && reverse == false"
                                           class="fa fa-sort-amount-asc fa-lg">
                                        </i>
                                        <i ng-show="propertyName === 'contact.mobile' && reverse == true"
                                           class="fa fa-sort-amount-desc fa-lg">
                                        </i>
                                        <span>الجوال</span>
                                    </span>
                                    </a>
                                </th>

                                <th class="text-center" width="300px">العمليات</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-right"
                                ng-repeat="student in (filteredData = (students | filter:filterAll:match | orderBy:propertyName:reverse))">
                                <td>{{$index+1}}</td>
                                <td>{{student.code}}</td>
                                <td><span class="label label-success">نشط</span> {{student.contact.name}}</td>
                                <td>{{student.contact.nationality}}</td>
                                <td>{{student.contact.mobile}}</td>
                                <td>
                                    <button ng-if="contains(authorities, ['ROLE_STUDENT_DELETE'])"
                                            uib-tooltip="حذف"
                                            type="button"
                                            ng-click="delete(student)"
                                            class="btn btn-danger">

                                        <i class="fa fa-trash fa-lg"></i>
                                    </button>
                                    <button ng-if="contains(authorities, ['ROLE_STUDENT_UPDATE'])"
                                            uib-tooltip="تعديل"
                                            type="button"
                                            ng-click="openUpdateModel(student)"
                                            class="btn btn-warning">

                                        <i class="fa fa-edit fa-lg"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="filteredData.length == 0">
                                <td colspan="9">لا توجد بيانات</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>




