<div dir="rtl">

    <div class="modal-header">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="modal-title text-center" id="modal-title">تفاصيل العرض للعميل / {{offer.customerName}}</h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left" style="margin-top: 2px;">
                            <li>
                                <a href="" ng-click="refreshOffer()" tooltip-append-to-body="true"
                                   uib-tooltip="تحديث البيانات">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>البيانات الاساسية</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>رقم العرض</td>
                                        <td>{{offer.code}}</td>
                                    </tr>
                                    <tr>
                                        <td>تاريخ العرض</td>
                                        <td>
                                            {{offer.lastUpdate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                                            <span class="label label-success">{{offer.lastUpdate | date:'h:m a'}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>اسم العميل</td>
                                        <td>{{offer.customerName}}</td>
                                    </tr>
                                    <tr>
                                        <td>رقم البطاقة</td>
                                        <td>{{offer.customerIdentityNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>رقم الجوال</td>
                                        <td>{{offer.customerMobile}}</td>
                                    </tr>
                                    <tr>
                                        <td>طريقة الدفع</td>
                                        <td>{{offer.masterPaymentType}}</td>
                                    </tr>
                                    <tr>
                                        <td>التخصص المطلوب</td>
                                        <td>[ {{offer.master.code}} ] {{offer.master.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>سعر التخصص</td>
                                        <td>{{offer.masterPrice | currency:'SAR':0}}</td>
                                    </tr>
                                    <tr>
                                        <td>قيمة الخصم</td>
                                        <td>{{offer.masterDiscountAmount}} %</td>
                                    </tr>
                                    <tr>
                                        <td>نسبة الفائدة</td>
                                        <td>{{offer.masterProfitAmount}} %</td>
                                    </tr>
                                    <tr>
                                        <td>قيمة القسط الشهري</td>
                                        <td>{{offer.masterProfitAmount | currency:'SAR':0}}</td>
                                    </tr>
                                    <tr>
                                        <td>المبلغ النهائي المطلوب</td>
                                        <td>
                                            <span ng-if="offer.masterPaymentType==='نقدي'">
                                                {{offer.masterPrice - (offer.masterPrice * offer.masterDiscountAmount / 100) | currency:'SAR':0}}
                                            </span>
                                            <span ng-if="offer.masterPaymentType!=='نقدي'">
                                                {{offer.masterPrice + (offer.masterPrice * offer.masterProfitAmount / 100) | currency:'SAR':0}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>حالة التسجيل</td>
                                        <td>
                                            <span ng-if="offer.registered" class="label label-success">مسجل</span>
                                            <span ng-if="!offer.registered" class="label label-danger">غير مسجل</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>مدخل العرض</td>
                                        <td>
                                            <span class="label label-success">
                                                {{offer.lastPerson.contact.firstName}}
                                                {{offer.lastPerson.contact.forthName}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ملاحظات العرض</td>
                                        <td>{{offer.note}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left" style="margin-top: 2px;">
                            <li>
                                <a href="" ng-click="refreshOfferCalls()" tooltip-append-to-body="true" uib-tooltip="تحديث">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>نتائج الاتصالات</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collectionCalls" st-safe-src="offer.calls" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th st-sort="person.contact.firstName" class="text-center">المتصل</th>
                                    <th st-sort="date" st-sort-default="reverse" class="text-center fit">التاريخ والوقت</th>
                                    <th st-sort="note" class="text-center">تفاصيل الاتصال</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="call in collectionCalls">
                                    <td class="fit">
                                        {{call.person.contact.firstName}} {{call.person.contact.forthName}}
                                    </td>
                                    <td class="fit">
                                        <span>{{call.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span class="label label-success">{{call.date | date:'h:m a'}}</span>
                                    </td>
                                    <td>
                                        {{call.note}}
                                    </td>
                                </tr>
                                <tr class="blank_row"
                                    style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collectionCalls || collectionCalls.length ==0">
                                    <td colspan="3">لا توجد اتصالات</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="اتصال"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="ModalProvider.openCallCreateModel(offer)"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <i class="material-icons">phone</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</div>