<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">search</i>
                <strong>{{modalTitle}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="form-group row">

            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                <div class="mdl-tabs__tab-bar">
                    <a href="#panel-1-offer-filter" class="mdl-tabs__tab col-xs-6 col-sm-6 col-md-6 col-lg-6 is-active">
                        <span>الفلاتر</span>
                    </a>
                    <a href="#panel-2-offer-filter" class="mdl-tabs__tab col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span>خيارات</span>
                    </a>
                </div>

                <div class="mdl-tabs__panel is-active" id="panel-1-offer-filter">

                    <div class="from-group row">

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="branch" class="control-label">الفرع</label>
                            <ui-select id="branch"
                                       focus-autofocus="1"
                                       ng-model="paramOffer.branch"
                                       required="required"
                                       disable-validation-message=""
                                       theme="bootstrap">
                                <ui-select-match placeholder="اختر الفرع">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="branch in branches | filter: $select.search | orderBy:'code' track by branch.id">

                                    <div class="mdl-menu__item--full-bleed-divider"></div>
                                    <li class="mdl-list__item mdl-list__item--two-line"
                                        style="padding: unset;cursor: pointer">
                                        <span class="mdl-list__item-primary-content">
                                        <span class="material-icons mdl-list__item-avatar"
                                              style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/branch.{{iconSetType}}')"></span>
                                        <div ng-bind-html="branch.name | highlight: $select.search"></div>
                                        <span class="mdl-list__item-sub-title">
                                            <span>رقم الفرع / </span>
                                            {{branch.code}}
                                        </span>
                                        </span>
                                    </li>

                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="master" class="control-label">التخصص</label>
                            <ui-select id="master"
                                       ng-model="paramOffer.master"
                                       theme="bootstrap">
                                <ui-select-match placeholder="اختر التخصص">
                                    [{{$select.selected.code}}] {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="master in paramOffer.branch.masters | filter: $select.search | orderBy:'code' track by master.id">

                                    <div class="mdl-menu__item--full-bleed-divider"></div>
                                    <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                        <span class="mdl-list__item-primary-content">
                                            <span class="material-icons mdl-list__item-avatar"
                                                  style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/master.{{iconSetType}}')"></span>
                                            <div ng-bind-html="master.name | highlight: $select.search"></div>
                                            <span class="mdl-list__item-sub-title">
                                                <span>رقم التخصص / </span>
                                                {{master.code}}
                                            </span>
                                        </span>
                                    </li>

                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="person" class="control-label">المستخدم</label>
                            <ui-select id="person"
                                       ng-model="paramOffer.person"
                                       disable-validation-message=""
                                       theme="bootstrap">
                                <ui-select-match placeholder="اختر المستخدم">
                                    {{$select.selected.contact.shortName}}
                                </ui-select-match>
                                <ui-select-choices repeat="person in personsCombo | filter: $select.search | orderBy:'shortName' track by person.id">

                                    <div class="mdl-menu__item--full-bleed-divider"></div>
                                    <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                        <span class="mdl-list__item-primary-content">
                                            <span class="material-icons mdl-list__item-avatar"
                                                  style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/person.{{iconSetType}}')"></span>
                                            <div ng-bind-html="person.contact.shortName | highlight: $select.search"></div>
                                            <span class="mdl-list__item-sub-title">
                                                <span>البريد الإلكتروني / </span>
                                                {{person.email}}
                                            </span>
                                            <span class="mdl-list__item-sub-title">
                                                <span>رقم الجوال / </span>
                                                {{person.contact.mobile}}
                                            </span>
                                        </span>
                                    </li>

                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="codeFrom" class="control-label">رقم العرض من </label>
                            <input id="codeFrom"
                                   type="number"
                                   min="1"
                                   class="form-control text-right"
                                   placeholder="ادخل رقم العرض من"
                                   ng-model="paramOffer.codeFrom">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="codeTo" class="control-label">رقم العرض إلى </label>
                            <input id="codeTo"
                                   type="number"
                                   min="1"
                                   class="form-control text-right"
                                   placeholder="ادخل رقم العرض إلى"
                                   ng-model="paramOffer.codeTo">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-init="buffer={};buffer.calendar='H'">
                            <label for="calendar" class="control-label">نوع التقويم</label>
                            <select id="calendar"
                                    style="height: 40px"
                                    class="form-control text-right"
                                    ng-model="buffer.calendar"
                                    required="required"
                                    disable-validation-message="">
                                <option value="H">تقويم هجري</option>
                                <option value="G">تقويم ميلادي</option>
                            </select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="buffer.calendar==='H'">
                            <label for="dateFrom" class="control-label">تاريخ العرض من</label>
                            <div dir="ltr" class="input-group">
                                <input dir="rtl"
                                       id="dateFrom"
                                       type="text"
                                       class="form-control text-right is-calendarPicker"
                                       ng-model="paramOffer.dateFrom"
                                       calendarType="ummalqura"
                                       language="en"
                                       dateFormat="yyyy/mm/dd"
                                       showOnFocus="false"
                                       readonly="readonly"
                                       kdatepicker>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="buffer.calendar==='H'">
                            <label for="dateTo" class="control-label">تاريخ العرض إلى</label>
                            <div dir="ltr" class="input-group">
                                <input dir="rtl"
                                       id="dateTo"
                                       type="text"
                                       class="form-control text-right is-calendarPicker"
                                       ng-model="paramOffer.dateTo"
                                       calendarType="ummalqura"
                                       language="en"
                                       dateFormat="yyyy/mm/dd"
                                       showOnFocus="false"
                                       readonly="readonly"
                                       kdatepicker>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="buffer.calendar==='G'">
                            <label for="G-dateFrom" class="control-label">تاريخ العرض من</label>
                            <input id="G-dateFrom"
                                   class="form-control"
                                   dir="ltr"
                                   type="text"
                                   name="input"
                                   ng-model="paramOffer.dateFrom"
                                   datetime="yyyy-MM-dd"/>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="buffer.calendar==='G'">
                            <label for="G-dateTo" class="control-label">تاريخ العرض إلى</label>
                            <input id="G-dateTo"
                                   class="form-control"
                                   dir="ltr"
                                   type="text"
                                   name="input"
                                   ng-model="paramOffer.dateTo"
                                   datetime="yyyy-MM-dd"/>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="customerName" class="control-label">اسم العميل (يحتوى على) </label>
                            <input id="customerName"
                                   type="text"
                                   class="form-control text-right"
                                   placeholder="ادخل اسم العميل كاملاً او جزءاً منه"
                                   ng-model="paramOffer.customerName">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="identityNumber" class="control-label">رقم البطاقة / الإقامة </label>
                            <input id="identityNumber"
                                   type="text"
                                   class="form-control text-right "
                                   placeholder="ادخل رقم البطاقة كاملاً او جزءاً منه"
                                   ng-model="paramOffer.customerIdentityNumber">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="mobile" class="control-label">رقم الجوال (يحتوى على)</label>
                            <input id="mobile"
                                   type="text"
                                   class="form-control text-right "
                                   placeholder="ادخل رقم الجوال كاملاً او جزءاً منه"
                                   ng-model="paramOffer.customerMobile">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="masterPriceFrom" class="control-label">المبلغ نقداً من </label>
                            <input id="masterPriceFrom"
                                   type="number"
                                   class="form-control text-right"
                                   placeholder="ادخل المبلغ إلى"
                                   ng-model="paramOffer.masterPriceFrom">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="masterPriceTo" class="control-label">المبلغ نقداً إلى </label>
                            <input id="masterPriceTo"
                                   type="number"
                                   class="form-control text-right"
                                   placeholder="ادخل المبلغ من"
                                   ng-model="paramOffer.masterPriceTo">
                        </div>

                    </div>

                </div>

                <div class="mdl-tabs__panel" id="panel-2-offer-filter">

                    <div class="form-group row">

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="currentPage" class="control-label">رقم الصفحة </label>
                            <input id="currentPage"
                                   type="number"
                                   min="1"
                                   class="form-control"
                                   ng-model="pageOffer.currentPage">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="page" class="control-label">عدد الصفوف بالصفحة الواحدة </label>
                            <input id="page"
                                   type="number"
                                   min="1"
                                   class="form-control"
                                   ng-model="pageOffer.size">
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <table class="table table-bordered table-hover">
                                <thead>
                                    <th class="info" colspan="4">
                                        <span>ترتيب العروض حسب : </span>
                                        <a href="" ng-click="addSortBy()">اضافة...</a>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sortBy in pageOffer.sorts">
                                        <td>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <label for="sortBy" class="control-label">بواسطة</label>
                                                <select id="sortBy"
                                                        class="form-control"
                                                        ng-model="sortBy.name">
                                                    <option value="code">رقم العرض</option>
                                                    <option value="lastUpdate">تاريخ العرض</option>
                                                    <option value="customerName">اسم العميل</option>
                                                    <option value="customerIdentityNumber">رقم البطاقة</option>
                                                    <option value="customerMobile">رقم الجوال</option>
                                                    <option value="master.name">التخصص</option>
                                                    <option value="lastPerson.id">مدخل العرض</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <label for="direction" class="control-label">اتجاة الترتيب</label>
                                                <select id="direction"
                                                        class="form-control"
                                                        ng-model="sortBy.direction">
                                                    <option value="asc">تصاعدي</option>
                                                    <option value="desc">تنازلي</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="" ng-click="pageOffer.sorts.splice($index, 1)">حذف</a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="بحث"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>