<form dir="rtl" name="from" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-group-head="stop"
      focus-group-tail="loop">

    <div class="modal-header">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="panel-title mdl-list__item pull-right">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">build</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-info" role="alert">
                    <strong>يمكنك القيام بأكثر من عملية انشاء فى ذات الوقت دفعة واحدة وذلك عن طريق تحميل ملف الجداول
                        الإلكترونية الخاص بالعروض ومن ثم ملء كل الحقول وفى النهاية إعادة رفع الملف إلى الموقع مرة
                        اخرى</strong>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="rowCount">عدد الصفوف </label>
                <div dir="ltr" class="input-group" id="rowCount">
                    <span class="input-group-addon">صف</span>
                    <input required="required"
                           disable-validation-message=""
                           type="number"
                           min="10"
                           max="10000"
                           class="form-control text-right "
                           ng-model="buffer.rowCount">
                </div>
            </div>

            <input id="input" type="file" style="display: none;" class="mdl-textfield__input" nv-file-select=""
                   uploader="uploader" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="uploader.queue.length > 0"
                 ng-hide="uploader.queue[0].isSuccess">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         ng-style="{ 'width': uploader.queue[0].progress + '%' }"></div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="تحميل ملف العمل"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="downloadOfferExcelFile()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">file_download</i>
            </button>
            <button uib-tooltip="رفع ملف العمل"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="uploadOfferExcelFile()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">file_upload</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>