<div dir="rtl">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/offer.{{iconSetType}}" width="24" height="24">
                <span>تفاصيل العرض للعميل / </span>&nbsp;
                <span class="label label-info">{{offer.customerName}}</span>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="form-group row">

            <button uib-tooltip="تحديث العرض"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="refreshOffer()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}" width="24" height="24">
            </button>

            <button uib-tooltip="تحديث نتائج الاتصال"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="refreshOfferCalls()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}" width="24" height="24">
            </button>

            <button uib-tooltip="نتيجة اتصال"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="callOffer()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/call.{{iconSetType}}" width="24" height="24">
            </button>

        </div>

        <div class="form-group row">

            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                <div class="mdl-tabs__tab-bar">
                    <a href="#panel-1-offer-details" class="mdl-tabs__tab col-xs-6 col-sm-6 col-md-6 col-lg-6 is-active">
                        <span>البيانات الاساسية</span>
                    </a>
                    <a href="#panel-2-offer-details" class="mdl-tabs__tab col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span>نتائج الاتصال</span>
                    </a>
                </div>

                <div class="mdl-tabs__panel is-active" id="panel-1-offer-details">

                    <div class="form-group row">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>رقم العرض</td>
                                    <td>{{offer.code}}</td>
                                </tr>
                                <tr>
                                    <td>تاريخ العرض</td>
                                    <td>
                                        {{offer.lastUpdate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                                        <span class="label label-success">{{offer.lastUpdate | date:'h:m a'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>اسم العميل</td>
                                    <td>{{offer.customerName}}</td>
                                </tr>
                                <tr>
                                    <td>رقم البطاقة</td>
                                    <td>{{offer.customerIdentityNumber}}</td>
                                </tr>
                                <tr>
                                    <td>رقم الجوال</td>
                                    <td>{{offer.customerMobile}}</td>
                                </tr>
                                <tr>
                                    <td>طريقة الدفع</td>
                                    <td>{{offer.masterPaymentType}}</td>
                                </tr>
                                <tr>
                                    <td>التخصص المطلوب</td>
                                    <td>[ {{offer.master.code}} ] {{offer.master.name}}</td>
                                </tr>
                                <tr>
                                    <td>سعر التخصص</td>
                                    <td>{{offer.masterPrice | currency:' SAR ':2}}</td>
                                </tr>
                                <tr>
                                    <td>قيمة الخصم</td>
                                    <td>{{offer.masterDiscountAmount}} %</td>
                                </tr>
                                <tr>
                                    <td>نسبة الفائدة</td>
                                    <td>{{offer.masterProfitAmount}} %</td>
                                </tr>
                                <tr>
                                    <td>قيمة القسط الشهري</td>
                                    <td>{{offer.masterProfitAmount | currency:' SAR ':2}}</td>
                                </tr>
                                <tr>
                                    <td>المبلغ النهائي المطلوب</td>
                                    <td>
                                            <span ng-if="offer.masterPaymentType==='نقدي'">
                                                {{offer.masterPrice - (offer.masterPrice * offer.masterDiscountAmount / 100) | currency:' SAR ':2}}
                                            </span>
                                        <span ng-if="offer.masterPaymentType!=='نقدي'">
                                                {{offer.masterPrice + (offer.masterPrice * offer.masterProfitAmount / 100) | currency:' SAR ':2}}
                                            </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>حالة التسجيل</td>
                                    <td>
                                        <span ng-if="offer.registered" class="label label-success">مسجل</span>
                                        <span ng-if="!offer.registered" class="label label-danger">غير مسجل</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>مدخل العرض</td>
                                    <td>
                                            <span class="label label-success">
                                                {{offer.lastPerson.contact.firstName}}
                                                {{offer.lastPerson.contact.forthName}}
                                            </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ملاحظات العرض</td>
                                    <td>{{offer.note}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="mdl-tabs__panel" id="panel-2-offer-details">

                    <div class="form-group row">

                        <div class="table-responsive">
                            <table st-table="collectionCalls" st-safe-src="offer.calls" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th st-sort="person.contact.firstName" class="text-center">المتصل</th>
                                    <th st-sort="date" st-sort-default="reverse" class="text-center fit">التاريخ والوقت</th>
                                    <th st-sort="note" class="text-center">تفاصيل الاتصال</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="call in collectionCalls">
                                    <td class="fit">
                                        {{call.person.contact.firstName}} {{call.person.contact.forthName}}
                                    </td>
                                    <td class="fit">
                                        <span>{{call.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span class="label label-success">{{call.date | date:'h:m a'}}</span>
                                    </td>
                                    <td>
                                        {{call.note}}
                                    </td>
                                </tr>
                                <tr class="blank_row"
                                    style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collectionCalls || collectionCalls.length ==0">
                                    <td colspan="3">لا توجد اتصالات</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-left">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</div>