<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.contact.img + ')'}"></span>
                        <span>{{me.contact.firstName}} {{me.contact.forthName}}</span>
                        <span class="mdl-list__item-sub-title">{{me.email}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span>المساعدة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span>عن البرنامج</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span>الملف الشخصي</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span>تسجيل الخروج</span>
                    </span>
                </li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div class="row">
                    <ul dir="rtl" class="breadcrumb">
                        <li ng-repeat="item in items | orderBy:'id' track by item.id">
                            <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                            <span ng-if="item.type==='title'" style="{{item.style}}">{{item.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                        <button id="branch-menu-lower-right" style="width: 100%;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <span>العمليات</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="branch-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="filter()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">search</i>
                                <span>عرض بيانات العروض</span>
                            </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="newOffer()"
                                ng-if="contains(me.team.authorities, ['ROLE_OFFER_CREATE'])">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">add</i>
                                    <span>انشاء عرض جديد</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openOfferHeavyWorkModel()"
                                ng-if="contains(me.team.authorities, ['ROLE_OFFER_CREATE'])">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">build</i>
                                    <span>انشاء دفعة من العروض</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openOfferUpdateModel(selected)"
                                ng-if="contains(me.team.authorities, ['ROLE_OFFER_UPDATE']) && toggleList===1"
                                ng-hide="!offers || offers.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">edit</i>
                                    <span>تعديل بيانات العرض</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="delete()"
                                ng-if="contains(me.team.authorities, ['ROLE_OFFER_DELETE']) && toggleList===1"
                                ng-hide="!offers || offers.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">delete</i>
                                    <span>حذف العرض</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openOfferDetailsModel(selected);"
                                ng-hide="!offers || offers.length==0"
                                ng-if="toggleList===1">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">info</i>
                                    <span>التفاصيل</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="print(selected)"
                                ng-hide="!offers || offers.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>طباعة عرض سعر</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="call(selected);"
                                ng-hide="!offers || offers.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">phone</i>
                                   <span>إجراء اتصال</span>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                        <button style="width:100%" id="report-menu-lower-right" style="width: 100%;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <span>التقارير</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="report-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportOfferByBranchModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>العروض حسب الفرع</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportOfferByMasterModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>العروض حسب التخصص</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportOfferByPersonModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>العروض حسب المستخدم</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportCallByPersonModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>اتصالات العروض حسب المستخدم</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportOfferByIdModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>العروض حسب رقم العرض</span>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="pull-left" ng-init="toggleList=1">
                        <div class="btn-toolbar">
                            <div class="btn-group" data-toggle="buttons">
                                <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                        type="button" ng-click="toggleList=1"
                                        ng-class="{'active':toggleList===1}">
                                    <input type="radio" name="options"/>
                                    <i class="material-icons">reorder</i>
                                </button>
                                <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                        type="button" ng-click="toggleList=2"
                                        ng-class="{'active':toggleList===2}">
                                    <input type="radio" name="options"/>
                                    <i class="material-icons">view_module</i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div dir="rtl" class="row" style="margin-top: 10px">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="filter()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="تصفية البيانات">
                                    <span class="fa fa-filter"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_OFFER_CREATE'])"
                                   ng-click="newOffer()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="انشاء عرض جديد">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>قائمة العروض</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection1" st-safe-src="offers"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>

                                    <th class="text-right">
                                        <span>م</span>
                                    </th>

                                    <th st-sort="code" class="text-right fit">
                                        <span> رقم العرض</span>
                                    </th>

                                    <th st-sort="lastUpdate" class="text-right fit">
                                        <span> تاريخ العرض</span>
                                    </th>

                                    <th st-sort="customerName" class="text-right">
                                        <span> اسم العميل</span>
                                    </th>

                                    <th st-sort="customerMobile" class="text-right">
                                        <span> رقم الجوال</span>
                                    </th>

                                    <th st-sort="masterPaymentType" class="text-right fit">
                                        <span> نوع الدفع</span>
                                    </th>

                                    <th st-sort="masterPrice" class="text-right fit">
                                        <span>سعر الدورة</span>
                                    </th>

                                    <th st-sort="masterDiscountAmount" class="text-right fit">
                                        <span>الخصم</span>
                                    </th>

                                    <th st-sort="masterProfitAmount" class="text-right fit">
                                        <span>الفائدة</span>
                                    </th>

                                    <th st-sort="net" class="text-right fit">
                                        <span>الصافي</span>
                                    </th>

                                    <th st-sort="master.name" class="text-right">
                                        <span>التخصص</span>
                                    </th>

                                    <th st-sort="lastPerson.contact.id" class="text-right fit">
                                        <span>مدخل العرض</span>
                                    </th>

                                </tr>
                                <tr>
                                    <th colspan="12">
                                        <input st-search=""
                                               class="form-control"
                                               placeholder="بحث شامل وسريع..."
                                               type="text"/>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-right"
                                    ng-repeat="offer in collection1"
                                    context-menu="rowMenu"
                                    st-select-mode="single"
                                    ng-dblclick="ModalProvider.openOfferDetailsModel(offer);"
                                    ng-click="setSelected(offer)"
                                    ng-right-click="setSelected(offer)"
                                    ng-class="{'mdl-color--brown-100':offer.isSelected}">
                                    <td st-select-row-custom="offer">{{$index+1}}</td>
                                    <td st-select-row-custom="offer" class="fit">{{offer.code}}</td>
                                    <td st-select-row-custom="offer" class="fit">
                                        {{offer.lastUpdate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                                    </td>
                                    <td st-select-row-custom="offer">
                                        <span ng-if="offer.registered" class="label label-success">مسجل</span>
                                        <span ng-if="!offer.registered" class="label label-danger">غير مُسجل</span>
                                        {{offer.customerName}}
                                    </td>
                                    <td st-select-row-custom="offer">
                                        <span class="label label-warning" ng-if="offer.calls.length > 0">{{offer.calls.length}} اتصال</span>
                                        {{offer.customerMobile}}
                                    </td>
                                    <td st-select-row-custom="offer" class="fit">{{offer.masterPaymentType}}</td>
                                    <td st-select-row-custom="offer" class="fit">{{offer.masterPrice}} SAR</td>
                                    <td st-select-row-custom="offer" class="fit">{{offer.masterDiscountAmount}} %</td>
                                    <td st-select-row-custom="offer" class="fit">{{offer.masterProfitAmount}} %</td>
                                    <td st-select-row-custom="offer" class="fit"s>{{offer.net}} SAR</td>
                                    <td st-select-row-custom="offer">
                                        [ {{offer.master.code}} ]
                                        {{offer.master.name}}
                                    </td>
                                    <td st-select-row-custom="offer" class="fit">
                                        {{offer.lastPerson.contact.firstName}}
                                        {{offer.lastPerson.contact.forthName}}
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection1 || collection1.length ==0">
                                    <td colspan="12">لا توجد بيانات</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="selected.id && toggleList===1">

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshCallsByOffer()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="تحديث البيانات">
                                    <span class="fa fa-refresh"></span>
                                </a>
                                <a href=""
                                   ng-click="call()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="انشاء اتصال جديد">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>قائمة الاتصالات</h3>
                            <span>رقم العرض  / {{selected.code}}</span>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection2" st-safe-src="selected.calls" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th st-sort="person.contact.firstName" class="text-center">المتصل</th>
                                    <th st-sort="date" st-sort-default="reverse" class="text-center fit">التاريخ والوقت</th>
                                    <th st-sort="note" class="text-center">تفاصيل الاتصال</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="call in collection2">
                                    <td class="fit">
                                        {{call.person.contact.firstName}} {{call.person.contact.forthName}}
                                    </td>
                                    <td class="fit">
                                        <span>{{call.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span class="label label-success">{{call.date | date:'h:m a'}}</span>
                                    </td>
                                    <td>
                                        {{call.note}}
                                    </td>
                                </tr>
                                <tr class="blank_row"
                                    style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection2 || collection2.length ==0">
                                    <td colspan="3">لا توجد اتصالات</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
                <div st-table="collection3" st-safe-src="offers">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="offer in collection3">
                        <!-- CONTACT ITEM -->
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img width="100" height="100"
                                         src="/ui/img/no-image.jpg"
                                         alt="{{offer.code}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">{{offer.customerName}}</div>
                                </div>
                                <div class="profile-controls">
                                    <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                    <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p>
                                        <strong>رقم العرض</strong>
                                        {{offer.code}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong>رقم الجوال</strong>
                                        {{offer.customerMobile}}
                                    </p>
                                    <hr>
                                    <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                        <strong>التخصص</strong>
                                        [ {{offer.master.code}} ]
                                        {{offer.master.name}}
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button uib-tooltip="عرض جديد"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_OFFER_CREATE'])"
                                            ng-click="ModalProvider.openOfferCreateModel();"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button uib-tooltip="تعديل"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_OFFER_UPDATE'])"
                                            ng-click="ModalProvider.openOfferUpdateModel(offer)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button uib-tooltip="حذف"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_OFFER_DELETE'])"
                                            ng-click="delete(offer)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTACT ITEM -->
                    </div>
                </div>
            </div>

        </div>

    </main>

</div>