<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/offer.{{iconSetType}}" width="24" height="24">
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="row">

            <div class="form-group row"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group row">

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                    <div class="mdl-tabs__tab-bar">
                        <a href="#panel-1-offer" class="mdl-tabs__tab col-xs-6 col-sm-6 col-md-6 col-lg-6 is-active">
                            <span>البيانات الاساسية</span>
                        </a>
                        <a href="#panel-2-offer" class="mdl-tabs__tab col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <span>طريقة الدفع</span>
                        </a>
                    </div>

                    <div class="mdl-tabs__panel is-active" id="panel-1-offer">

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                                 ng-show="action==='update'">
                                <label for="code" class="control-label">رقم العرض</label>
                                <input id="code"
                                       type="text"
                                       focus-autofocus="1"
                                       ng-required="action==='update'"
                                       disable-validation-message=""
                                       class="form-control text-right"
                                       placeholder="رقم العرض الغير مكرر على مستوى الفروع"
                                       ng-model="offer.code">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="master" class="control-label">التخصص</label>
                                <ui-select id="master"
                                           focus-autofocus="2"
                                           ng-model="offer.master"
                                           theme="bootstrap">
                                    <ui-select-match placeholder="اختر التخصص">
                                        [{{$select.selected.code}}] {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            group-by="groupByBranch"
                                            repeat="master in masters | filter: $select.search | orderBy:'code' track by master.id">
                                        <div ng-bind-html="master.name | highlight: $select.search"></div>
                                        <span>رقم التخصص : </span>
                                        <span ng-bind-html="''+master.code | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="customerName" class="control-label">اسم العميل </label>
                                <input id="customerName"
                                       type="text"
                                       required="required"
                                       disable-validation-message=""
                                       class="form-control text-right"
                                       placeholder="اسم العميل..."
                                       ng-model="offer.customerName">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="identityNumber" class="control-label">رقم البطاقة / الإقامة</label>
                                <input id="identityNumber"
                                       type="text"
                                       class="form-control text-right "
                                       placeholder="رقم البطاقة..."
                                       ng-model="offer.customerIdentityNumber">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="mobile" class="control-label">رقم الجوال</label>
                                <input id="mobile"
                                       type="text"
                                       required="required"
                                       disable-validation-message=""
                                       class="form-control text-right "
                                       placeholder="رقم الجوال..."
                                       ng-model="offer.customerMobile">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="note" class="control-label">ملاحظات </label>
                                <textarea id="note"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control text-right"
                                          placeholder="اذكر باختصار ملاحظات العرض"
                                          ng-model="offer.note">
                            </textarea>
                            </div>

                        </div>

                    </div>

                    <div class="mdl-tabs__panel" id="panel-2-offer">

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="masterPaymentType" class="control-label">طريقة الدفع</label>
                                <select id="masterPaymentType"
                                        style="height: 40px"
                                        required="required"
                                        disable-validation-message=""
                                        class="form-control text-right"
                                        ng-model="offer.masterPaymentType">
                                    <option value="نقدي">
                                        <span>نقدي</span>
                                    </option>
                                    <option value="قسط شهري">
                                        <span>قسط شهري</span>
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="masterPrice"> المبلغ نقدا </label>
                                <div dir="ltr" class="input-group" id="masterPrice">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input required="required"
                                           disable-validation-message=""
                                           type="number"
                                           min="0"
                                           class="form-control text-right "
                                           ng-model="offer.masterPrice">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                                 ng-show="offer.masterPaymentType==='نقدي'">
                                <label for="masterDiscountAmount"> نسبة الخصم </label>
                                <div dir="ltr" class="input-group" id="masterDiscountAmount">
                                    <span class="input-group-addon">%</span>
                                    <input
                                            ng-required="offer.masterPaymentType==='نقدي'"
                                            disable-validation-message=""
                                            type="number"
                                            min="0"
                                            max="100"
                                            class="form-control text-right "
                                            ng-model="offer.masterDiscountAmount">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                                 ng-show="offer.masterPaymentType!='نقدي'">
                                <label for="masterProfitAmount"> نسبة الفائدة </label>
                                <div dir="ltr" class="input-group" id="masterProfitAmount">
                                    <span class="input-group-addon">%</span>
                                    <input
                                            ng-required="offer.masterPaymentType!='نقدي'"
                                            disable-validation-message=""
                                            type="number"
                                            min="0"
                                            max="100"
                                            class="form-control text-right"
                                            ng-model="offer.masterProfitAmount">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                                 ng-show="offer.masterPaymentType!='نقدي'">
                                <label for="masterCreditAmount"> قيمة القسط </label>
                                <div dir="ltr" class="input-group" id="masterCreditAmount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input type="number"
                                           min="0"
                                           max="{{offer.masterPrice}}"
                                           class="form-control text-right "
                                           ng-model="offer.masterCreditAmount"
                                           ng-required="offer.masterPaymentType!='نقدي'"
                                           disable-validation-message="">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                                 ng-show="offer.masterPaymentType==='نقدي'">
                                <label for="priceAfterDiscount"> المبلغ بعد الخصم </label>
                                <div dir="ltr" class="input-group"
                                     id="priceAfterDiscount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input type="number"
                                           readonly="readonly"
                                           class="form-control text-right "
                                           ng-value="offer.masterPrice - (offer.masterPrice * offer.masterDiscountAmount / 100)">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                                 ng-show="offer.masterPaymentType!='نقدي'">
                                <label for="priceAfterProfit"> المبلغ بعد الفائدة </label>
                                <div dir="ltr" class="input-group" id="priceAfterProfit">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input readonly="readonly"
                                           class="form-control text-right "
                                           ng-value="offer.masterPrice + (offer.masterPrice * offer.masterProfitAmount / 100)">
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="تعديل"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/edit.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="clear();form.$setPristine();"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>