<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <h3 class="modal-title text-center" id="modal-title">{{title}}</h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">البيانات الاساسية</div>
                    <div class="panel-body">

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                             ng-show="action==='update'">
                            <label for="code" class="control-label">رقم العرض</label>
                            <input id="code"
                                   type="text"
                                   focus-autofocus="1"
                                   ng-required="action==='update'"
                                   disable-validation-message=""
                                   class="form-control text-right"
                                   placeholder="رقم العرض الغير مكرر على مستوى الفروع"
                                   ng-model="offer.code">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="master" class="control-label">[رقم التخصص] اسم التخصص</label>
                            <select id="master"
                                    name="master"
                                    data-placeholder="ابحث عن التخصص"
                                    no-results-text="'لا توجد تخصصات توافق بحثك'"
                                    placeholder-text-single="'اختر التخصص'"
                                    class="form-control text-right"
                                    chosen=""
                                    ng-model="offer.master"
                                    required="required"
                                    disable-validation-message=""
                                    ng-options="(' [ ' + master.code + ' ] ' + ' ' + master.name) group by master.branch.name for master in masters | orderBy:'code' track by master.id">
                            </select>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="customerName" class="control-label">اسم العميل </label>
                            <input id="customerName"
                                   type="text"
                                   required="required"
                                   disable-validation-message=""
                                   class="form-control text-right"
                                   placeholder="اسم العميل..."
                                   ng-model="offer.customerName">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="identityNumber" class="control-label">رقم البطاقة / الإقامة</label>
                            <input id="identityNumber"
                                   type="text"
                                   class="form-control text-right "
                                   placeholder="رقم البطاقة..."
                                   ng-model="offer.customerIdentityNumber">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="mobile" class="control-label">رقم الجوال</label>
                            <input id="mobile"
                                   type="text"
                                   required="required"
                                   disable-validation-message=""
                                   class="form-control text-right "
                                   placeholder="رقم الجوال..."
                                   ng-model="offer.customerMobile">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="control-label">الحالة</label>
                            <toggle-switch
                                    dir="ltr"
                                    style="width: 100%"
                                    ng-model="offer.registered"
                                    class="switch-success"
                                    on-label="مسجل"
                                    off-label="غير مسجل">
                            </toggle-switch>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="note" class="control-label">ملاحظات </label>
                            <textarea id="note"
                                      type="text"
                                      msd-elastic="\n"
                                      class="form-control text-right"
                                      placeholder="اذكر باختصار ملاحظات العرض"
                                      ng-model="offer.note">
                            </textarea>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading" style="height: 50px;">
                        <span class="col-sm-6">طريقة الدفع</span>
                        <div class="col-sm-6">
                            <toggle-switch
                                    dir="ltr"
                                    style="width: 100%"
                                    ng-model="showBox"
                                    class="switch-danger"
                                    on-label="نقدي"
                                    off-label="قسط شهري">
                            </toggle-switch>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="masterPrice"> المبلغ نقدا </label>
                                <div dir="ltr" class="input-group" id="masterPrice">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input required="required"
                                           disable-validation-message=""
                                           type="number"
                                           min="0"
                                           class="form-control text-right "
                                           ng-model="offer.masterPrice">
                                </div>
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="showBox">
                                <label for="masterDiscountAmount"> نسبة الخصم </label>
                                <div dir="ltr" class="input-group" id="masterDiscountAmount">
                                    <span class="input-group-addon">%</span>
                                    <input
                                           ng-required="showBox"
                                           disable-validation-message=""
                                           type="number"
                                           min="0"
                                           max="100"
                                           class="form-control text-right "
                                           ng-model="offer.masterDiscountAmount">
                                </div>
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="!showBox">
                                <label for="masterProfitAmount"> نسبة الفائدة </label>
                                <div dir="ltr" class="input-group" id="masterProfitAmount">
                                    <span class="input-group-addon">%</span>
                                    <input
                                           ng-required="!showBox"
                                           disable-validation-message=""
                                           type="number"
                                           min="0"
                                           max="100"
                                           class="form-control text-right"
                                           ng-model="offer.masterProfitAmount">
                                </div>
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="!showBox">
                                <label for="masterCreditAmount"> قيمة القسط </label>
                                <div dir="ltr" class="input-group" id="masterCreditAmount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input type="number"
                                           min="0"
                                           max="{{offer.masterPrice}}"
                                           class="form-control text-right "
                                           ng-model="offer.masterCreditAmount"
                                           ng-required="!showBox"
                                           disable-validation-message="">
                                </div>
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="showBox">
                                <label for="priceAfterDiscount"> المبلغ بعد الخصم </label>
                                <div dir="ltr" class="input-group"
                                     id="priceAfterDiscount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input type="number"
                                           readonly="readonly"
                                           class="form-control text-right "
                                           ng-value="offer.masterPrice - (offer.masterPrice * offer.masterDiscountAmount / 100)">
                                </div>
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="!showBox">
                                <label for="priceAfterProfit"> المبلغ بعد الفائدة </label>
                                <div dir="ltr" class="input-group" id="priceAfterProfit">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input readonly="readonly"
                                           class="form-control text-right "
                                           ng-value="offer.masterPrice + (offer.masterPrice * offer.masterProfitAmount / 100)">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="تعديل"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>