<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.contact.photo + ')'}"></span>
                        <span>{{me.contact.firstName}} {{me.contact.forthName}}</span>
                        <span class="mdl-list__item-sub-title">{{me.email}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span>المساعدة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span>عن البرنامج</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span>الملف الشخصي</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span>تسجيل الخروج</span>
                    </span>
                </li>
            </ul>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span>خيارات البرنامج</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="goFullscreen()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">aspect_ratio</i>
                        <span>تطبيق وضع ملء الشاشة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='G'">تطبيق التاريخ الهجري</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span>المزيد من الخيارات</span>
                    </button>
                </li>
            </ul>

            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>

        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 pull-right">
                    <button id="team-menu-lower-right" style="width: 100%;"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                        <span>العمليات</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="team-menu-lower-right">
                        <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                            ng-click="fetchTableData()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">visibility</i>
                                <span>عرض بيانات المستخدمون</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="newPerson()"
                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_CREATE'])">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">add</i>
                                <span>انشاء مستخدم جديد</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="ModalProvider.openPersonUpdateModel(selected)"
                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_UPDATE']) && toggleList===1"
                            ng-hide="!persons || persons.length==0">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">edit</i>
                                <span>تعديل بيانات المستخدم</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="delete(selected)"
                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_DELETE']) && toggleList===1"
                            ng-hide="!persons || persons.length==0">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">delete</i>
                                <span>حذف المستخدم</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="enable(selected)"
                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_ENABLE']) && toggleList===1"
                            ng-hide="!persons || persons.length==0">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">flight_takeoff</i>
                                <span>تفعيل المستخدم</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="disable(selected)"
                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_DISABLE']) && toggleList===1"
                            ng-hide="!persons || persons.length==0">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">flight_land</i>
                                <span>تعطيل المستخدم</span>
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="pull-left" ng-init="toggleList=1">
                    <div class="btn-toolbar">
                        <div class="btn-group" data-toggle="buttons">
                            <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                    type="button" ng-click="toggleList=1"
                                    ng-class="{'active':toggleList===1}">
                                <input type="radio" name="options"/>
                                <i class="material-icons">reorder</i>
                            </button>
                            <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                    type="button" ng-click="toggleList=2"
                                    ng-class="{'active':toggleList===2}">
                                <input type="radio" name="options"/>
                                <i class="material-icons">view_column</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToMenu()">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">dashboard</i>
                    <span>الرئيسية</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToCompany()"
               ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">business</i>
                    <span>الشركة</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToBranch()"
               ng-if="contains(me.team.authorities, ['ROLE_BRANCH_CREATE', 'ROLE_BRANCH_UPDATE', 'ROLE_BRANCH_DELETE', 'ROLE_BRANCH_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">layers</i>
                    <span>الفروع</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToMaster()"
               ng-if="contains(me.team.authorities, ['ROLE_MASTER_CREATE', 'ROLE_MASTER_UPDATE', 'ROLE_MASTER_DELETE', 'ROLE_MASTER_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">import_contacts</i>
                    <span>التخصصات</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToOffer()"
               ng-if="contains(me.team.authorities, ['ROLE_OFFER_CREATE', 'ROLE_OFFER_UPDATE', 'ROLE_OFFER_DELETE', 'ROLE_OFFER_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">collections_bookmark</i>
                    <span>العروض</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToCourse()"
               ng-if="contains(me.team.authorities, ['ROLE_COURSE_CREATE', 'ROLE_COURSE_UPDATE', 'ROLE_COURSE_DELETE', 'ROLE_COURSE_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">card_travel</i>
                    <span>الدورات</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToAccount()"
               ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE', 'ROLE_ACCOUNT_UPDATE', 'ROLE_ACCOUNT_DELETE', 'ROLE_ACCOUNT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">local_library</i>
                    <span>تسجيل الطلاب</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToPayment()"
               ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE', 'ROLE_PAYMENT_UPDATE', 'ROLE_PAYMENT_DELETE', 'ROLE_PAYMENT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">monetization_on</i>
                    <span>سندات القبض</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToPaymentOut()"
               ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE', 'ROLE_PAYMENT_UPDATE', 'ROLE_PAYMENT_DELETE', 'ROLE_PAYMENT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">money_off</i>
                    <span>سندات الصرف</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToBillBuyType()"
               ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_TYPE_CREATE', 'ROLE_BILL_BUY_TYPE_UPDATE', 'ROLE_BILL_BUY_TYPE_DELETE', 'ROLE_BILL_BUY_TYPE_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">subtitles</i>
                    <span>حسابات فواتير الشراء</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToBillBuy()"
               ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE', 'ROLE_BILL_BUY_UPDATE', 'ROLE_BILL_BUY_DELETE', 'ROLE_BILL_BUY_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">shopping_cart</i>
                    <span>فواتير الشراء</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToBank()"
               ng-if="contains(me.team.authorities, ['ROLE_BANK_CREATE', 'ROLE_BANK_UPDATE', 'ROLE_BANK_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">account_balance</i>
                    <span>الحسابات البنكية</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToDeposit()"
               ng-if="contains(me.team.authorities, ['ROLE_DEPOSIT_CREATE', 'ROLE_DEPOSIT_UPDATE', 'ROLE_DEPOSIT_DELETE', 'ROLE_DEPOSIT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">archive</i>
                    <span>الايداع البنكي</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToWithdraw()"
               ng-if="contains(me.team.authorities, ['ROLE_WITHDRAW_CREATE', 'ROLE_WITHDRAW_UPDATE', 'ROLE_WITHDRAW_DELETE', 'ROLE_WITHDRAW_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">unarchive</i>
                    <span>السحب البنكي</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToTeam()"
               ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">security</i>
                    <span>الصلاحيات</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ng-click="goToReport()">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">assignment</i>
                    <span>التقارير</span>
                </span>
            </a>
        </nav>
    </div>

    <main class="mdl-layout__content">

        <div dir="rtl" class="row" style="margin-top: 10px">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="fetchTableData()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="تحديث البيانات">
                                    <span class="fa fa-refresh"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE'])"
                                   ng-click="newTeam()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="انشاء مستخدم جديد">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>قائمة المستخدمين</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection1" st-safe-src="persons"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">
                                        <span>م</span>
                                    </th>

                                    <th st-sort="contact.firstName" class="text-right">
                                        <span>الاسم</span>
                                    </th>

                                    <th st-sort="email" class="text-right">
                                        <span>البريد الإلكتروني</span>
                                    </th>

                                    <th st-sort="team.name" class="text-right">
                                        <span>مجموعة الصلاحيات</span>
                                    </th>

                                    <th st-sort="contact.mobile" class="text-right">
                                        <span>رقم الجوال</span>
                                    </th>

                                    <th st-sort="lastLoginDate" class="text-right">
                                        <span>تاريخ آخر دخول</span>
                                    </th>

                                    <th st-sort="ipAddress" class="text-right">
                                        <span>أخر عنوان دخول</span>
                                    </th>

                                    <th st-sort="branch.name" class="text-right">
                                        <span>الفرع الرئيسي</span>
                                    </th>

                                </tr>
                                <tr>
                                    <th colspan="8">
                                        <input st-search=""
                                               class="form-control"
                                               placeholder="بحث شامل وسريع..."
                                               type="text"/>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-right"
                                    ng-repeat="person in collection1"
                                    context-menu="rowMenu"
                                    st-select-mode="single"
                                    ng-click="setSelected(person)"
                                    ng-right-click="setSelected(person)"
                                    ng-class="{'mdl-color--brown-100':person.isSelected}">
                                    <td st-select-row-custom="person">{{$index+1}}</td>
                                    <td st-select-row-custom="person">
                                        <span class="label label-success">{{person.enabled ? 'مفعل' : ''}}</span>
                                        <span class="label label-danger">{{person.enabled ? '' : 'معطل'}}</span>
                                        {{person.contact.firstName}}
                                        {{person.contact.forthName}}
                                    </td>
                                    <td st-select-row-custom="person">{{person.email}}</td>
                                    <td st-select-row-custom="person">{{person.team.name}}</td>
                                    <td st-select-row-custom="person">{{person.contact.mobile}}</td>
                                    <td st-select-row-custom="person">
                                        <span>{{person.lastLoginDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span class="label label-success">{{person.lastLoginDate | date:'h:m a'}}</span>
                                    </td>
                                    <td st-select-row-custom="person">{{person.ipAddress}}</td>
                                    <td st-select-row-custom="person">{{person.branch.name}}</td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection1 || collection1.length ==0">
                                    <td colspan="8">لا توجد بيانات</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
                <div st-table="collection2" st-safe-src="persons">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="person in collection2">
                        <!-- CONTACT ITEM -->
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img width="100" height="100"
                                         src="/ui/img/no-image.jpg"
                                         alt="{{person.name}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">{{person.name}}</div>
                                </div>
                                <div class="profile-controls">
                                    <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                    <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p>
                                        <strong>الاسم</strong>
                                        {{person.contact.firstName}} {{person.contact.forthName}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong>مجموعة الصلاحيات</strong>
                                        {{person.team.name}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong>البريد الإلكتروني</strong>
                                        {{person.email}}
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button uib-tooltip="مستخدم جديد"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_CREATE'])"
                                            ng-click="newPerson();"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button uib-tooltip="تعديل"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_UPDATE'])"
                                            ng-click="ModalProvider.openPersonUpdateModel(person)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTACT ITEM -->
                    </div>
                </div>
            </div>

        </div>

    </main>

</div>