<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.contact.firstName}} {{me.contact.forthName}}</span>
                        <span class="mdl-list__item-sub-title">{{me.email}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span>المساعدة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span>عن البرنامج</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span>الملف الشخصي</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span>تسجيل الخروج</span>
                    </span>
                </li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div dir="rtl" class="row" style="margin-top: 10px">

            <form dir="rtl" name="from" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
                  focus-group-head="loop" focus-group-tail="loop">

                <div class="col-xs-12 col-sm-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row">

                                <div class="text-right col-xs-12 col-sm-6 col-md-12 col-lg-12"
                                     ng-show="form.$invalid && form.$submitted">
                                    <div class="alert alert-danger" role="alert">
                                        <strong>فضلاً اكمل الحقول المطلوبة</strong>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">البيانات الاساسية</div>
                                        <div class="panel-body">

                                            <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                                <label for="name" class="control-label">اسم الشركة</label>
                                                <input id="name"
                                                       type="text"
                                                       focus-index="1"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-right"
                                                       ng-model="selected.name">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                                <label for="address" class="control-label">العنوان</label>
                                                <input id="address"
                                                       type="text"
                                                       focus-index="1"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-right"
                                                       ng-model="selected.address">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                                <label for="phone" class="control-label">الهاتف</label>
                                                <input id="phone"
                                                       type="text"
                                                       focus-index="1"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-right"
                                                       ng-model="selected.phone">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                                <label for="mobile" class="control-label">الجوال</label>
                                                <input id="mobile"
                                                       type="text"
                                                       focus-index="1"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-right"
                                                       ng-model="selected.mobile">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                                <label for="fax" class="control-label">الفاكس</label>
                                                <input id="fax"
                                                       type="text"
                                                       focus-index="1"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-right"
                                                       ng-model="selected.fax">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                                <label for="email" class="control-label">البريد الإلكتروني</label>
                                                <input id="email"
                                                       type="email"
                                                       focus-index="1"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-right"
                                                       ng-model="selected.email">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                                <label for="website" class="control-label">الموقع الرسمي</label>
                                                <input id="website"
                                                       type="text"
                                                       focus-index="1"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-right"
                                                       ng-model="selected.website">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                                <label for="commericalRegisteration" class="control-label">السجل
                                                    التجاري</label>
                                                <input id="commericalRegisteration"
                                                       type="text"
                                                       focus-index="1"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-right"
                                                       ng-model="selected.commericalRegisteration">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                                <label for="person" class="control-label"> المدير</label>
                                                <select id="person"
                                                        data-placeholder="ابحث عن حساب المستخدم من خلال الاسم"
                                                        no-results-text="'لا توجد بيانات'"
                                                        placeholder-text-single="'اختر حساب المستخدم'"
                                                        class="form-control text-right"
                                                        chosen=""
                                                        ng-model="selected.manager"
                                                        required="required"
                                                        disable-validation-message=""
                                                        ng-options="person.contact.firstName + ' ' + person.contact.forthName for person in persons | orderBy:'name' track by person.id">
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">الشعار الرسمي</div>
                                        <div class="panel-body">
                                            <input type="file" nv-file-select="" uploader="uploader" accept="image/*"/>
                                            <img ng-src="{{selected.logo}}" style="width: 100%; height: 100%"/>
                                            <div ng-show="uploader.queue.length > 0"
                                                 ng-hide="uploader.queue[0].isSuccess">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar progress-bar-striped active"
                                                         role="progressbar"
                                                         ng-style="{ 'width': uploader.queue[0].progress + '%' }"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="panel-footer">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <button uib-tooltip="حفظ"
                                        tooltip-append-to-body="true"
                                        type="submit"
                                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-left">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-icon">save</i>
                                        <span>حفظ البيانات</span>
                                    </span>
                                </button>

                            </div>

                        </div>
                    </div>
                </div>

            </form>

        </div>

    </main>

</div>





















