<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/bankTransaction.{{iconSetType}}" width="24" height="24">
                <strong>اضافة مالية للعقد رقم</strong>&nbsp;
                <span class="label label-info">{{billPurchase.code}}</span>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="row">

            <div class="form-group row" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group row">

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                    <div class="mdl-tabs__tab-bar">
                        <a href="#panel-1-payment" class="mdl-tabs__tab col-xs-6 col-sm-6 col-md-6 col-lg-6 is-active">
                            <span>المعلومات الأساسية</span>
                        </a>
                    </div>

                    <div class="mdl-tabs__panel is-active" id="panel-1-payment">

                        <div class="form-group row">

                            <div class="box-warning">
                                <p>
                                    <span>إجمالي قيمة العقد بعد (الخصم + القيمة المضافة) </span>&nbsp;
                                    {{billPurchase.totalPriceAfterDiscountAndVat | currency:' SAR ':2}}
                                </p>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="billPurchasePremium" class="control-label">القسط</label>
                                <ui-select id="billPurchasePremium"
                                           ng-model="billPurchasePayment.billPurchasePremium"
                                           required="required"
                                           disable-validation-message=""
                                           theme="bootstrap">
                                    <ui-select-match placeholder="الحقل مطلوب">

                                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer; overflow:auto;">
                                            <span class="mdl-list__item-primary-content">
                                                <span class="material-icons mdl-list__item-avatar"
                                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/billPurchasePremium.{{iconSetType}}')"></span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>مقدار القسط / </span>
                                                    <span>{{$select.selected.amount | currency:' SAR ':2}}</span>
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>تاريخ الاستحقاق / </span>
                                                    <span ng-show="dateType==='H'">{{$select.selected.dueDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                                    <span ng-show="dateType==='G'">{{$select.selected.dueDate | date: 'yyyy-MM-dd'}}</span>
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>المدفوع / </span>
                                                    <span>{{$select.selected.paid | currency:' SAR ':2}}</span>
                                                </span>
                                                <span class="mdl-list__item-sub-title mdl-color-text--white"
                                                      ng-class="{'label label-success' : $select.selected.remain === 0, 'label label-danger' : $select.selected.remain > 0, 'label label-warning' : $select.selected.remain < 0}">
                                                    <span>الباقي / </span>
                                                    <span>{{$select.selected.remain | currency:' SAR ':2}}</span>
                                                </span>
                                            </span>
                                        </li>

                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="billPurchasePremium in billPurchasePremiums | filter: $select.search | orderBy:'dueDate' track by $index">

                                        <div class="mdl-menu__item--full-bleed-divider"></div>
                                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                            <span class="mdl-list__item-primary-content">
                                                <span class="material-icons mdl-list__item-avatar"
                                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/billPurchasePremium.{{iconSetType}}')"></span>
                                                <div ng-bind-html="billPurchasePremium.name | highlight: $select.search"></div>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>مقدار القسط / </span>
                                                    {{billPurchasePremium.amount | currency:' SAR ':2}}
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>تاريخ الاستحقاق / </span>
                                                    <span ng-show="dateType==='H'">{{billPurchasePremium.dueDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                                    <span ng-show="dateType==='G'">{{billPurchasePremium.dueDate | date: 'yyyy-MM-dd'}}</span>
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>المدفوع / </span>
                                                    {{billPurchasePremium.paid | currency:' SAR ':2}}
                                                </span>
                                                <span class="mdl-list__item-sub-title mdl-color-text--white"
                                                      ng-class="{'label label-success' : billPurchasePremium.remain === 0, 'label label-danger' : billPurchasePremium.remain > 0, 'label label-warning' : billPurchasePremium.remain < 0}">
                                                    <span>الباقي / </span>
                                                    {{billPurchasePremium.remain | currency:' SAR ':2}}
                                                </span>
                                            </span>
                                        </li>

                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="amount" class="control-label">مقدار الدفعة</label>
                                <div dir="ltr" class="input-group" id="amount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           required="required"
                                           disable-validation-message=""
                                           min="1"
                                           ng-max="billPurchasePayment.billPurchasePremium.remain"
                                           class="form-control"
                                           placeholder="اجباري"
                                           ng-model="billPurchasePayment.amount">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="note" class="control-label">ملاحظات</label>
                                <textarea id="note"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control"
                                          placeholder="اختياري"
                                          ng-model="billPurchasePayment.note">
                                </textarea>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="سداد"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>