<form dir="rtl" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack="" focus-group-head="loop"
      focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">print</i>
                <strong>طباعة العقد للطالب رقم /</strong>
                {{account.code}}
                -
                {{account.course.code}}
                -
                {{account.course.master.code}}
                -
                {{account.course.master.branch.code}}
                -
                {{account.registerDate | kdate: 'yy' : 'ar' : 'ummalqura'}}
            </span>
        </h3>
    </div>

    <div class="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-right">
                            <h3>خيارات الطباعة</h3>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label for="contractType" class="control-label">نوع العقد المطلوب</label>
                                <select id="contractType"
                                        style="height: 40px"
                                        required="required"
                                        disable-validation-message=""
                                        class="form-control text-right"
                                        ng-model="buffer.contractType">
                                    <option value="Contract1">
                                        <span>عقد دورات تأهيلية / دورات تطويرية / برامج تدريبية - رجال</span>
                                    </option>
                                    <option value="Contract4">
                                        <span>عقد دورات تأهيلية / دورات تطويرية / برامج تدريبية - سيدات</span>
                                    </option>
                                    <option value="Contract3">
                                        <span>عقد برامج اللغة الإنجليزية - رجال</span>
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label for="reportType" class="control-label">نوع التقرير</label>
                                <select id="reportType"
                                        style="height: 40px"
                                        required="required"
                                        disable-validation-message=""
                                        class="form-control text-right"
                                        ng-model="buffer.reportType">
                                    <option value="ZIP">
                                        <span>ملف مضغوط</span>
                                    </option>
                                    <option value="PDF">
                                        <span>ملف PDF</span>
                                    </option>
                                </select>
                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="reportFileName" class="control-label">اسم الملف النهائي</label>
                                    <input id="reportFileName"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control text-right"
                                           placeholder="ادخل اسم مختصر..."
                                           ng-model="buffer.reportFileName">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="hijriDate" class="control-label">نوع التقويم</label>
                                    <select id="hijriDate"
                                            style="height: 40px"
                                            required="required"
                                            disable-validation-message=""
                                            class="form-control text-right"
                                            ng-model="buffer.hijriDate">
                                        <option value="true">
                                            <span>هجري</span>
                                        </option>
                                        <option value="false">
                                            <span>ميلادي</span>
                                        </option>
                                    </select>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="طباعة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/print.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>