<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/account.{{iconSetType}}" width="24" height="24">
                <strong>رفع مستندات الطلاب</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="control-label">الفرع</label>
                <ui-select id="branch"
                           focus-autofocus="1"
                           ng-model="buffer.branch"
                           theme="bootstrap">
                    <ui-select-match placeholder="اختر الفرع">
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="branch in branches | filter: $select.search | orderBy:'name' track by branch.id">
                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                            <span class="mdl-list__item-primary-content">
                                <span class="material-icons mdl-list__item-avatar"
                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/branch.{{iconSetType}}')"></span>
                                <div ng-bind-html="branch.name | highlight: $select.search"></div>
                                <span class="mdl-list__item-sub-title">
                                    <span>رقم الفرع / </span>
                                    {{branch.code}}
                                </span>
                            </span>
                        </li>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="searchBy" class="control-label">بحث بواسطة</label>
                <select id="searchBy"
                        style="height: 40px"
                        class="form-control text-right"
                        ng-model="buffer.searchBy">
                    <option value="fullName">اسم الطالب</option>
                    <option value="studentIdentityNumber">رقم البطاقة</option>
                    <option value="studentMobile">رقم الجوال</option>
                </select>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="control-label">الطالب</label>
                <ui-select id="account"
                           ng-model="buffer.account"
                           theme="bootstrap">
                    <ui-select-match placeholder="اختر الطالب">
                        {{$select.selected.key}}
                    </ui-select-match>
                    <ui-select-choices
                            refresh="searchAccount($select)"
                            refresh-delay="300"
                            repeat="account in accounts | filter: $select.search | orderBy:'key' track by account.id">

                        <div class="mdl-menu__item--full-bleed-divider"></div>
                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                            <span class="mdl-list__item-primary-content">
                                <span class="material-icons mdl-list__item-avatar"
                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/account.{{iconSetType}}')"></span>
                                <div ng-bind-html="account.name | highlight: $select.search"></div>
                                <span class="mdl-list__item-sub-title">
                                    <span>رقم الجوال / </span>
                                    {{account.student.contact.mobile}}
                                </span>
                                <span class="mdl-list__item-sub-title">
                                    <span>رقم البطاقة / </span>
                                    {{account.student.contact.identityNumber}}
                                </span>
                                <span class="mdl-list__item-sub-title">
                                    <span>التخصص / </span>
                                    {{account.course.master.name}}
                                </span>
                            </span>
                        </li>

                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="buffer.account.id">
                <h4 class="box-info">
                    <span>الطالب / </span>
                    {{buffer.account.name}}
                </h4>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <input id="uploader" style="display: none" type="file" onchange="angular.element(this).scope().files=this.files;" multiple/>

                <div class="form-group row">
                    <button uib-tooltip="تحديث"
                            tooltip-append-to-body="true"
                            type="button"
                            ng-click="refreshAttaches()"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}" width="24" height="24">
                    </button>
                    <button uib-tooltip="رفع ملفات"
                            tooltip-append-to-body="true"
                            type="button"
                            ng-click="uploadFiles()"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/upload.{{iconSetType}}" width="24" height="24">
                    </button>
                </div>

                <div class="form-group row">
                    <table st-table="collectionAccountAttaches"
                           st-safe-src="buffer.account.accountAttaches"
                           class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th st-sort="attach.name">اسم الملف</th>
                            <th st-sort="attachType.name">نوع الملف</th>
                            <th st-sort="attach.size">حجم الملف</th>
                            <th st-sort="attach.date" st-sort-default="reverse">تاريخ الانشاء</th>
                            <th st-sort="attach.person">مدخل الملف</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="accountAttach in collectionAccountAttaches">
                            <td class="fit">{{$index+1}}</td>
                            <td>
                                <a ng-href="{{accountAttach.attach.link}}" target="_blank">{{accountAttach.attach.name}}</a>
                            </td>
                            <td>
                                <ui-select ng-model="accountAttach.attachType"
                                           ng-change="setAccountAttachType(accountAttach)"
                                           theme="bootstrap">
                                    <ui-select-match placeholder="اختر نوع الملف">
                                        <span>{{$select.selected.name}}</span>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="attachType in attachTypes | filter: $select.search | orderBy:'name' track by attachType.id">
                                        <div ng-bind-html="attachType.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td>{{accountAttach.attach.size/1024/1024|number:2}} MB</td>
                            <td>
                                <span ng-show="dateType==='H'">{{accountAttach.attach.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                <span ng-show="dateType==='G'">{{accountAttach.attach.date | date: 'yyyy-MM-dd'}}</span>
                            </td>
                            <td>
                                {{accountAttach.attach.person.contact.shortName}}
                            </td>
                        </tr>
                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;" ng-show="!collectionAccountAttaches || collectionAccountAttaches.length ==0">
                            <td colspan="6">لا توجد مستندات حالياً</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-left">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>