<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.contact.photo + ')'}"></span>
                        <span>{{me.contact.firstName}} {{me.contact.forthName}}</span>
                        <span class="mdl-list__item-sub-title">{{me.email}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span>المساعدة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span>عن البرنامج</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span>الملف الشخصي</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span>تسجيل الخروج</span>
                    </span>
                </li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div class="row">
                    <ul dir="rtl" class="breadcrumb">
                        <li ng-repeat="item in items | orderBy:'id' track by item.id">
                            <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                            <span ng-if="item.type==='title'" style="{{item.style}}">{{item.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                        <button id="branch-menu-lower-right" style="width: 100%;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <span>العمليات</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="branch-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="filter()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">search</i>
                                <span>عرض بيانات التسجيل</span>
                            </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item" ng-click="ModalProvider.openAccountCreateModel()"
                                ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE'])">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">add</i>
                                    <span>انشاء تسجيل جديد</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openAccountHeavyWorkModel()"
                                ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE'])">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">build</i>
                                    <span>تسجيل دفعة من الطلاب</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openAccountUpdateModel(selected)"
                                ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_UPDATE'])"
                                ng-hide="!accounts || accounts.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">edit</i>
                                    <span>تعديل بيانات التسجيل</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item" ng-click="delete(selected)"
                                ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_DELETE'])"
                                ng-hide="!accounts || accounts.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">delete</i>
                                    <span>حذف التسجيل</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                        <button style="width:100%" id="report-menu-lower-right" style="width: 100%;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <span>التقارير</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="report-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportAccountByBranchModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>الطلاب المسجلين لكل فرع</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportAccountByMasterModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>الطلاب المسجلين لكل تخصص</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportAccountByCourseModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>الطلاب المسجلين لكل دورة</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportBranchDetailsModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>بيانات الفروع</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportMasterDetailsModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>بيانات التخصصات</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportCourseDetailsModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>بيانات الدورات</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div dir="rtl" class="row" style="margin-top: 10px">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-body">

                    <div class="table-responsive">
                        <table st-table="collection" st-safe-src="accounts"
                               class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>
                                <th class="text-right">
                                    <span>م</span>
                                </th>

                                <th st-sort="student.code" class="text-right">
                                    <span> رقم الطالب</span>
                                </th>

                                <th st-sort="registerDate" class="text-right">
                                    <span>تاريخ التسجيل</span>
                                </th>

                                <th st-sort="student.contact.firstName" class="text-right">
                                    <span>الاسم</span>
                                </th>

                                <th st-sort="student.contact.identityNumber" class="text-right">
                                    <span>رقم البطاقة</span>
                                </th>

                                <th st-sort="student.contact.mobile" class="text-right">
                                    <span>رقم الجوال</span>
                                </th>

                                <th st-sort="coursePrice" class="text-right">
                                    <span>المبلغ نقداً</span>
                                </th>

                                <th st-sort="remainPrice" class="text-right">
                                    <span>الباقي</span>
                                </th>

                                <th st-sort="course.master.name" class="text-right">
                                    <span>التخصص</span>
                                </th>

                                <th st-sort="lastPerson.contact.id" class="text-right">
                                    <span>مدخل التسجيل</span>
                                </th>

                            </tr>
                            <tr>
                                <th colspan="13"><input st-search="" class="form-control"
                                                        placeholder="بحث شامل وسريع..." type="text"/></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-right"
                                ng-repeat="account in collection"
                                context-menu="rowMenu"
                                st-select-mode="single"
                                ng-click="setSelected(account)"
                                ng-right-click="setSelected(account)"
                                ng-class="{'mdl-color--brown-100':account.isSelected}">
                                <td st-select-row-custom="account">{{$index+1}}</td>
                                <td st-select-row-custom="account">
                                    {{account.code}}
                                    -
                                    {{account.course.code}}
                                    -
                                    {{account.course.master.code}}
                                    -
                                    {{account.course.master.branch.code}}
                                    -
                                    {{account.registerDate | kdate: 'yy' : 'ar' : 'ummalqura'}}
                                </td>
                                <td st-select-row-custom="account">
                                    {{account.registerDate | kdate: 'yyyy-mm-dd' : 'ar' :'ummalqura'}}
                                </td>
                                <td st-select-row-custom="account">
                                    {{account.student.contact.firstName}}
                                    {{account.student.contact.secondName}}
                                    {{account.student.contact.thirdName}}
                                    {{account.student.contact.forthName}}
                                </td>
                                <td st-select-row-custom="account">{{account.student.contact.identityNumber}}</td>
                                <td st-select-row-custom="account">{{account.student.contact.mobile}}</td>
                                <td st-select-row-custom="account">{{account.coursePrice | currency:'SAR':0}}</td>
                                <td st-select-row-custom="account">{{account.remainPrice | currency:'SAR':0}}</td>
                                <td st-select-row-custom="account">
                                    [ {{account.course.master.code}} ]
                                    {{account.course.master.name}}
                                </td>
                                <td st-select-row-custom="account">
                                    {{account.lastPerson.contact.firstName}}
                                    {{account.lastPerson.contact.forthName}}
                                </td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!collection || collection.length ==0">
                                <td colspan="13">لا توجد بيانات</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

    </main>

</div>