<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">add</i>
                <strong>
                    <span>دفعة سداد التسجيل رقم / </span>
                    {{payment.account.key}}
                </strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="payment.account.id">
                <p>
                    <span>مديونية الطالب / </span>
                    {{payment.account.name}}
                    <span>لهذا التسجيل = </span>
                    {{payment.account.remainPrice}} SAR
                </p>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="paymentBook" class="control-label">دفتر السندات</label>
                <ui-select id="paymentBook"
                           ng-model="payment.paymentBook"
                           required="required"
                           disable-validation-message=""
                           theme="bootstrap">
                    <ui-select-match placeholder="اختر دفتر السندات">
                        {{$select.selected.code}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="paymentBook in paymentBooks | filter: $select.search | orderBy:'name' track by paymentBook.id">
                        <div ng-bind-html="paymentBook.code | highlight: $select.search"></div>
                        <small>
                            <span>من رقم : </span>
                            <span ng-bind-html="''+paymentBook.fromCode | highlight: $select.search"></span>
                            <br/>
                            <span>إلى رقم : </span>
                            <span ng-bind-html="''+paymentBook.toCode | highlight: $select.search"></span>
                            <br/>
                            <span>الوصف : </span>
                            <span ng-bind-html="''+paymentBook.note | highlight: $select.search"></span>
                            <br/>
                            <span>آخر رقم حالياً : </span>
                            <span ng-bind-html="''+paymentBook.maxCode | highlight: $select.search"></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="payment.paymentBook">
                <h3>
                    <span>رقم السند التالي = </span>
                    {{payment.paymentBook.maxCode + 1}}
                </h3>
            </div>

            <div class="form-group row">

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="type" class="control-label">نوع السند</label>
                    <select id="type"
                            style="height: 40px"
                            class="form-control text-right"
                            ng-model="payment.type"
                            required="required"
                            disable-validation-message="">
                        <option>ايرادات اساسية</option>
                        <option>ايرادات اضافية</option>
                    </select>
                </div>

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-init="buffer.hijriDate='true'">
                    <label for="hijriDate" class="control-label">نوع التقويم</label>
                    <select id="hijriDate"
                            style="height: 40px"
                            class="form-control text-right"
                            ng-model="buffer.hijriDate"
                            required="required"
                            disable-validation-message="">
                        <option value="true">تقويم هجري</option>
                        <option value="false">تقويم ميلادي</option>
                    </select>
                </div>

            </div>

            <div class="form-group row">

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6"
                     ng-if="buffer.hijriDate==='true'">
                    <label for="date" class="control-label">التاريخ</label>
                    <div dir="ltr" class="input-group">
                        <input dir="rtl"
                               id="date"
                               type="text"
                               class="form-control text-right is-calendarPicker"
                               ng-model="payment.date"
                               calendarType="ummalqura"
                               language="en"
                               dateFormat="yyyy/mm/dd"
                               showOnFocus="false"
                               readonly="readonly"
                               required="required"
                               disable-validation-message=""
                               kdatepicker>
                    </div>
                </div>

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6"
                     ng-if="buffer.hijriDate==='false'">
                    <label for="date" class="control-label">التاريخ</label>
                    <input id="G-date"
                           class="form-control "
                           type="date"
                           name="input"
                           ng-model="payment.date"
                           placeholder="yyyy-MM-dd"
                           required="required"
                           disable-validation-message=""
                           min="2015-01-01"
                           max="2030-12-31"/>
                </div>

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label> قيمة السند </label>
                    <div dir="ltr" class="input-group">
                        <span class="input-group-addon">ريال</span>
                        <input dir="rtl"
                               type="number"
                               min="1"
                               ng-max="(payment.type=='ايرادات اساسية' && payment.account.remainPrice)"
                               class="form-control text-right "
                               required="required"
                               disable-validation-message=""
                               ng-model="payment.amountNumber">
                    </div>
                </div>

            </div>

            <div class="form-group row" ng-init="payment.paymentMethod='Cash'">

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="paymentMethod" class="control-label">
                        <span>طريقة الدفع</span>
                    </label>
                    <select id="paymentMethod"
                            class="form-control"
                            required="required"
                            disable-validation-message=""
                            ng-model="payment.paymentMethod">
                        <option value="Cash">نقدي</option>
                        <option value="Check">شيك</option>
                        <option value="Visa">فيزا</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="payment.paymentMethod!=='Cash'">
                    <label for="checkCode" class="control-label">
                        <span ng-if="payment.paymentMethod==='Check'">رقم الشيك</span>
                        <span ng-if="payment.paymentMethod==='Visa'">رقم الفيزا</span>
                    </label>
                    <input id="checkCode"
                           type="number"
                           ng-required="payment.paymentMethod!=='Cash'"
                           ng-disabled="payment.paymentMethod==='Cash'"
                           disable-validation-message=""
                           class="form-control"
                           ng-model="payment.paymentMethodCode">
                </div>

            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="note" class="control-label"> البيان </label>
                <textarea id="note"
                          type="text"
                          msd-elastic="\n"
                          class="form-control text-right"
                          placeholder="الملاحظات"
                          ng-model="payment.note">
                            </textarea>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>