<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="mdl-layout-spacer"></div>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span>خيارات البرنامج</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="goFullscreen()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">aspect_ratio</i>
                        <span>تطبيق وضع ملء الشاشة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='G'">تطبيق التاريخ الهجري</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span>المزيد من الخيارات</span>
                    </button>
                </li>
            </ul>


            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.contact.photo + ')'}"></span>
                        <span>{{me.contact.firstName}} {{me.contact.forthName}}</span>
                        <span class="mdl-list__item-sub-title">{{me.email}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span>المساعدة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span>عن البرنامج</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span>الملف الشخصي</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span>تسجيل الخروج</span>
                    </span>
                </li>
            </ul>

        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div class="row">
                    <ul dir="rtl" class="breadcrumb">
                        <li ng-repeat="item in items | orderBy:'id' track by item.id">
                            <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                            <span ng-if="item.type==='title'" style="{{item.style}}">{{item.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                        <button id="branch-menu-lower-right" style="width: 100%;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <span>العمليات</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="branch-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="filter()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">search</i>
                                <span>عرض بيانات التسجيل</span>
                            </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item" ng-click="newAccount()"
                                ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE'])">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">add</i>
                                    <span>انشاء تسجيل جديد</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openAccountHeavyWorkModel()"
                                ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE'])">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">build</i>
                                    <span>تسجيل دفعة من الطلاب</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openAccountUpdateModel(selected)"
                                ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_UPDATE']) && toggleList===1"
                                ng-hide="!accounts || accounts.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">edit</i>
                                    <span>تعديل بيانات التسجيل</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="delete(selected)"
                                ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_DELETE']) && toggleList===1"
                                ng-hide="!accounts || accounts.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">delete</i>
                                    <span>حذف التسجيل</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="newPayment()"
                                ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE']) && toggleList===1"
                                ng-hide="!accounts || accounts.length==0">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">attach_money</i>
                                    <span>سند قبض</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openAccountDetailsModel(selected);"
                                ng-hide="!accounts || accounts.length==0"
                                ng-if="toggleList===1">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">info</i>
                                    <span>التفاصيل</span>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                        <button style="width:100%" id="report-menu-lower-right" style="width: 100%;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <span>التقارير</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="report-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item"
                                ng-hide="!accounts || accounts.length==0"
                                ng-click="print(selected)">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>طباعة العقد</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportPrintContractModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>طباعة عقود</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportAccountByBranchModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>الطلاب المسجلين لكل فرع</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportAccountByMasterModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>الطلاب المسجلين لكل تخصص</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportAccountByMasterCategoryModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>الطلاب المسجلين حسب التصنيف</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportAccountByCourseModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>الطلاب المسجلين لكل دورة</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportBranchDetailsModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>بيانات الفروع</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportMasterDetailsModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>بيانات التخصصات</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportCourseDetailsModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>بيانات الدورات</span>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="pull-left" ng-init="toggleList=1">
                        <div class="btn-toolbar">
                            <div class="btn-group" data-toggle="buttons">
                                <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                        type="button" ng-click="toggleList=1"
                                        ng-class="{'active':toggleList===1}">
                                    <input type="radio" name="options"/>
                                    <i class="material-icons">reorder</i>
                                </button>
                                <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                        type="button" ng-click="toggleList=2"
                                        ng-class="{'active':toggleList===2}">
                                    <input type="radio" name="options"/>
                                    <i class="material-icons">view_module</i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <div class="mdl-layout__drawer" style="padding-top: 175px !important;">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               ui-sref="menu"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               href="">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">widgets</i>
                    <span>القائمة</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               ui-sref="home"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               href="">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">store</i>
                    <span>الرئيسية</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="company"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">business</i>
                    <span>الشركة</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="branch"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_BRANCH_CREATE', 'ROLE_BRANCH_UPDATE', 'ROLE_BRANCH_DELETE', 'ROLE_BRANCH_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">layers</i>
                    <span>الفروع</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="offer"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_OFFER_CREATE', 'ROLE_OFFER_UPDATE', 'ROLE_OFFER_DELETE', 'ROLE_OFFER_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">collections_bookmark</i>
                    <span>العروض</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="master"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_MASTER_CREATE', 'ROLE_MASTER_UPDATE', 'ROLE_MASTER_DELETE', 'ROLE_MASTER_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">import_contacts</i>
                    <span>التخصصات</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="course"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_COURSE_CREATE', 'ROLE_COURSE_UPDATE', 'ROLE_COURSE_DELETE', 'ROLE_COURSE_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">card_travel</i>
                    <span>الدورات</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="account"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE', 'ROLE_ACCOUNT_UPDATE', 'ROLE_ACCOUNT_DELETE', 'ROLE_ACCOUNT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">local_library</i>
                    <span>تسجيل الطلاب</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="payment"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE', 'ROLE_PAYMENT_UPDATE', 'ROLE_PAYMENT_DELETE', 'ROLE_PAYMENT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">monetization_on</i>
                    <span>سندات القبض</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="paymentOut"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE', 'ROLE_PAYMENT_UPDATE', 'ROLE_PAYMENT_DELETE', 'ROLE_PAYMENT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">money_off</i>
                    <span>سندات الصرف</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="billBuyType"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_TYPE_CREATE', 'ROLE_BILL_BUY_TYPE_UPDATE', 'ROLE_BILL_BUY_TYPE_DELETE', 'ROLE_BILL_BUY_TYPE_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">subtitles</i>
                    <span>حسابات فواتير الشراء</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="billBuy"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE', 'ROLE_BILL_BUY_UPDATE', 'ROLE_BILL_BUY_DELETE', 'ROLE_BILL_BUY_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">shopping_cart</i>
                    <span>فواتير الشراء</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="bank"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_BANK_CREATE', 'ROLE_BANK_UPDATE', 'ROLE_BANK_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">account_balance</i>
                    <span>الحسابات البنكية</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="deposit"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_DEPOSIT_CREATE', 'ROLE_DEPOSIT_UPDATE', 'ROLE_DEPOSIT_DELETE', 'ROLE_DEPOSIT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">archive</i>
                    <span>الايداع البنكي</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="withdraw"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_WITHDRAW_CREATE', 'ROLE_WITHDRAW_UPDATE', 'ROLE_WITHDRAW_DELETE', 'ROLE_WITHDRAW_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">unarchive</i>
                    <span>السحب البنكي</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="team"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">security</i>
                    <span>الصلاحيات</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="person"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_PERSON_CREATE', 'ROLE_PERSON_UPDATE', 'ROLE_PERSON_DELETE', 'ROLE_PERSON_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">lock</i>
                    <span>المستخدمون</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href=""
               ui-sref="report"
               ui-sref-active="mdl-navigation__link-active mdl-color--primary">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">assignment</i>
                    <span>التقارير</span>
                </span>
            </a>
        </nav>
    </div>

    <main class="mdl-layout__content" ng-init="showFilter=false;">

        <div dir="rtl" class="row" style="margin-top: 10px">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filter-div" ng-show="showFilter===true">

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="showFilter=false"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="إغلاق">
                                    <span class="fa fa-close"></span>
                                </a>
                            </li>
                            <li>
                                <a href=""
                                   ng-click="clearBuffer()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="مسح الحقول">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>تصفية وبحث</h3>
                            <span>عرض تلقائي من قاعدة البيانات مباشرة</span>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group row">

                            <div class="form-group row">

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label for="branch" class="control-label">الفرع</label>
                                    <ui-select id="branch"
                                               focus-autofocus="1"
                                               ng-model="buffer.branch"
                                               ng-change="search()"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="اختر الفرع">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="branch in branches | filter: $select.search | orderBy:'code' track by branch.id">
                                            <div ng-bind-html="branch.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label for="master" class="control-label">التخصص</label>
                                    <ui-select id="master"
                                               ng-model="buffer.master"
                                               ng-change="search()"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="اختر التخصص">
                                            [{{$select.selected.code}}] {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="master in buffer.branch.masters | filter: $select.search | orderBy:'code' track by master.id">
                                            <div ng-bind-html="master.code | highlight: $select.search"></div>
                                            <span>اسم التخصص : </span>
                                            <span ng-bind-html="''+master.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label for="course" class="control-label">الدورة</label>
                                    <ui-select id="course"
                                               ng-model="buffer.course"
                                               ng-change="search()"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="اختر الدورة">
                                            [{{$select.selected.code}}] {{$select.selected.instructor}}
                                        </ui-select-match>
                                        <ui-select-header>Header text</ui-select-header>
                                        <ui-select-choices
                                                repeat="course in buffer.master.courses | filter: $select.search | orderBy:'code' track by course.id">
                                            <div ng-bind-html="course.code | highlight: $select.search"></div>
                                            <small>
                                                <span>المدرب : </span>
                                                <span ng-bind-html="''+course.instructor | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                        <ui-select-footer>Footer text</ui-select-footer>
                                    </ui-select>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="firstName" class="control-label">الاسم الأول (يحتوى على) </label>
                                    <input id="firstName"
                                           type="text"
                                           ng-change="search()"
                                           class="form-control text-right"
                                           placeholder="ادخل الاسم الأول او جزءاً منه"
                                           ng-model="buffer.firstName">
                                </div>

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="secondName" class="control-label">الاسم الثاني (يحتوى على) </label>
                                    <input id="secondName"
                                           type="text"
                                           ng-change="search()"
                                           class="form-control text-right"
                                           placeholder="ادخل الاسم الثاني او جزءاً منه"
                                           ng-model="buffer.secondName">
                                </div>

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="thirdName" class="control-label">الاسم الثالث (يحتوى على) </label>
                                    <input id="thirdName"
                                           type="text"
                                           ng-change="search()"
                                           class="form-control text-right"
                                           placeholder="ادخل الاسم الثالث او جزءاً منه"
                                           ng-model="buffer.thirdName">
                                </div>

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="forthName" class="control-label">الاسم الرابع (يحتوى على) </label>
                                    <input id="forthName"
                                           type="text"
                                           ng-change="search()"
                                           class="form-control text-right"
                                           placeholder="ادخل الاسم الرابع او جزءاً منه"
                                           ng-model="buffer.forthName">
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="dateFrom" class="control-label">تاريخ التسجيل من</label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="dateFrom"
                                               type="text"
                                               ng-change="search()"
                                               class="form-control text-right is-calendarPicker"
                                               ng-model="buffer.dateFrom"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="dateTo" class="control-label">تاريخ التسجيل إلى</label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="dateTo"
                                               type="text"
                                               ng-change="search()"
                                               class="form-control text-right is-calendarPicker"
                                               ng-model="buffer.dateTo"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="identityNumber" class="control-label">رقم البطاقة / الإقامة (يحتوى علي)</label>
                                    <input id="identityNumber"
                                           type="text"
                                           ng-change="search()"
                                           class="form-control text-right "
                                           placeholder="ادخل رقم البطاقة كاملاً او جزءاً منه"
                                           ng-model="buffer.studentIdentityNumber">
                                </div>

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="mobile" class="control-label">رقم الجوال (يحتوى على)</label>
                                    <input id="mobile"
                                           type="text"
                                           ng-change="search()"
                                           class="form-control text-right "
                                           placeholder="ادخل رقم الجوال كاملاً او جزءاً منه"
                                           ng-model="buffer.studentMobile">
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="showFilter=true"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="تصفية البيانات">
                                    <span class="fa fa-filter"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE'])"
                                   ng-click="newAccount()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="انشاء تسجيل جديد">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>قائمة الطلاب المسجلين</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection1" st-safe-src="accounts" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-right">
                                        <span>م</span>
                                    </th>

                                    <th st-sort="student.code" class="text-right">
                                        <span> رقم الطالب</span>
                                    </th>

                                    <th st-sort="registerDate" class="text-right">
                                        <span>تاريخ التسجيل</span>
                                    </th>

                                    <th st-sort="student.contact.firstName" class="text-right">
                                        <span>الاسم</span>
                                    </th>

                                    <th st-sort="student.contact.identityNumber" class="text-right">
                                        <span>رقم البطاقة</span>
                                    </th>

                                    <th st-sort="student.contact.mobile" class="text-right">
                                        <span>رقم الجوال</span>
                                    </th>

                                    <th st-sort="requiredPrice" class="text-right">
                                        <span>المبلغ نقداً</span>
                                    </th>

                                    <th st-sort="paidPrice" class="text-right">
                                        <span>المدفوع</span>
                                    </th>

                                    <th st-sort="remainPrice" class="text-right">
                                        <span>الباقي</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-right"
                                    ng-repeat="account in collection1"
                                    context-menu="rowMenu"
                                    st-select-mode="single"
                                    ng-click="setSelected(account)"
                                    ng-dblclick="ModalProvider.openAccountDetailsModel(account);"
                                    ng-right-click="setSelected(account)">
                                    <td st-select-row-custom="account">{{$index+1}}</td>
                                    <td st-select-row-custom="account">
                                        {{account.code}}
                                        -
                                        <span>{{account.course.code}}</span>
                                        -
                                        <span id="master-tip-{{$index}}">{{account.course.master.code}}</span>
                                        <div class="mdl-tooltip" data-mdl-for="master-tip-{{$index}}">
                                            {{account.course.master.name}}
                                        </div>
                                        -
                                        <span id="branch-tip-{{$index}}">{{account.course.master.branch.code}}</span>
                                        <div class="mdl-tooltip" data-mdl-for="branch-tip-{{$index}}">
                                            {{account.course.master.branch.name}}
                                        </div>
                                        -
                                        <span>{{account.registerDate | kdate: 'yy' : 'ar' : 'ummalqura'}}</span>
                                    </td>
                                    <td st-select-row-custom="account">
                                        {{account.registerDate | kdate: 'yyyy-mm-dd' : 'ar' :'ummalqura'}}
                                    </td>
                                    <td st-select-row-custom="account">
                                        {{account.student.contact.firstName}}
                                        {{account.student.contact.secondName}}
                                        {{account.student.contact.thirdName}}
                                        {{account.student.contact.forthName}}
                                    </td>
                                    <td st-select-row-custom="account">{{account.student.contact.identityNumber}}</td>
                                    <td st-select-row-custom="account">{{account.student.contact.mobile}}</td>
                                    <td st-select-row-custom="account">{{account.requiredPrice}} SAR</td>
                                    <td st-select-row-custom="account">{{account.paidPrice}} SAR</td>
                                    <td st-select-row-custom="account">{{account.remainPrice}} SAR</td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection1 || collection1.length ==0">
                                    <td colspan="12">لا توجد بيانات</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
                <div st-table="collection2" st-safe-src="accounts">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="account in collection2">
                        <!-- CONTACT ITEM -->
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img width="100" height="100"
                                         src="/ui/img/no-image.jpg"
                                         alt="{{account.code}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">
                                        {{account.student.contact.firstName}}
                                        {{account.student.contact.secondName}}
                                        {{account.student.contact.thirdName}}
                                        {{account.student.contact.forthName}}
                                    </div>
                                </div>
                                <div class="profile-controls">
                                    <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                    <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p>
                                        <strong>رقم الطالب</strong>
                                        {{account.code}}
                                        -
                                        {{account.course.code}}
                                        -
                                        {{account.course.master.code}}
                                        -
                                        {{account.course.master.branch.code}}
                                        -
                                        {{account.registerDate | kdate: 'yy' : 'ar' : 'ummalqura'}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong>رقم الجوال</strong>
                                        {{account.student.contact.mobile}}
                                    </p>
                                    <hr>
                                    <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                        <strong>التخصص</strong>
                                        [ {{account.course.master.code}} ]
                                        {{account.course.master.name}}
                                    </p>
                                    <hr>
                                    <p>
                                        <a href="" ng-click="ModalProvider.openAccountDetailsModel(account);"><strong>المزيد...</strong></a>
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button uib-tooltip="تسجيل جديد"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE'])"
                                            ng-click="newAccount();"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button uib-tooltip="تعديل"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_UPDATE'])"
                                            ng-click="ModalProvider.openAccountUpdateModel(account)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button uib-tooltip="حذف"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_DELETE'])"
                                            ng-click="delete(account)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <button uib-tooltip="سند قبض"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE'])"
                                            ng-click="newPayment(account)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <i class="material-icons">attach_money</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTACT ITEM -->
                    </div>
                </div>
            </div>

        </div>

    </main>

</div>