<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">edit</i>
                <strong>تعديل بيانات الطالب / {{account.name}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-md-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="type" class="control-label">طريقة الدفع</label>
                <select id="type"
                        class="form-control text-right"
                        ng-model="account.coursePaymentType"
                        required="required"
                        disable-validation-message="">
                    <option value="نقدي">نقدي</option>
                    <option value="قسط شهري">قسط شهري</option>
                </select>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="coursePrice" class="control-label"> المبلغ نقدا </label>
                <div dir="ltr"
                     class="input-group"
                     id="coursePrice">
                    <span class="input-group-addon">ريال سعودي</span>
                    <input required="required"
                           disable-validation-message=""
                           type="number"
                           min="0"
                           class="form-control text-right "
                           ng-model="account.coursePrice">
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="account.coursePaymentType==='نقدي'">
                <label for="courseDiscountAmount" class="control-label"> نسبة الخصم </label>
                <div dir="ltr"
                     class="input-group"
                     id="courseDiscountAmount">
                    <span class="input-group-addon">%</span>
                    <input ng-required="showBox"
                            required="required"
                            disable-validation-message=""
                            type="number"
                            class="form-control text-right "
                            ng-model="account.courseDiscountAmount">
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="account.coursePaymentType!=='نقدي'">
                <label for="courseProfitAmount" class="control-label"> نسبة الفائدة </label>
                <div dir="ltr"
                     class="input-group"
                     id="courseProfitAmount">
                    <span class="input-group-addon">%</span>
                    <input ng-required="!showBox"
                            required="required"
                            disable-validation-message=""
                            type="number"
                            class="form-control text-right"
                            ng-model="account.courseProfitAmount">
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="account.coursePaymentType!=='نقدي'">
                <label for="courseCreditAmount" class="control-label"> قيمة القسط </label>
                <div dir="ltr"
                     class="input-group"
                     id="courseCreditAmount">
                    <span class="input-group-addon">ريال سعودي</span>
                    <input type="number"
                           min="0"
                           max="{{account.masterPrice}}"
                           class="form-control text-right "
                           ng-model="account.courseCreditAmount"
                           ng-required="!showBox"
                           required="required"
                           disable-validation-message="">
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="account.coursePaymentType==='نقدي'">
                <label for="priceAfterDiscount" class="control-label"> المبلغ بعد الخصم </label>
                <div dir="ltr" class="input-group"
                     id="priceAfterDiscount">
                    <span class="input-group-addon">ريال سعودي</span>
                    <input type="number"
                           readonly="readonly"
                           class="form-control text-right "
                           ng-value="account.coursePrice - (account.coursePrice * account.courseDiscountAmount / 100)">
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="account.coursePaymentType!=='نقدي'">
                <label for="priceAfterProfit" class="control-label"> المبلغ بعد الفائدة </label>
                <div dir="ltr"
                     class="input-group"
                     id="priceAfterProfit">
                    <span class="input-group-addon">ريال سعودي</span>
                    <input readonly="readonly"
                           class="form-control text-right "
                           ng-value="account.coursePrice + (account.coursePrice * account.courseProfitAmount / 100)">
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="تعديل"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/edit.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>