<div dir="rtl">

    <div class="modal-header">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="modal-title text-center" id="modal-title">
            <span>تفاصيل التسجيل رقم / </span>
            {{account.code}}
            -
            {{account.course.code}}
            -
            {{account.course.master.code}}
            -
            {{account.course.master.branch.code}}
            -
            {{account.registerDate | kdate: 'yy' : 'ar' : 'ummalqura'}}
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left" style="margin-top: 2px;">
                            <li>
                                <a href="" ng-click="refreshAccount()" tooltip-append-to-body="true"
                                   uib-tooltip="تحديث البيانات">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>البيانات الاساسية</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>رقم الطالب</td>
                                        <td>
                                            {{account.code}}
                                            -
                                            {{account.course.code}}
                                            -
                                            {{account.course.master.code}}
                                            -
                                            {{account.course.master.branch.code}}
                                            -
                                            {{account.registerDate | kdate: 'yy' : 'ar' : 'ummalqura'}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>تاريخ التسجيل</td>
                                        <td>
                                            {{account.registerDate | kdate: 'yyyy-mm-dd' : 'ar' :'ummalqura'}}
                                            <span class="label label-success">{{account.registerDate | date:'h:m a'}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>اسم الطالب</td>
                                        <td>
                                            {{account.student.contact.firstName}}
                                            {{account.student.contact.secondName}}
                                            {{account.student.contact.thirdName}}
                                            {{account.student.contact.forthName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>رقم البطاقة</td>
                                        <td>{{account.student.contact.identityNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>مكان الاصدار</td>
                                        <td>{{account.student.contact.identityLocation}}</td>
                                    </tr>
                                    <tr>
                                        <td>تاريخ الاصدار</td>
                                        <td>
                                            {{account.student.contact.identityStartDate | kdate: 'yyyy-mm-dd' : 'ar' :'ummalqura'}}
                                            <span class="label label-success">{{account.student.contact.identityStartDate | date:'h:m a'}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>المؤهل</td>
                                        <td>{{account.student.contact.qualification}}</td>
                                    </tr>
                                    <tr>
                                        <td>مكان الميلاد</td>
                                        <td>{{account.student.contact.birthLocation}}</td>
                                    </tr>
                                    <tr>
                                        <td>تاريخ الميلاد</td>
                                        <td>
                                            {{account.student.contact.birthDate | kdate: 'yyyy-mm-dd' : 'ar' :'ummalqura'}}
                                            <span class="label label-success">{{account.student.contact.birthDate | date:'h:m a'}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>الجنسية</td>
                                        <td>{{account.student.contact.nationality}}</td>
                                    </tr>
                                    <tr>
                                        <td>رقم الجوال</td>
                                        <td>{{account.student.contact.mobile}}</td>
                                    </tr>
                                    <tr>
                                        <td>العنوان</td>
                                        <td>{{account.student.contact.address}}</td>
                                    </tr>
                                    <tr>
                                        <td>ملاحظات</td>
                                        <td>{{account.note}}</td>
                                    </tr>
                                    <tr>
                                        <td>طريقة الدفع</td>
                                        <td>{{account.coursePaymentType}}</td>
                                    </tr>
                                    <tr>
                                        <td>سعر الدورة</td>
                                        <td>{{account.coursePrice | currency:'SAR':0}}</td>
                                    </tr>
                                    <tr>
                                        <td>قيمة الخصم</td>
                                        <td>{{account.courseDiscountAmount}} %</td>
                                    </tr>
                                    <tr>
                                        <td>نسبة الفائدة</td>
                                        <td>{{account.courseProfitAmount}} %</td>
                                    </tr>
                                    <tr>
                                        <td>قيمة القسط الشهري</td>
                                        <td>{{account.courseProfitAmount | currency:'SAR':0}}</td>
                                    </tr>
                                    <tr>
                                        <td>المبلغ النهائي المطلوب</td>
                                        <td>
                                            <span ng-if="account.coursePaymentType==='نقدي'">
                                                {{account.coursePrice - (account.coursePrice * account.courseDiscountAmount / 100) | currency:'SAR':0}}
                                            </span>
                                            <span ng-if="account.coursePaymentType!=='نقدي'">
                                                {{account.coursePrice + (account.coursePrice * account.courseProfitAmount / 100) | currency:'SAR':0}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>مدخل التسجيل</td>
                                        <td>
                                            <span class="label label-success">
                                                {{account.lastPerson.contact.firstName}}
                                                {{account.lastPerson.contact.forthName}}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left" style="margin-top: 2px;">
                            <li>
                                <a href="" ng-click="refreshAccountAttaches()" tooltip-append-to-body="true" uib-tooltip="تحديث">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>مستندات وملفات الطالب</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collectionAccountAttaches" st-safe-src="account.accountAttaches" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th st-sort="attach.name" class="text-center">اسم الملف</th>
                                    <th st-sort="attachType.name" class="text-center">نوع الملف</th>
                                    <th st-sort="attach.size" class="text-center">حجم الملف</th>
                                    <th st-sort="attach.link" class="text-center">الرابط</th>
                                    <th st-sort="attach.date" st-sort-default="reverse" class="text-center">تاريخ الانشاء</th>
                                    <th st-sort="attach.person" class="text-center">مدخل الملف</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="accountattach in collectionAccountAttaches">
                                    <td>{{accountAttach.attach.name}}</td>
                                    <td>{{accountAttach.attachType.name}}</td>
                                    <td>{{accountAttach.attach.size/1024/1024|number:2}} MB</td>
                                    <td>
                                        <a ng-href="{{accountAttach.attach.link ? accountAttach.attach.link : ''}}" target="_blank">
                                            <i class="fa fa-files-o"></i>
                                            {{accountAttach.attach.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <span>{{accountAttach.attach.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span class="label label-success">{{accountAttach.attach.date | date:'h:m a'}}</span>
                                    </td>
                                    <td>
                                        {{accountAttach.attach.lastPerson.contact.firstName}}
                                        {{accountAttach.attach.lastPerson.contact.forthName}}
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;" ng-show="!collectionAccountAttaches || collectionAccountAttaches.length ==0">
                                    <td colspan="6">لا توجد مستندات حالياً</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left" style="margin-top: 2px;">
                            <li>
                                <a href="" ng-click="refreshOffersByAccountMobile()" tooltip-append-to-body="true" uib-tooltip="تحديث">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>العروض حسب رقم الجوال</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collectionOffers" st-safe-src="offers" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th st-sort="code" class="text-center">رقم العرض</th>
                                    <th st-sort="date" st-sort-default="reverse" class="text-center">تاريخ العرض</th>
                                    <th st-sort="lastPerson" class="text-center">مدخل العرض</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="offer in collectionOffers">
                                    <td>
                                        {{offer.code}}
                                    </td>
                                    <td>
                                        <span>{{offer.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span class="label label-success">{{offer.date | date:'h:m a'}}</span>
                                    </td>
                                    <td>
                                        {{offer.lastPerson.contact.firstName}}
                                        {{offer.lastPerson.contact.forthName}}
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;" ng-show="!collectionOffers || collectionOffers.length ==0">
                                    <td colspan="3">لا توجد عروض لهذا الرقم</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <ul class="panel-controls pull-left" style="margin-top: 2px;">
                            <li>
                                <a href="" ng-click="refreshAccountPayments()" tooltip-append-to-body="true" uib-tooltip="تحديث">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box pull-right">
                            <h3>السندات</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collectionPayments" st-safe-src="account.payments" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th st-sort="code" class="text-center">رقم السند</th>
                                    <th st-sort="date" st-sort-default="reverse" class="text-center">تاريخ السند</th>
                                    <th st-sort="amountNumber" class="text-center">قية السند</th>
                                    <th st-sort="type" class="text-center">نوع الإيراد</th>
                                    <th st-sort="lastPerson" class="text-center">مدخل السند</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="payment in collectionPayments">
                                    <td>
                                        {{payment.code}}
                                        <span class="fa fa-info-circle"
                                              tooltip-append-to-body="true"
                                              uib-tooltip="{{payment.note}}"></span>
                                    </td>
                                    <td>
                                        <span>{{payment.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span class="label label-success">{{payment.date | date:'h:m a'}}</span>
                                    </td>
                                    <td>
                                        {{payment.amountNumber | currency:'SAR':0}}
                                        <span class="label label-warning">{{payment.amountString}}</span>
                                    </td>
                                    <td>{{payment.type}}</td>
                                    <td>
                                        {{payment.lastPerson.contact.firstName}}
                                        {{payment.lastPerson.contact.forthName}}
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;" ng-show="!collectionPayments || collectionPayments.length ==0">
                                    <td colspan="5">لا توجد دفعات حتى الآن</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="دفعة جديدة"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-if="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE'])"
                    ng-click="ModalProvider.openAccountPaymentModel(account)"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <i class="material-icons">attach_money</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</div>