<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="panel-title mdl-list__item pull-right">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-md-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="action=='create'">
                <div class="panel panel-info">
                    <div class="panel-heading">رقم الطالب</div>
                    <div class="panel-body">

                        <div class="row">

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="branch" class="control-label">[رقم الفرع] اسم الفرع</label>
                                <select id="branch"
                                        data-placeholder="ابحث عن البيانات"
                                        placeholder-text-single="'اختر الفرع'"
                                        no-results-text="'لا توجد بيانات'"
                                        class="form-control text-right"
                                        chosen=""
                                        ng-model="buffer.branch"
                                        required="required"
                                        focus-autofocus="1"
                                        disable-validation-message=""
                                        ng-options="(' [ ' + branch.code + ' ] ' + branch.name) for branch in branches | orderBy:'code' track by branch.id">
                                </select>
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="master" class="control-label">[رقم التخصص] اسم التخصص</label>
                                <select id="master"
                                        data-placeholder="ابحث عن التخصص"
                                        placeholder-text-single="'اختر التخصص'"
                                        no-results-text="'لا توجد بيانات'"
                                        class="form-control text-right"
                                        chosen=""
                                        ng-model="buffer.master"
                                        required="required"
                                        disable-validation-message=""
                                        ng-options="(' [ ' + master.code + ' ] ' + master.name) for master in buffer.branch.masters | orderBy:'code' track by master.id">
                                </select>
                            </div>

                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="course" class="control-label">[رقم الدورة] المدرب</label>
                                <select id="course"
                                        data-placeholder="ابحث عن رقم الدورة المتاحة"
                                        placeholder-text-single="'اختر الدورة'"
                                        no-results-text="'لا توجد بيانات'"
                                        class="form-control text-right"
                                        chosen=""
                                        ng-model="buffer.course"
                                        required="required"
                                        disable-validation-message=""
                                        ng-options="(' [ ' + course.code + ' ] ' + course.instructor) for course in buffer.master.courses | orderBy:'code' track by course.id">
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">البيانات الشخصية</div>
                    <div class="panel-body">

                        <div class="form-group row">
                            <div class="form-group text-right col-md-3">
                                <label for="firstName" class="control-label">الاسم الأول</label>
                                <input id="firstName"
                                       type="text"
                                       class="form-control text-right"
                                       placeholder="الاسم الأول"
                                       required="required"
                                       focus-autofocus="2"
                                       disable-validation-message=""
                                       ng-model="account.student.contact.firstName">
                            </div>
                            <div class="form-group text-right col-md-3">
                                <label for="secondName" class="control-label">اسم الاب</label>
                                <input id="secondName"
                                       type="text"
                                       class="form-control text-right"
                                       placeholder="اسم الاب"
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="account.student.contact.secondName">
                            </div>
                            <div class="form-group text-right col-md-3">
                                <label for="thirdName" class="control-label">اسم الجد</label>
                                <input id="thirdName"
                                       type="text"
                                       class="form-control text-right"
                                       placeholder="اسم الجد"
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="account.student.contact.thirdName">
                            </div>
                            <div class="form-group text-right col-md-3">
                                <label for="forthName" class="control-label">اسم العائلة</label>
                                <input id="forthName"
                                       type="text"
                                       class="form-control text-right"
                                       placeholder="اسم العائلة"
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="account.student.contact.forthName">
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="form-group text-right col-sm-4">
                                <label for="identityNumber" class="control-label">رقم الهوية - الاقامة</label>
                                <input id="identityNumber"
                                       type="text"
                                       class="form-control text-right "
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="account.student.contact.identityNumber">
                            </div>

                            <div class="form-group text-right col-sm-4">
                                <label for="identityLocation" class="control-label">مكان الاصدار </label>
                                <input id="identityLocation"
                                       type="text"
                                       class="form-control text-right"
                                       ng-model="account.student.contact.identityLocation">
                            </div>

                            <div class="form-group text-right col-sm-4">
                                <label for="identityStartDate" class="control-label"> تاريخ الإصدار </label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="identityStartDate"
                                           type="text"
                                           class="form-control text-right is-calendarPicker"
                                           ng-model="account.student.contact.identityStartDate"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group text-right col-sm-4">
                                <label for="qualification" class="control-label"> المؤهل </label>
                                <input id="qualification"
                                       type="text"
                                       class="form-control text-right"
                                       ng-model="account.student.contact.qualification">
                            </div>

                            <div class="form-group text-right col-sm-4">
                                <label for="birthLocation" class="control-label">مكان الميلاد </label>
                                <input id="birthLocation"
                                       type="text"
                                       class="form-control text-right"
                                       ng-model="account.student.contact.birthLocation">
                            </div>

                            <div class="form-group text-right col-sm-4">
                                <label for="birthDate" class="control-label">تاريخ الميلاد</label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="birthDate"
                                           type="text"
                                           class="form-control text-right is-calendarPicker"
                                           ng-model="account.student.contact.birthDate"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group text-right col-sm-4">
                                <label for="nationality" class="control-label">الجنسية </label>
                                <input id="nationality"
                                       type="text"
                                       class="form-control text-right "
                                       ng-model="account.student.contact.nationality">
                            </div>

                            <div class="form-group text-right col-sm-4">
                                <label for="mobile" class="control-label">رقم الجوال </label>
                                <input id="mobile"
                                       type="text"
                                       required="required"
                                       disable-validation-message=""
                                       class="form-control text-right "
                                       ng-model="account.student.contact.mobile">
                            </div>

                            <div class="form-group text-right col-sm-4">
                                <label for="phone" class="control-label">رقم الهاتف </label>
                                <input id="phone"
                                       type="text"
                                       class="form-control text-right "
                                       ng-model="account.student.contact.phone">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group text-right col-md-12">
                                <label for="address" class="control-label">العنوان </label>
                                <input id="address"
                                       type="text"
                                       class="form-control text-right"
                                       ng-model="account.student.contact.address">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group text-right col-md-12">
                                <label for="note" class="control-label">ملاحظات </label>
                                <textarea id="note"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control text-right"
                                          placeholder="اذكر باختصار ملاحظات التسجيل"
                                          ng-model="account.note">
                                </textarea>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="action=='create' || contains(me.team.authorities, ['ROLE_ACCOUNT_FEES_UPDATE'])">
                <div class="panel panel-info">
                    <div class="panel-heading" style="height: 50px;">
                        <span class="col-sm-6">طريقة الدفع</span>
                        <div class="col-sm-6">
                            <toggle-switch
                                    dir="ltr"
                                    style="width: 100%"
                                    ng-model="showBox"
                                    class="switch-danger"
                                    on-label="نقدي"
                                    off-label="قسط">
                            </toggle-switch>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group text-right col-md-12">
                                <label for="coursePrice" class="control-label"> المبلغ نقدا </label>
                                <div dir="ltr"
                                     class="input-group"
                                     id="coursePrice">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input required="required"
                                           disable-validation-message=""
                                           type="number"
                                           min="0"
                                           class="form-control text-right "
                                           ng-model="account.coursePrice">
                                </div>
                            </div>
                            <div class="form-group text-right col-md-12" ng-show="showBox">
                                <label for="courseDiscountAmount" class="control-label"> نسبة الخصم </label>
                                <div dir="ltr"
                                     class="input-group"
                                     id="courseDiscountAmount">
                                    <span class="input-group-addon">%</span>
                                    <input
                                            ng-required="showBox"
                                            required="required"
                                            disable-validation-message=""
                                            type="number"
                                            class="form-control text-right "
                                            ng-model="account.courseDiscountAmount">
                                </div>
                            </div>
                            <div class="form-group text-right col-md-12" ng-show="!showBox">
                                <label for="courseProfitAmount" class="control-label"> نسبة الفائدة </label>
                                <div dir="ltr"
                                     class="input-group"
                                     id="courseProfitAmount">
                                    <span class="input-group-addon">%</span>
                                    <input
                                            ng-required="!showBox"
                                            required="required"
                                            disable-validation-message=""
                                            type="number"
                                            class="form-control text-right"
                                            ng-model="account.courseProfitAmount">
                                </div>
                            </div>
                            <div class="form-group text-right col-md-12" ng-show="!showBox">
                                <label for="courseCreditAmount" class="control-label"> قيمة القسط </label>
                                <div dir="ltr"
                                     class="input-group"
                                     id="courseCreditAmount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input type="number"
                                           min="0"
                                           max="{{account.masterPrice}}"
                                           class="form-control text-right "
                                           ng-model="account.courseCreditAmount"
                                           ng-required="!showBox"
                                           required="required"
                                           disable-validation-message="">
                                </div>
                            </div>
                            <div class="form-group text-right col-md-12" ng-show="showBox">
                                <label for="priceAfterDiscount" class="control-label"> المبلغ بعد الخصم </label>
                                <div dir="ltr" class="input-group"
                                     id="priceAfterDiscount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input type="number"
                                           readonly="readonly"
                                           class="form-control text-right "
                                           ng-value="account.coursePrice - (account.coursePrice * account.courseDiscountAmount / 100)">
                                </div>
                            </div>
                            <div class="form-group text-right col-md-12" ng-show="!showBox">
                                <label for="priceAfterProfit" class="control-label"> المبلغ بعد الفائدة </label>
                                <div dir="ltr"
                                     class="input-group"
                                     id="priceAfterProfit">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input readonly="readonly"
                                           class="form-control text-right "
                                           ng-value="account.coursePrice + (account.coursePrice * account.courseProfitAmount / 100)">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="حفظ"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">save</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="تعديل"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>