<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}"
                 width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/account.{{iconSetType}}"
                     width="24" height="24">
                <strong>تسجيل جديد</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="form-group row" ng-show="form.$invalid && form.$submitted">
            <div class="alert alert-danger" role="alert">
                <strong>فضلاً اكمل الحقول المطلوبة (لاحظ أن هناك تبويبات!)</strong>
            </div>
        </div>

        <div class="form-group row">

            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                <div class="mdl-tabs__tab-bar">
                    <a href="#panel-1-account" class="mdl-tabs__tab col-xs-12 col-sm-4 col-md-4 col-lg-4 is-active">
                        <span>بيانات التسجيل</span>
                    </a>
                    <a href="#panel-2-account" class="mdl-tabs__tab col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <span>بيانات الاتصال</span>
                    </a>
                    <a href="#panel-3-account" class="mdl-tabs__tab col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <span>رسوم الدورة</span>
                    </a>
                </div>

                <div class="mdl-tabs__panel is-active" id="panel-1-account">

                    <div class="row">

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="branch" class="control-label">الفرع</label>
                            <ui-select id="branch"
                                       focus-autofocus="1"
                                       ng-model="account.branch"
                                       required="required"
                                       disable-validation-message=""
                                       theme="bootstrap">
                                <ui-select-match placeholder="اختر الفرع">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="branch in branches | filter: $select.search | orderBy:'code' track by branch.id">

                                    <div class="mdl-menu__item--full-bleed-divider"></div>
                                    <li class="mdl-list__item mdl-list__item--two-line"
                                        style="padding: unset;cursor: pointer">
                                        <span class="mdl-list__item-primary-content">
                                        <span class="material-icons mdl-list__item-avatar"
                                              style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/branch.{{iconSetType}}')"></span>
                                        <div ng-bind-html="branch.name | highlight: $select.search"></div>
                                        <span class="mdl-list__item-sub-title">
                                            <span>رقم الفرع / </span>
                                            {{branch.code}}
                                        </span>
                                        </span>
                                    </li>

                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="master" class="control-label">التخصص</label>
                            <ui-select id="master"
                                       ng-model="account.master"
                                       required="required"
                                       disable-validation-message=""
                                       theme="bootstrap">
                                <ui-select-match placeholder="اختر التخصص">
                                    [{{$select.selected.code}}] {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="master in account.branch.masters | filter: $select.search | orderBy:'code' track by master.id">

                                    <div class="mdl-menu__item--full-bleed-divider"></div>
                                    <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                        <span class="mdl-list__item-primary-content">
                                            <span class="material-icons mdl-list__item-avatar"
                                                  style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/master.{{iconSetType}}')"></span>
                                            <div ng-bind-html="master.name | highlight: $select.search"></div>
                                            <span class="mdl-list__item-sub-title">
                                                <span>رقم التخصص / </span>
                                                {{master.code}}
                                            </span>
                                        </span>
                                    </li>

                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="course" class="control-label">الدورة</label>
                            <ui-select id="course"
                                       ng-model="account.course"
                                       required="required"
                                       disable-validation-message=""
                                       theme="bootstrap">
                                <ui-select-match placeholder="اختر الدورة">
                                    [{{$select.selected.code}}] {{$select.selected.instructor}}
                                </ui-select-match>
                                <ui-select-header>Header text</ui-select-header>
                                <ui-select-choices repeat="course in account.master.courses | filter: $select.search | orderBy:'code' track by course.id">

                                    <div class="mdl-menu__item--full-bleed-divider"></div>
                                    <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                        <span class="mdl-list__item-primary-content">
                                            <span class="material-icons mdl-list__item-avatar"
                                                  style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/course.{{iconSetType}}')"></span>
                                            <div ng-bind-html="course.code | highlight: $select.search"></div>
                                            <span class="mdl-list__item-sub-title">
                                                <span>المدرب / </span>
                                                {{course.instructor}}
                                            </span>
                                        </span>
                                    </li>

                                </ui-select-choices>
                                <ui-select-footer>Footer text</ui-select-footer>
                            </ui-select>
                        </div>

                    </div>

                </div>

                <div class="mdl-tabs__panel" id="panel-2-account">

                    <div class="row">

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="firstName" class="control-label">الاسم الأول</label>
                                <input id="firstName"
                                       type="text"
                                       class="form-control text-right"
                                       placeholder="الاسم الأول"
                                       required="required"
                                       focus-autofocus="2"
                                       disable-validation-message=""
                                       ng-model="account.student.contact.firstName">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="secondName" class="control-label">اسم الاب</label>
                                <input id="secondName"
                                       type="text"
                                       class="form-control text-right"
                                       placeholder="اسم الاب"
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="account.student.contact.secondName">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="thirdName" class="control-label">اسم الجد</label>
                                <input id="thirdName"
                                       type="text"
                                       class="form-control text-right"
                                       placeholder="اسم الجد"
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="account.student.contact.thirdName">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="forthName" class="control-label">اسم العائلة</label>
                                <input id="forthName"
                                       type="text"
                                       class="form-control text-right"
                                       placeholder="اسم العائلة"
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="account.student.contact.forthName">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="nationality" class="control-label">الجنسية </label>
                                <input id="nationality"
                                       type="text"
                                       class="form-control text-right"
                                       ng-model="account.student.contact.nationality">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="identityNumber" class="control-label">رقم الهوية - الاقامة</label>
                                <input id="identityNumber"
                                       type="text"
                                       class="form-control "
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="account.student.contact.identityNumber">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="identityLocation" class="control-label">مكان الاصدار </label>
                                <input id="identityLocation"
                                       type="text"
                                       class="form-control text-right"
                                       ng-model="account.student.contact.identityLocation">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="identityStartDate" class="control-label"> تاريخ الإصدار </label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="identityStartDate"
                                           type="text"
                                           class="form-control is-calendarPicker"
                                           ng-model="account.student.contact.identityStartDate"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="qualification" class="control-label"> المؤهل </label>
                                <input id="qualification"
                                       type="text"
                                       class="form-control text-right"
                                       ng-model="account.student.contact.qualification">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="birthLocation" class="control-label">مكان الميلاد </label>
                                <input id="birthLocation"
                                       type="text"
                                       class="form-control text-right"
                                       ng-model="account.student.contact.birthLocation">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="birthDate" class="control-label">تاريخ الميلاد</label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="birthDate"
                                           type="text"
                                           class="form-control is-calendarPicker"
                                           ng-model="account.student.contact.birthDate"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="mobile" class="control-label">رقم الجوال </label>
                                <input id="mobile"
                                       type="text"
                                       required="required"
                                       disable-validation-message=""
                                       class="form-control "
                                       ng-model="account.student.contact.mobile">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="phone" class="control-label">رقم الهاتف </label>
                                <input id="phone"
                                       type="text"
                                       class="form-control "
                                       ng-model="account.student.contact.phone">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="address" class="control-label">العنوان </label>
                                <input id="address"
                                       type="text"
                                       class="form-control text-right"
                                       ng-model="account.student.contact.address">
                            </div>

                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="note" class="control-label">ملاحظات </label>
                            <textarea id="note"
                                      type="text"
                                      msd-elastic="\n"
                                      class="form-control text-right"
                                      placeholder="اذكر باختصار ملاحظات التسجيل"
                                      ng-model="account.note">
                            </textarea>
                        </div>

                    </div>

                </div>

                <div class="mdl-tabs__panel" id="panel-3-account">

                    <div class="row">

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="type" class="control-label">طريقة الدفع</label>
                            <select id="type"
                                    style="height: 40px"
                                    class="form-control text-right"
                                    ng-model="account.coursePaymentType"
                                    required="required"
                                    disable-validation-message="">
                                <option value="نقدي">نقدي</option>
                                <option value="قسط شهري">قسط شهري</option>
                            </select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="coursePrice" class="control-label"> المبلغ نقدا </label>
                            <div dir="ltr"
                                 class="input-group"
                                 id="coursePrice">
                                <span class="input-group-addon">ريال سعودي</span>
                                <input required="required"
                                       disable-validation-message=""
                                       type="number"
                                       min="0"
                                       class="form-control "
                                       ng-model="account.coursePrice">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                             ng-show="account.coursePaymentType==='نقدي'">
                            <label for="courseDiscountAmount" class="control-label"> نسبة الخصم </label>
                            <div dir="ltr"
                                 class="input-group"
                                 id="courseDiscountAmount">
                                <span class="input-group-addon">%</span>
                                <input
                                        ng-required="showBox"
                                        required="required"
                                        disable-validation-message=""
                                        type="number"
                                        class="form-control "
                                        ng-model="account.courseDiscountAmount">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                             ng-show="account.coursePaymentType!=='نقدي'">
                            <label for="courseProfitAmount" class="control-label"> نسبة الفائدة </label>
                            <div dir="ltr"
                                 class="input-group"
                                 id="courseProfitAmount">
                                <span class="input-group-addon">%</span>
                                <input
                                        ng-required="!showBox"
                                        required="required"
                                        disable-validation-message=""
                                        type="number"
                                        class="form-control text-right"
                                        ng-model="account.courseProfitAmount">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                             ng-show="account.coursePaymentType!=='نقدي'">
                            <label for="courseCreditAmount" class="control-label"> قيمة القسط </label>
                            <div dir="ltr"
                                 class="input-group"
                                 id="courseCreditAmount">
                                <span class="input-group-addon">ريال سعودي</span>
                                <input type="number"
                                       min="0"
                                       max="{{account.masterPrice}}"
                                       class="form-control "
                                       ng-model="account.courseCreditAmount"
                                       ng-required="!showBox"
                                       required="required"
                                       disable-validation-message="">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                             ng-show="account.coursePaymentType==='نقدي'">
                            <label for="priceAfterDiscount" class="control-label"> المبلغ بعد الخصم </label>
                            <div dir="ltr" class="input-group"
                                 id="priceAfterDiscount">
                                <span class="input-group-addon">ريال سعودي</span>
                                <input type="number"
                                       readonly="readonly"
                                       class="form-control "
                                       ng-value="account.coursePrice - (account.coursePrice * account.courseDiscountAmount / 100)">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                             ng-show="account.coursePaymentType!=='نقدي'">
                            <label for="priceAfterProfit" class="control-label"> المبلغ بعد الفائدة </label>
                            <div dir="ltr"
                                 class="input-group"
                                 id="priceAfterProfit">
                                <span class="input-group-addon">ريال سعودي</span>
                                <input readonly="readonly"
                                       class="form-control "
                                       ng-value="account.coursePrice + (account.coursePrice * account.courseProfitAmount / 100)">
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="حفظ"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}"
                     width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="clear();form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}"
                     width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}"
                     width="24" height="24">
            </button>
        </div>

    </div>

</form>