<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"
     ng-init="stickSideMenu=true;showMenuStates=true;showMenuSettings=false"
     ng-class="{'mdl-layout--fixed-drawer' : stickSideMenu===true}">

    <header class="mdl-layout__header">

        <div class="mdl-layout__header-row">

            <div class="mdl-layout-icon">
                <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                    <i class="material-icons">{{MDLIcon}}</i>
                </a>
            </div>

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <!-- Navigation -->
            <nav class="mdl-navigation mdl-layout--large-screen-only" ng-init="toggleState=1">
                <a class="mdl-navigation__link"
                   href=""
                   ng-show="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE', 'ROLE_PAYMENT_UPDATE', 'ROLE_PAYMENT_DELETE'])"
                   ng-class="{'mdl-color-text--black mdl-color--blue-grey-50' : toggleState===1}"
                   ng-click="toggleState=1">
                    <span>سندات القبض</span>
                </a>
                <a class="mdl-navigation__link"
                   href=""
                   ng-show="contains(me.team.authorities, ['ROLE_PAYMENT_OUT_CREATE', 'ROLE_PAYMENT_OUT_UPDATE', 'ROLE_PAYMENT_OUT_DELETE'])"
                   ng-class="{'mdl-color-text--black mdl-color--blue-grey-50' : toggleState===2}"
                   ng-click="toggleState=2">
                    <span>سندات الصرف</span>
                </a>
                <a class="mdl-navigation__link"
                   href=""
                   ng-show="contains(me.team.authorities, ['ROLE_BILL_BUY_TYPE_CREATE', 'ROLE_BILL_BUY_TYPE_UPDATE', 'ROLE_BILL_BUY_TYPE_DELETE'])"
                   ng-class="{'mdl-color-text--black mdl-color--blue-grey-50' : toggleState===3}"
                   ng-click="toggleState=3">
                    <span>حسابات فواتير الشراء</span>
                </a>
                <a class="mdl-navigation__link"
                   href=""
                   ng-show="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE', 'ROLE_BILL_BUY_UPDATE', 'ROLE_BILL_BUY_DELETE'])"
                   ng-class="{'mdl-color-text--black mdl-color--blue-grey-50' : toggleState===4}"
                   ng-click="toggleState=4">
                    <span>فواتير الشراء</span>
                </a>
                <a class="mdl-navigation__link"
                   href=""
                   ng-show="contains(me.team.authorities, ['ROLE_BANK_CREATE', 'ROLE_BANK_UPDATE', 'ROLE_BANK_DELETE'])"
                   ng-class="{'mdl-color-text--black mdl-color--blue-grey-50' : toggleState===5}"
                   ng-click="toggleState=5">
                    <span>البنك</span>
                </a>
            </nav>

            <div class="mdl-layout-spacer"></div>

            <button class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin"
                    ng-click="toggleDrawer()">
                <i class="material-icons">storage</i>
            </button>

            <button id="options-menu-lower-left"
                    class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin mdl-layout--large-screen-only">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp mdl-menu--bottom-left"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span>خيارات البرنامج</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="goFullscreen()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">aspect_ratio</i>
                        <span>تطبيق وضع ملء الشاشة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='G'">تطبيق التاريخ الهجري</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span>المزيد من الخيارات</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin mdl-layout--large-screen-only">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu--bottom-left mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar" ng-style="{'background-image': 'url(' + me.contact.photo + ')'}"></span>
                        <span>{{me.contact.firstName}} {{me.contact.forthName}}</span>
                        <span class="mdl-list__item-sub-title">{{me.contact.qualification}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ui-serf="help">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span>المساعدة</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ui-serf="about">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span>عن البرنامج</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ui-serf="profile">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span>الملف الشخصي</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span>تسجيل الخروج</span>
                    </span>
                </li>
            </ul>

        </div>

        <div class="mdl-layout__header-row mdl-layout--large-screen-only">

            <div class="row">
                <div class="btn-toolbar">
                    <div class="btn-group" data-toggle="buttons">

                        <button id="toggle1-action-menu-lower-right" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                            <span>جديد</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="toggle1-action-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openOfferCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">bookmark</i>
                                    <span>عرض جديد...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openAccountCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">book</i>
                                    <span>طالب جديد...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openPaymentCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">attach_money</i>
                                   <span>سند قبض...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openPaymentOutCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">money_off</i>
                                   <span>سند صرف...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openBillBuyCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">shopping_cart</i>
                                   <span>فاتورة شراء...</span>
                                </span>
                            </li>
                        </ul>

                        <button id="toggle2-report-menu-lower-right" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                            <span>العروض</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="toggle2-report-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportOfferByBranchModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>العروض حسب الفرع</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportOfferByMasterModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>العروض حسب التخصص</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportOfferByMasterCategoryModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>العروض حسب التصنيف</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportOfferByPersonModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>العروض حسب المستخدم</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportCallByPersonModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>اتصالات العروض حسب المستخدم</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportOfferByIdModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>العروض حسب رقم العرض</span>
                                </span>
                            </li>
                        </ul>

                        <button id="toggle3-report-menu-lower-right" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                            <span>التسجيل</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="toggle3-report-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportPrintContractModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>طباعة العقود</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportAccountByBranchModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>الطلاب المسجلين لكل فرع</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportAccountByMasterModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>الطلاب المسجلين لكل تخصص</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportAccountByMasterCategoryModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>الطلاب المسجلين حسب التصنيف</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportAccountByCourseModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>الطلاب المسجلين لكل دورة</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportBranchDetailsModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>بيانات الفروع</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportMasterDetailsModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>بيانات التخصصات</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportCourseDetailsModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                   <span>بيانات الدورات</span>
                                </span>
                            </li>
                        </ul>

                        <button id="toggle4-report-menu-lower-right" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                            <span>الايرادات</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="toggle4-report-menu-lower-right">
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ReportModelProvider.openReportPaymentByBranchModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>تقرير ايرادات الفرع</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportPaymentByMasterModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>تقرير ايرادات التخصص</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportPaymentByCourseModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>تقرير ايرادات الدورة</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                                ng-click="ReportModelProvider.openReportPaymentByMasterCategoryModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">print</i>
                                    <span>تقرير ايرادات بارقام السندات</span>
                                </span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </header>

    <div class="mdl-layout__drawer">
        <nav class="mdl-navigation">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default panel-nav">
                <div class="panel-body profile mdl-color--primary">
                    <div class="profile-image">
                        <img width="100" height="100"
                             ng-src="{{me.contact.photo}}"
                             src="ui/img/person.png"
                             alt="{{me.id}}"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">
                            {{me.contact.firstName}} {{me.contact.forthName}}
                        </div>
                    </div>
                    <div class="profile-controls">
                        <!--<a href="" ui-sref="about" class="profile-control-left">-->
                            <!--<i class="material-icons">info</i>-->
                        <!--</a>-->
                        <!--<a href="" ui-sref="help" class="profile-control-right">-->
                            <!--<i class="material-icons">help</i>-->
                        <!--</a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <div class="contact-info text-center">
                        <p>
                            {{me.contact.qualification}}
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <button uib-tooltip="الاعدادت"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="showMenuSettings=true;showMenuStates=false"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <i class="material-icons">settings</i>
                        </button>
                        <button uib-tooltip="الملف الشخصي"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="state.go('profile')"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <i class="material-icons">account_box</i>
                        </button>
                        <button uib-tooltip="خروج"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="logout()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <i class="material-icons">exit_to_app</i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- END CONTACT ITEM -->
            <div class="form-group row" ng-show="showMenuSettings===true">

                <div class="form-group col-xs-12 col-sm-12 col2-md-12 col-lg-12">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" ng-model="isFullScreen"
                               ng-change="goFullscreen()">
                        <span class="mdl-checkbox__label text-right">
                            <span>تفعيل ملء الشاشة</span>
                        </span>
                    </label>
                </div>

                <hr/>

                <div class="form-group col-xs-12 col-sm-12 col2-md-12 col-lg-12">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                        <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" ng-model="isStickyMenu"
                               ng-change="stickSideMenu===true?stickSideMenu=false:stickSideMenu=true">
                        <span class="mdl-checkbox__label text-right">
                            <span>تفعيل القائمة الجانبية</span>
                        </span>
                    </label>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col2-md-12 col-lg-12">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
                        <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input" ng-model="isDateType"
                               ng-change="switchDateType();">
                        <span class="mdl-checkbox__label text-right">
                            <span>تبديل نوع التقويم</span>
                        </span>
                    </label>
                </div>

                <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
                   href="" ng-click="showMenuStates=true;showMenuSettings=false">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">arrow_back</i>
                        <span>رجوع</span>
                    </span>
                </a>
            </div>
            <div ng-show="showMenuStates===true">

                <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
                   href=""
                   ng-show="contains(me.team.authorities, ['ROLE_PAYMENT_CREATE', 'ROLE_PAYMENT_UPDATE', 'ROLE_PAYMENT_DELETE'])"
                   ng-class="{'mdl-color-text--white mdl-color--primary mdl-navigation__link-active' : toggleState===1}"
                   ng-click="toggleState=1">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">business</i>
                        <span>سندات القبض</span>
                    </span>
                </a>

                <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
                   href=""
                   ng-show="contains(me.team.authorities, ['ROLE_PAYMENT_OUT_CREATE', 'ROLE_PAYMENT_OUT_UPDATE', 'ROLE_PAYMENT_OUT_DELETE'])"
                   ng-class="{'mdl-color-text--white mdl-color--primary mdl-navigation__link-active' : toggleState===2}"
                   ng-click="toggleState=2">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">layers</i>
                        <span>سندات الصرف</span>
                    </span>
                </a>

                <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
                   href=""
                   ng-show="contains(me.team.authorities, ['ROLE_BILL_BUY_TYPE_CREATE', 'ROLE_BILL_BUY_TYPE_UPDATE', 'ROLE_BILL_BUY_TYPE_DELETE'])"
                   ng-class="{'mdl-color-text--white mdl-color--primary mdl-navigation__link-active' : toggleState===3}"
                   ng-click="toggleState=3">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">security</i>
                        <span>حسابات فواتير الشراء</span>
                    </span>
                </a>

                <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
                   href=""
                   ng-show="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE', 'ROLE_BILL_BUY_UPDATE', 'ROLE_BILL_BUY_DELETE'])"
                   ng-class="{'mdl-color-text--white mdl-color--primary mdl-navigation__link-active' : toggleState===4}"
                   ng-click="toggleState=4">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">person_pin_circle</i>
                         <span>فواتير الشراء</span>
                    </span>
                </a>

                <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
                   href=""
                   ng-show="contains(me.team.authorities, ['ROLE_BANK_CREATE', 'ROLE_BANK_UPDATE', 'ROLE_BANK_DELETE'])"
                   ng-class="{'mdl-color-text--white mdl-color--primary mdl-navigation__link-active' : toggleState===5}"
                   ng-click="toggleState=5">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">person_pin_circle</i>
                         <span>البنك</span>
                    </span>
                </a>

            </div>
        </nav>
    </div>

    <main class="mdl-layout__content">

        <div ng-show="toggleState===1" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/calculate/state1.html'"></div>

        </div>

        <div ng-show="toggleState===2" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/calculate/state2.html'"></div>

        </div>

        <div ng-show="toggleState===3" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/calculate/state3.html'"></div>

        </div>

        <div ng-show="toggleState===4" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/calculate/state4.html'"></div>

        </div>

        <div ng-show="toggleState===5" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/calculate/state5.html'"></div>

        </div>

    </main>

</div>











