<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-body">

        <div class="row">
            <ul dir="rtl" class="breadcrumb">
                <li ng-repeat="item in itemsBillBuy | orderBy:'id' track by item.id">
                    <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                    <span ng-if="item.type==='title'" style="{{item.style}}">{{item.name}}</span>
                </li>
            </ul>
        </div>

        <div class="row">

            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                <button id="billBuy-menu-lower-right" style="width: 100%;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    <span>العمليات</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="billBuy-menu-lower-right">
                    <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                        ng-click="filterBillBuy()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">search</i>
                            <span>عرض بيانات الفواتير</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item" ng-click="newBillBuy()"
                        ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE'])">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">add</i>
                            <span>انشاء فاتورة جديد</span>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 pull-right">
                <button style="width:100%" id="report-menu-lower-right" style="width: 100%;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    <span>التقارير</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="report-menu-lower-right">
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="ReportModelProvider.openReportBillBuyByBranchModel()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">print</i>
                            <span>فواتير الشراء حسب الفرع</span>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="pull-left" ng-init="toggleList=1">
                <div class="btn-toolbar">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=1"
                                ng-class="{'active':toggleList===1}">
                            <input type="radio" name="options"/>
                            <i class="material-icons">reorder</i>
                        </button>
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=2"
                                ng-class="{'active':toggleList===2}">
                            <input type="radio" name="options"/>
                            <i class="material-icons">view_column</i>
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filter-div"
     ng-init="showFilter=false;showCreator=false"
     ng-show="showCreator===true" ng-init="billBuy={};">

    <form dir="rtl" name="form" ng-submit="createFastBill()" novalidate="novalidate" focus-group=""
          focus-stack=""
          focus-group-head="loop" focus-group-tail="loop">

        <div class="panel panel-danger">
            <div class="panel-heading">
                <ul class="panel-controls pull-left"
                    style="margin-top: 2px;">
                    <li>
                        <a href=""
                           ng-click="showCreator=false"
                           tooltip-append-to-body="true"
                           uib-tooltip="إغلاق">
                            <span class="fa fa-close"></span>
                        </a>
                    </li>
                </ul>
                <div class="panel-title-box pull-right">
                    <h3>إنشاء سريع للفواتير</h3>
                    <span>طريقة سريعة لإنشاء الفواتير</span>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group row">

                    <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                         ng-show="form.$invalid && form.$submitted">
                        <div class="alert alert-danger" role="alert">
                            <strong>فضلاً اكمل الحقول المطلوبة</strong>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label for="branchInsert" class="control-label">الفرع</label>
                            <ui-select id="branchInsert"
                                       focus-autofocus="1"
                                       ng-model="billBuy.branch"
                                       required="required"
                                       disable-validation-message=""
                                       theme="bootstrap">
                                <ui-select-match placeholder="اختر الفرع">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="branch in branches | filter: $select.search track by $index">
                                    <div ng-bind-html="branch.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label for="bank" class="control-label">اسم الحساب</label>
                            <ui-select id="bank"
                                       ng-model="billBuy.billBuyType"
                                       required="required"
                                       disable-validation-message=""
                                       theme="bootstrap">
                                <ui-select-match placeholder="اختر الحساب">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="billBuyType in billBuyTypes | filter: $select.search track by $index">
                                    <div ng-bind-html="billBuyType.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label for="name" class="control-label">مصدر الفاتورة</label>
                            <input id="name"
                                   type="text"
                                   required="required"
                                   disable-validation-message=""
                                   class="form-control text-right"
                                   placeholder="اذكر مصدر الفاتورة"
                                   ng-model="billBuy.fromName">
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label for="date" class="control-label">
                                <span> تاريخ الفاتورة</span>
                            </label>
                            <div dir="ltr" class="input-group">
                                <input dir="rtl"
                                       id="date"
                                       type="text"
                                       class="form-control text-right is-calendarPicker"
                                       ng-model="billBuy.date"
                                       calendarType="ummalqura"
                                       language="en"
                                       dateFormat="yyyy/mm/dd"
                                       showOnFocus="false"
                                       required="required"
                                       disable-validation-message=""
                                       readonly="readonly"
                                       kdatepicker>
                            </div>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label for="code" class="control-label">رقم الفاتورة</label>
                            <input id="code"
                                   type="number"
                                   required="required"
                                   disable-validation-message=""
                                   class="form-control text-right"
                                   placeholder="اذكر رقم الفاتورة"
                                   ng-model="billBuy.code">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label for="masterCreditAmount" class="control-label"> قيمة الفاتورة </label>
                            <div dir="ltr" class="input-group" id="masterCreditAmount">
                                <span class="input-group-addon">ريال سعودي</span>
                                <input type="number"
                                       min="1"
                                       class="form-control text-right "
                                       ng-model="billBuy.amount"
                                       placeholder="اذكر القيمة"
                                       required="required"
                                       disable-validation-message="">
                            </div>
                        </div>

                    </div>

                    <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="note" class="control-label">البيان</label>
                        <textarea id="note"
                                  type="text"
                                  msd-elastic=""
                                  required="required"
                                  class="form-control text-right"
                                  disable-validation-message=""
                                  placeholder="اذكر باختصار سبب صرف الفاتورة"
                                  ng-model="billBuy.note">
                                </textarea>
                    </div>


                </div>

            </div>
            <div class="panel-footer">

                <div class="row text-left">
                    <button uib-tooltip="اضافة"
                            tooltip-append-to-body="true"
                            type="submit"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">add</i>
                    </button>
                    <button uib-tooltip="مسح الحقول"
                            tooltip-append-to-body="true"
                            type="reset"
                            ng-click="form.$setPristine();billBuy={};"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">delete</i>
                    </button>
                    <button uib-tooltip="خروج"
                            tooltip-append-to-body="true"
                            type="button"
                            ng-click="showCreator=false"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <i class="material-icons">power_settings_new</i>
                    </button>
                </div>

            </div>
        </div>

    </form>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filter-div" ng-show="showFilter===true">

    <form dir="rtl" name="form" ng-submit="searchBillBuy()" novalidate="novalidate" focus-group=""
          focus-stack=""
          focus-group-head="loop" focus-group-tail="loop">

    <div class="panel panel-warning">
        <div class="panel-heading">
            <ul class="panel-controls pull-left"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="showFilter=false"
                       tooltip-append-to-body="true"
                       uib-tooltip="إغلاق">
                        <span class="fa fa-close"></span>
                    </a>
                </li>
                <li>
                    <a href=""
                       ng-click="clearBuffer()"
                       tooltip-append-to-body="true"
                       uib-tooltip="مسح الحقول">
                        <span class="fa fa-trash"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box pull-right">
                <h3>تصفية وبحث</h3>
                <span>عرض تلقائي من قاعدة البيانات مباشرة</span>
            </div>
        </div>
        <div class="panel-body">

            <div class="form-group row">

                <div class="form-group row">

                    <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label for="branch" class="control-label">[رقم الفرع] اسم الفرع</label>
                        <select id="branch"
                                class="form-control text-right"
                                ng-model="buffer.branch"
                                focus-autofocus="1"
                                ng-options="(' [ ' + branch.code + ' ] ' + ' ' + branch.name) for branch in branches | orderBy:'code' track by branch.id">
                        </select>
                    </div>

                    <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label for="dateFrom" class="control-label">تاريخ الفاتورة من</label>
                        <div dir="ltr" class="input-group">
                            <input dir="rtl"
                                   id="dateFrom"
                                   type="text"
                                   class="form-control text-right is-calendarPicker"
                                   ng-model="buffer.dateFrom"
                                   calendarType="ummalqura"
                                   language="en"
                                   dateFormat="yyyy/mm/dd"
                                   showOnFocus="false"
                                   readonly="readonly"
                                   kdatepicker>
                        </div>
                    </div>

                    <div class="form-group text-right col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label for="dateTo" class="control-label">تاريخ الفاتورة إلى</label>
                        <div dir="ltr" class="input-group">
                            <input dir="rtl"
                                   id="dateTo"
                                   type="text"
                                   class="form-control text-right is-calendarPicker"
                                   ng-model="buffer.dateTo"
                                   calendarType="ummalqura"
                                   language="en"
                                   dateFormat="yyyy/mm/dd"
                                   showOnFocus="false"
                                   readonly="readonly"
                                   kdatepicker>
                        </div>
                    </div>

                </div>

                <div class="form-group row">

                    <div class="form-group text-right col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <label for="codeFrom" class="control-label">رقم الفاتورة من</label>
                        <input id="codeFrom"
                               type="number"
                               min="1"
                               class="form-control text-right"
                               placeholder="ادخل الرقم من"
                               ng-model="buffer.codeFrom">
                    </div>

                    <div class="form-group text-right col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <label for="codeTo" class="control-label">رقم الفاتورة إلى</label>
                        <input id="codeTo"
                               type="number"
                               min="1"
                               class="form-control text-right"
                               placeholder="ادخل الرقم إلى"
                               ng-model="buffer.codeTo">
                    </div>

                    <div class="form-group text-right col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <label for="amountFrom" class="control-label">قيمة الفاتورة من </label>
                        <input id="amountFrom"
                               type="number"
                               min="1"
                               class="form-control text-right"
                               placeholder="ادخل القيمة من"
                               ng-model="buffer.amountFrom">
                    </div>

                    <div class="form-group text-right col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <label for="amountTo" class="control-label">قيمة الفاتورة إلى </label>
                        <input id="amountTo"
                               type="number"
                               min="1"
                               class="form-control text-right"
                               placeholder="ادخل القيمة إلى"
                               ng-model="buffer.amountTo">
                    </div>

                </div>

            </div>

        </div>
        <div class="panel-footer">

            <div class="row text-left">
                <button uib-tooltip="بحث"
                        tooltip-append-to-body="true"
                        type="submit"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">search</i>
                </button>
                <button uib-tooltip="مسح الحقول"
                        tooltip-append-to-body="true"
                        type="reset"
                        ng-click="form.$setPristine();clear();"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">delete</i>
                </button>
                <button uib-tooltip="خروج"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="showFilter=false"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    <i class="material-icons">power_settings_new</i>
                </button>
            </div>

        </div>
    </div>

    </form>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

    <div class="panel panel-info">
        <div class="panel-heading">
            <ul class="panel-controls pull-left"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="showFilter=true"
                       tooltip-append-to-body="true"
                       uib-tooltip="تصفية البيانات">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-click="showCreator=true"
                       ng-show="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE'])"
                       tooltip-append-to-body="true"
                       uib-tooltip="انشاء فاتورة جديدة">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box pull-right">
                <h3>قائمة فواتير الشراء</h3>
            </div>
        </div>
        <div class="panel-body panel-body-table">
            <div class="table-responsive">
                <table st-table="collection1" st-safe-src="billBuys"
                       class="table table-bordered table-hover">
                    <thead>
                    <tr>

                        <th class="text-center">
                            <span>#</span>
                        </th>

                        <th st-sort="code" class="text-right">
                            <span> رقم الفاتورة</span>
                        </th>

                        <th st-sort="date" class="text-right">
                            <span> تاريخ الفاتورة</span>
                        </th>

                        <th st-sort="amount" class="text-right">
                            <span>قيمة الفاتورة</span>
                        </th>

                        <th st-sort="billBuyType.name" class="text-right">
                            <span>نوع الحساب</span>
                        </th>

                        <th st-sort="fromName" class="text-right">
                            <span>مصدر الفاتورة</span>
                        </th>

                        <th st-sort="note" class="text-right">
                            <span>بيان الفاتورة</span>
                        </th>

                        <th st-sort="branch.name" class="text-right">
                            <span>الفرع</span>
                        </th>

                        <th st-sort="lastPerson.contact.firstName" class="text-right">
                            <span> مدخل الفاتورة</span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-right"
                        ng-repeat="billBuy in collection1"
                        st-select-mode="single"
                        context-menu="rowMenuBillBuy"
                        ng-click="setSelectedBillBuy(billBuy)"
                        ng-right-click="setSelectedBillBuy(billBuy)">
                        <td st-select-row-custom="billBuy">{{$index+1}}</td>
                        <td st-select-row-custom="billBuy">{{billBuy.code}}</td>
                        <td st-select-row-custom="billBuy">
                            {{billBuy.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                        </td>
                        <td st-select-row-custom="billBuy">{{billBuy.amount | currency:'SAR':0}}</td>
                        <td st-select-row-custom="billBuy">{{billBuy.billBuyType.name}}</td>
                        <td st-select-row-custom="billBuy">{{billBuy.fromName}}</td>
                        <td st-select-row-custom="billBuy">{{billBuy.note}}</td>
                        <td st-select-row-custom="billBuy">
                            [ {{billBuy.branch.code}} ]
                            {{billBuy.branch.name}}
                        </td>
                        <td st-select-row-custom="billBuy">
                            {{billBuy.lastPerson.contact.firstName}}
                            {{billBuy.lastPerson.contact.forthName}}
                        </td>
                    </tr>
                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                        ng-show="!collection1 || collection1.length ==0">
                        <td colspan="9">لا توجد بيانات</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9">
                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
    <div st-table="collection2" st-safe-src="billBuys">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="billBuy in collection2">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img width="100" height="100"
                             ng-src="{{billBuy.logo}}"
                             src="/ui/img/no-image.jpg"
                             alt="{{billBuy.code}}"/>
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">{{billBuy.code}}</div>
                    </div>
                    <div class="profile-controls">
                        <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                        <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <div class="contact-info">
                        <p>
                            <strong>نوع الحساب</strong>
                            {{billBuy.billBuyType.name}}
                        </p>
                        <hr>
                        <p>
                            <strong>قيمة الفاتورة</strong>
                            {{billBuy.amount | currency:'SAR':0}}
                        </p>
                        <hr>
                        <p>
                            <strong>تاريخ الفاتورة</strong>
                            {{billBuy.date | kdate: 'dd-mm-yyyy' : 'ar' : 'ummalqura'}}
                        </p>
                        <hr>
                        <p>
                            <strong>بواسطة</strong>
                            {{billBuy.lastPerson.contact.firstName}}
                            {{billBuy.lastPerson.contact.forthName}}
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <button uib-tooltip="فاتورة جديدة"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE'])"
                                ng-click="newBillBuy();"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <i class="material-icons">add</i>
                        </button>
                        <button uib-tooltip="حذف"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_DELETE'])"
                                ng-click="deleteBillBuy(billBuy)"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- END CONTACT ITEM -->
        </div>
    </div>
</div>