<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/product.{{iconSetType}}" width="24" height="24">
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="parent" class="control-label">التصنيف الرئيسي</label>
                <ui-select id="parent"
                           ng-model="product.parent"
                           focus-autofocus="1"
                           required="required"
                           disable-validation-message=""
                           theme="bootstrap">
                    <ui-select-match placeholder="اختر التصنيف">
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="parent in parents | filter: $select.search | orderBy:'code' track by parent.id">

                        <div class="mdl-menu__item--full-bleed-divider"></div>
                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                            <span class="mdl-list__item-primary-content">
                                <span class="material-icons mdl-list__item-avatar"
                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/product.{{iconSetType}}')"></span>
                                <div ng-bind-html="parent.name | highlight: $select.search"></div>
                                <span class="mdl-list__item-sub-title">
                                    <span>رقم التصنيف / </span>
                                    {{parent.code}}
                                </span>
                                <span class="mdl-list__item-sub-title">
                                    <span>الاسم / </span>
                                    {{parent.name}}
                                </span>
                            </span>
                        </li>

                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="name" class="control-label">اسم التصنيف الفرعي</label>
                <input id="name"
                       type="text"
                       focus-autofocus="2"
                       required="required"
                       disable-validation-message=""
                       class="form-control"
                       placeholder="اجباري"
                       ng-model="product.name">
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="تعديل"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/edit.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>