<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
                <li class="mdl-menu__item">
                    <span>المساعدة</span>
                </li>
                <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">
                    <span>الملف الشخصي</span>
                </li>
                <li class="mdl-menu__item" ng-click="logout()">
                    <span>تسجيل الخروج</span>
                </li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div class="form-group col-md-2 pull-right">
                    <button id="offer-menu-lower-right" style="width: 100%;"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                        <span>العمليات</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="offer-menu-lower-right">
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" ng-click="reload()">
                            <span>تحديث</span>
                        </li>
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" ng-click="read()">
                            <span>عرض</span>
                        </li>
                        <li class="mdl-menu__item" ng-click="openCreateModel()"
                            ng-if="contains(authorities, ['ROLE_BILL_BUY_TYPE_CREATE'])">
                            <span>اضافة نوع جديد</span>
                        </li>
                        <li class="mdl-menu__item" ng-click="openUpdateModel()"
                            ng-if="contains(authorities, ['ROLE_BILL_BUY_TYPE_UPDATE'])"
                            ng-hide="!billBuyTypes || billBuyTypes.length==0">
                            <span>تعديل بيانات نوع</span>
                        </li>
                        <li class="mdl-menu__item" ng-click="remove()"
                            ng-if="contains(authorities, ['ROLE_BILL_BUY_TYPE_DELETE'])"
                            ng-hide="!billBuyTypes || billBuyTypes.length==0">
                            <span>حذف نوع</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div dir="rtl" style="margin-top: 10px">

            <div class="col-md-12">
                <div class="panel panel-body">

                    <div class="table-responsive">
                        <table st-table="collection" st-safe-src="billBuyTypes" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>

                                <th class="text-center">
                                    <span>م</span>
                                </th>

                                <th st-sort="code" lass="text-right">
                                    <span> رقم الحساب</span>
                                </th>

                                <th st-sort="name" class="text-right">
                                    <span> اسم الحساب</span>
                                </th>

                                <th st-sort="lastUpdate" class="text-right">
                                    <span> تاريخ الإضافة</span>
                                </th>

                                <th st-sort="billBuys.length" class="text-right">
                                    <span>عدد الفواتير</span>
                                </th>

                                <th st-sort="lastPerson.contact.firstName" class="text-right">
                                    <span> مدخل الحساب</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-right"
                                ng-repeat="billBuyType in collection"
                                st-select-mode="single"
                                ng-click="setSelected(billBuyType)"
                                ng-right-click="setSelected(billBuyType)"
                                ng-class="{'mdl-color--brown-100':billBuyType.isSelected}">
                                <td st-select-row-custom="billBuyType">{{$index+1}}</td>
                                <td st-select-row-custom="billBuyType">{{billBuyType.code}}</td>
                                <td st-select-row-custom="billBuyType">{{billBuyType.name}}</td>
                                <td st-select-row-custom="billBuyType">{{billBuyType.lastUpdate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</td>
                                <td st-select-row-custom="billBuyType">{{billBuyType.billBuys.length}}</td>
                                <td st-select-row-custom="billBuyType">
                                    {{billBuyType.lastPerson.contact.firstName}}
                                    {{billBuyType.lastPerson.contact.forthName}}
                                    <span class="label label-default">فرع / {{billBuyType.lastPerson.branch.name}}</span>
                                </td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!collection || collection.length ==0">
                                <td colspan="6">لا توجد بيانات</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

    </main>

</div>











